[2020-03-14 00:53] jlmakes commented on #511
Thanks for the report and reproduction @allaire

I'm comparing changes in element state, and focusing on `{ revealed: false }` being set _after_ the element has revealed. `revealed = false` occurs three times in the source, and only one looks guilty:

https://github.com/jlmakes/scrollreveal/blob/66f44ab08c3cd0a3df7ced9b2e01e4ffcf809cb2/src/instance/functions/initialize.js#L7-L21

`Line 10` seems a

[2020-03-14 12:32] allaire commented on #511
Hi @jlmakes, awesome thanks for the detailed reply. Let me know if you need help to test a potential fix.

Also, while testing ScrollReveal, I also experienced this issue: https://github.com/jlmakes/scrollreveal/issues/231

I know it's an old one, but I decided to reply instead of opening a new issue. I wasn't able to create a reproduction in a JSFiddle environment. Any advice how I can help with

[2020-03-15 06:56] jlmakes commented on #231
The default transition property varies across browsers. According to the tests I ran, there were 4 possible values. See my annotations in the source:

https://github.com/jlmakes/scrollreveal/blob/66f44ab08c3cd0a3df7ced9b2e01e4ffcf809cb2/src/instance/functions/style.js#L173-L182

I don't recall what browser each value corresponds to, but a cursory check suggests that WebKit based browsers (such as

[2020-03-15 06:57] jlmakes commented on #231
The default transition property varies across browsers. According to the tests I ran, there were 4 possible values. See my comments in the source:

https://github.com/jlmakes/scrollreveal/blob/66f44ab08c3cd0a3df7ced9b2e01e4ffcf809cb2/src/instance/functions/style.js#L173-L182

I don't recall what browser each value corresponds to, but a cursory check suggests that WebKit based browsers (such as Chr

[2020-03-15 12:26] allaire commented on #231
Hi @jlmakes, your fix does work! Now everything works as expected.

The only difference versus using `onload`` is that there is no reveal animation when you are already scrolled to an element that is `.reveal()`, which is expected since the code runs right away.

Found some resources on Google about `transition: none 0s`:

https://chromium.googlesource.com/chromium/src/+/master/third_party/blink/w

[2020-03-15 21:56] jlmakes commented on #507
The primary event handler is `ScrollReveal().delegate()`, which is invoked on `scroll` and `resize` events. That's the function that checks for changes in element visibility, triggers animations, etc. You normally don't need to manually invoke this function, but in your case, it would make sense to do so inside your accordion click handler.

[2020-03-15 21:56] #507 closed

[2020-03-15 21:58] jlmakes commented on #509
There are no typings that I'm aware of for ScrollReveal, or third-party adapters. This will likely be addressed in an upcoming release, but for now it's up to you :)

[2020-03-15 21:58] #509 closed

[2020-03-16 04:23] jlmakes commented on #231
Cool links, thanks. The Chromium source is especially interesting! This suggests that somehow `window.onload` impacts whether the transition default value is an empty string, or "none".

Weird :D

[2020-03-16 04:42] #231 closed

[2020-03-16 13:09] allaire commented on #231
Awesome @jlmakes, thanks for the great work and support. 🍻

[2020-03-16 21:40] satiroglumustafa opened #512 "Reveal scroll doesn't work with lazyload"
Hi. I Having a problem

I am loading the content on my site using lazy load. I think lazyload and reveal Scroll are not working in coordination. Because when I give the reveal class to any div, that div opacity remains 0 and the animation doesn't work. What would be the reason? Can you help me

My site -- >https://www.mustafasatiroglu.com/cocukfikri/

before: https://i.hizliresim.com/bJdBEn.png
af

[2020-03-25 16:24] GiorgioPeng opened #513 "Cannot find clean method or options in TypeScript"
when I use create-react-app and Typescript.
[code]
<img width="951" alt="截屏2020-03-26 上午12 32 09" src="https://user-images.githubusercontent.com/34415646/77561104-3bf44e00-6ef9-11ea-84e2-2c05a3bdd270.png">

And it reminds me can not find "clean". And when I checked the Declaration file which is created by ts, I also could not find the "clean" attribute. Can I use it in TypeScript?
<img width="897"

[2020-03-25 20:39] jlmakes commented on #513
I believe you're referring to is [`options.cleanup`](https://scrollrevealjs.org/api/cleanup.html)

[2020-03-25 20:40] jlmakes commented on #513
I believe you're referring to [`options.cleanup`](https://scrollrevealjs.org/api/cleanup.html), which is an option to control whether or not the [`clean()`](https://scrollrevealjs.org/api/clean.html) method is called automatically after reveals.

[2020-03-26 00:24] GiorgioPeng commented on #513
Sorry, I made a mistake. But when I tried to use the options.cleanup, it still reminded me there is something wrong.
<img width="942" alt="截屏2020-03-26 上午8 20 27" src="https://user-images.githubusercontent.com/34415646/77597894-34ee2f80-6f3b-11ea-9d1d-a6adc9d83bbb.png">

[2020-03-26 00:46] GiorgioPeng commented on #513
And I found a mistake in the API documentation.
<img width="773" alt="截屏2020-03-26 上午8 45 25" src="https://user-images.githubusercontent.com/34415646/77598974-3f5df880-6f3e-11ea-84c8-1907898e4609.png">

[2020-03-26 05:13] jlmakes commented on #513
Well there aren't first party typings. Where are you getting these types? Specifically, where is the `ScrollRevealObjectOptions` interface defined?

[2020-03-26 05:14] jlmakes commented on #513
Well there aren't first party typings. Where are you getting these types? Specifically, where is the `ScrollRevealObjectOptions` interface defined?

[2020-03-26 05:20] GiorgioPeng commented on #513
Thank you, I know how to solve the problem now.
I get it by
[code]
[The interface is defined from here](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/scrollreveal)

[2020-03-26 05:30] #513 closed

[2020-03-27 11:20] hrvstr opened #514 "Play/Pause HTML5 videos based on visibility with beforeReveal and beforeReset"
Hi, I want to play and pause HTML5 videos based on their visibility with ScrollReveal. Kind of like how Twitter and Facebook does it for GIFs (only autoplay and loop the video when visible).

I got it mostly working but only for the first video. I think this is because I am using `document.getElementById` and id's should be unique in valid HTML. But I can't get it to work at all with `document.get

[2020-03-29 05:32] jlmakes commented on #514
Each callback is passed the revealed element as `el`

[code]

[2020-03-29 05:32] #514 closed

[2020-03-31 14:41] tsangaris opened #515 "Flyout menus and z-index"
### Environment

* Operating System: MacOS 10.15.4
* Browser Version: Chrome 80.0.3987.149 (Official Build) (64-bit)
* ScrollReveal Version: "scrollreveal": "^4.0.6",

Hi,

I am building a website with a Navbar that has Flyout menus (something similar to Stripe.com).

Below the navbar, I have some text that I use ScrollReveal to reveal them. After I reveal them, the flyout menus are hidden behind

[2020-03-31 23:21] jlmakes commented on #515
By removing the `transform` property value, you are destroying its [Stacking Context (MDN)](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context). If you're looking for alternative solutions, the documentation may give you ideas on how to refactor.

[2020-03-31 23:24] jlmakes commented on #515
As far as ScrollReveal is concerned, I don't think it breaks anything.

By removing the `transform` property value, you are destroying its [Stacking Context (MDN)](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context). If you're looking for alternative solutions, the documentation may give you ideas on how to refactor.

[2020-03-31 23:25] jlmakes commented on #515
As far as ScrollReveal is concerned, I don't think it breaks anything.

By removing the `transform` property value, you are destroying its [Stacking Context (MDN)](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context). If you're looking for alternative solutions, the documentation may give you ideas on how to refactor.

[2020-04-01 21:00] #515 closed

[2020-04-15 03:22] Fang-hui-lin opened #516 "在nuxt中可以用吗"
### Environment

* Operating System:
* Browser Version:
* ScrollReveal Version:

[2020-04-17 08:15] kerns commented on #512
I am experiencing the same thing but only intermittently with LazySizes and SR. So maybe 1 in 20 times the items will not reveal as expected.

I know you cannot support third party scripts but it would be nice if they could work it out together somehow... Lazy Sizes is a really great library.

[2020-04-17 09:36] jlmakes commented on #512
I agree wholeheartedly.

What's interesting to think about is that ScrollReveal v4 is essentially v3, but with bug fixes and a much better sequencer. So in a sense, we can trace back its philosophy to late 2015 when I began development on v3. A lot has changed since then, and I believe the entire library needs to be rethought to reflect the evolution of its community. I'm working on it, but there

[2020-04-20 11:36] jorisvdz commented on #455
I am expiring the same behaviour, is there any information on how to fix it?

- Using ScrollReveal v4.0.5
- Using the utility class to prevent flickering
- Using mobile: false
- Results in: elements not being showed on mobile devices

Thanks!

[2020-04-25 22:33] jlmakes commented on #455
Oof, I'm pretty sure I found the bug: `line 3`

https://github.com/jlmakes/scrollreveal/blob/c98fad79f4750dfd80797414e7d94f1cddd2109c/src/index.js#L1-L5

I'm invoking the constructor (with default options, which includes `mobile: true`) when the script is loaded, which was ironically meant to help developers ensure elements didn't "flicker" on page-load.

This was added during the ScrollReveal 4 b

[2020-04-29 20:19] jasonwaltman opened #517 "Different reveal on load vs on scroll"
I'd like to have a subtle reveal effect for a masonry grid of images on page load but something more dynamic for images revealed by scrolling.  I found issue #276 which suggested a technique to call another `reveal()` in `afterReveal()` for no reveal on page load, only on scroll.  I thought that might work in my case too, but after investigating, the technique only seems to work because the first

[2020-05-02 05:49] jlmakes commented on #455
Without introducing more complexity, I believe the solution is to use the `data-` attribute added by ScrollReveal in the "anti-flicker" selector — so that only valid ScrollReveal elements are hidden.

[code]

However, my assumption is that in order for this to work (as in, effectively prevent flickering,) one must load ScrollReveal in the `<head>` which unfortunately blocks page rendering. It may

[2020-05-02 05:52] jlmakes commented on #455
Without introducing more complexity, I believe the solution is to use the `data-` attribute added by ScrollReveal in the "anti-flicker" selector — so that only valid ScrollReveal elements are hidden.

[code]

However, my assumption is that in order for this to work (as in, effectively prevent flickering,) one must load ScrollReveal in the `<head>` which unfortunately blocks page rendering. It may

[2020-05-02 05:54] jlmakes commented on #455
Without introducing more complexity, I believe the solution is to use the `data-` attribute added by ScrollReveal in the "anti-flicker" selector — so that only valid ScrollReveal elements are hidden.

[code]

However, my assumption is that in order for this to work (as in, effectively prevent flickering,) one must load ScrollReveal in the `<head>` which unfortunately blocks page rendering. It may

[2020-05-04 14:37] kerns opened #518 "Staggered Reveal"
Just entering this feature request into the record. Staggered reveal would be just like the sequenced reveal but randomized. In many ways this mimics or emulates real-time lazy loading.

[2020-05-04 21:43] jlmakes commented on #518
I'm not sure it's exactly what you're imagining, but I was thinking you could randomize the `options.delay` for each revealed item.

[code]

See the [Demo on JSbin](https://jsbin.com/gasuwacece/1/edit?js,output)

[2020-05-04 21:43] #518 closed

[2020-05-04 23:14] kerns commented on #518
YES. That's it. Thanks 👍 Hope to see it as a feature in your next release should that come.

[2020-05-19 14:13] maki3000 opened #519 "Different interval option for first elements"
Hello! I'm trying to add different interval options for the first three elements in a grid.

I'm using following code:

`      // get number of rows in grid (it's 3 for the desktop view)
        let numberOfRows = $('.masonry-grid').css('grid-template-columns').split(' ').length;

        // Grab all elements to scroll reveal
        let $scrollElement = $('.scroll-reveal-masonry');

        // sr

[2020-06-12 11:51] PradyumnaKrishna opened #520 "I want to reverse the scroll reveal animations"
I want to reverse the scroll reveal animations just like this [site](https://the-goonies.webflow.io/)

Tell me how to add such animations or tell me other libraries for that.
Thank You

[2020-06-23 05:40] oziged opened #521 "Scroll jumps when the page is updated (only chrome)"
The bug occurs when the screen size (viewport) is smaller than the section that will appear. When the page loads for the first time, everything is OK, but when you update it again, the scroll starts to jump in chrome.

Demo :
YT : [https://www.youtube.com/watch?v=AuNNhVGY7z8&feature=youtu.be](url)
Site : [https://oziged.github.io/projects/reveal-bug/](url)

* Operating System: Ubuntu 18.04
* Brows

[2020-06-23 17:15] alexwidua commented on #437
Hey @jlmakes, I'm a bit late to the party but I ran into the exact same problem as @mikehoh (using Vuejs SPA, going back and forth in history results in a `Cannot read property 'bounds' of undefined` error) and your proposed solution solves the problem.

[2020-06-25 08:00] jlmakes commented on #521
My first hypothesis is that your JavaScript is being executed _before_  the image has been downloaded.

I recommend trying your code inside a `load` event handler to wait for the image to download before executing your code, which might look something like this:

[code]

Please let me know if that improves things.

[2020-06-25 08:01] jlmakes commented on #521
My first hypothesis is that your JavaScript is being executed _before_  the image has been downloaded, which means ScrollReveal is working with a `0 x 0` image since the image has no explicit dimensions (only max-width).

I recommend trying your code inside a `load` event handler to wait for the image to download before executing your code, which might look something like this:

[code]

Please let

[2020-06-25 10:08] oziged commented on #521
Thank you for your response and your plugin.
Unfortunately, in my situation, it is not possible to wait for all the content to load via window.onload (I wait for images to load only on the first screen and then run scrollreveal). When the images on the first screen are loaded, other images, that are below, still loading and scroll still jumps (:

In any case, thanks for trying to help, the bug in

[2020-06-25 19:09] jlmakes commented on #521
If possible, you can set the dimensions with CSS ahead of time to avoid the temporary `0 x 0` dimensions.

For example, you might try `width: 500px; height: 500px` instead of `max-width: 500px` to see if it changes things.

[2020-07-13 02:44] matthewattanasio commented on #437
Hey @jlmakes and @alexwidua I am using Vuejs with Gridsome so I believe its a SPA. I am using  [Vue-scrollTo](https://www.npmjs.com/package/vue-scrollto) which uses ScrollReveal at the latest version of 4.0.6 for scrollReveal. However, I am still getting the exact same error `Cannot read property 'bounds' of undefined`

Any help would be much appreciated.

[2020-07-13 04:20] jlmakes commented on #437
@matthewattanasio I'll publish the fix tomorrow as `4.0.7`

[2020-07-15 05:21] matthewattanasio commented on #437
awesome @jlmakes , looking forward to it

[2020-07-15 07:57] jlmakes commented on #437
Had a tough Monday, but thanks for the reminder @matthewattanasio! Just pushed `4.0.7`, thanks again @alexwidua!

[2020-07-15 08:03] jlmakes commented on #437
Thanks for the reminder @matthewattanasio! Just pushed `4.0.7`, thanks again @alexwidua!

[2020-07-15 08:04] jlmakes commented on #437
Thanks for the reminder @matthewattanasio! Just published `4.0.7` 🚀 Thanks again @alexwidua!

[2020-07-15 08:10] jlmakes commented on #455
I haven't yet thought this through, but I believe https://github.com/jlmakes/scrollreveal/commit/6d8d0b734a35e1f5c09e82c273e313f73f9f4a53 may actually have something to do with this. By invoking the constructor automatically, I believe it is unintentionally undermining attempts to disable otherwise supported platforms.

I'm working on this.

[2020-07-16 04:43] matthewattanasio opened #523 "Safari - SR Elements do not reveal second time page is loaded on Vue Gridsome"
I am still having the issue where SR elements are not appearing when you navigate to the same page more than once.
There are currently no errors in console for Safari so do not know where to direct my attention to.

I am using the following settings.

[code]

You can view the issue here by using Safari and navigating here https://new-blob--skyfoundry.netlify.app/ and then going to the case studies

[2020-07-16 06:20] jlmakes commented on #523
Just to confirm, with `4.0.6` you ran into the same problem but with console errors?

[2020-07-16 06:21] matthewattanasio commented on #523
That is correct @jlmakes

[2020-07-16 06:26] jlmakes commented on #523
Could you redeploy the site with `ScrollReveal` attached to the `window`? It'll help me debug if I can poke around its internal state (such as what elements ScrollReveal thinks are visible, their dimensions, etc.)

[2020-07-27 22:34] jlmakes commented on #523
@matthewattanasio Could you redeploy the site with `ScrollReveal` attached to the `window`? It'll help me debug if I can poke around its internal state (such as what elements ScrollReveal thinks are visible, their dimensions, etc.)

Also, did `4.0.7` fix this problem in other browsers?

[2020-08-06 13:28] Vince-vegas opened #524 "For React"
Can you use this library on ReactJs

[2020-08-12 12:34] pShalenniy commented on #497
I got the same problem, fixed with setTimeout

[2020-08-16 12:40] vasiliostakos opened #525 "When a Bootstrap modal opens, scrollReveal is hiding the elements"
I use the below code but when a Bootstrap modal is opening, all elements after the modal start disappearing instead of the opposite. If I change the "reset: (to) false", I don't have the same issue, but the scrollReveal stops working of course anymore, either the modal, after that, is open or close.

[code]
### Environment

* Operating System:
* Browser Version: Firefox (79.0), Chrome (84.0)
* Scr

[2020-10-09 17:25] lovecoding-git opened #526 "How to scale up and down"
Hi, Thank you for such great package.
My one question is how to apply multi-step scale?

For example I want to put breathing effect.
scale(1)->scale(1.01) -> scale(0.95)
0s------------0.5s------------1s
How can I do it?

[2020-10-10 21:23] jlmakes commented on #526
There's presently no way to define multi-step transitions. I was thinking you might try to use an easing function with "overshoot", something like [`cubic-bezier(0, 0, 0.5, 1.20)`](https://cubic-bezier.com/#0,0,.5,1.2). Thanks for the idea, and good luck!

[2020-10-10 21:23] #526 closed

[2020-10-12 05:28] lovecoding-git commented on #526
@jlmakes
Thank you for your advice!

[2020-10-13 08:20] salunet opened #527 "scrolling too fast will cause no display (issue is back)"
The fast scrolling problem has returned. Version 4.0.0-beta26 works fine, after this version it goes wrong again.

Hopefully this is enough to solve the problem.

**Related:**
https://github.com/jlmakes/scrollreveal/issues/341
https://github.com/jlmakes/scrollreveal/issues/374

[2020-10-13 23:54] jlmakes commented on #527
This problem originally occurred because the "pointer" I was using to indicate the head of the sequence (as in the next element to reveal) could end up outside the viewport. The `v4.beta.26` release introduced its own bug, which is why I reverted those changes. So "works fine" is not quite accurate, but you're right it doesn't show the particular bug you're referring to.

Before releasing `4.0.0`,

[2020-10-13 23:56] jlmakes commented on #527
This problem originally occurred because the "pointer" I was using to indicate the head of the sequence (as in the next element to reveal) could end up outside the viewport. The `v4.beta.26` release introduced its own bug, which is why I reverted those changes. So "works fine" is not quite accurate, but you're right it doesn't show the particular bug you're referring to.

Before releasing `4.0.0`,

[2020-10-27 09:08] stefanroman opened #528 "reset: false not working on mobile devices"
### Environment

* Operating System:
* Browser Version:
* ScrollReveal Version: 4.0.6

Hello! I'm using ScrollReveal with option reset: false, to trigger animations only once on scroll up/down. It works great on desktop devices, but on mobile the animations appear each time I'm scrolling up and down.

[2020-11-17 21:13] DanielReyes03 commented on #50
Thanks @jlmakes,  `overflow: hidden; `  works for me.

[2020-11-26 06:27] eiranix commented on #384
@jlmakes Another refinement to your if statement there is to make it pick the correct direction on first load:
[code]

[2020-12-17 09:05] KonstantinKudelko commented on #411
Hey @jlmakes

Thanks for this awesome library 🔥
Not ScrollReveal has 4.0.7 version, do you have some solution regarding this issue?

Thanks one more time 🙏

[2020-12-17 14:44] ugrupp commented on #306
Yup, unfortunately this doesn't seem to work with using `interval`.

[2020-12-17 23:40] jlmakes commented on #411
@KonstantinKudelko Maybe https://scrollrevealjs.org/guide/user-experience.html can help you?

[2021-01-09 20:43] greenm1nd3d opened #529 "Reveal elements when scrolling horizontally, possible?"
I have a 1000px wide container, "with overflow: hidden". Inside the container, I have a UL with 4 LI, and each list item is 500px wide. Each list item has pictures and text in it. If I scroll from left to right (or vise versa), I want each LI (and its contents) to be revealed as they enter the view. I can only make scrollreveal work for vertical scrolling, but not horizontal scrolling.

[2021-01-25 21:16] jlmakes commented on #529
You must change the [`options.container`](https://scrollrevealjs.org/api/container.html) if you're scrolling a custom element, after which you should have no problem revealing elements scrolling horizontally.

[2021-01-25 21:17] jlmakes commented on #529
You must change the [`options.container`](https://scrollrevealjs.org/api/container.html) to the 1000px wide container element you're scrolling (instead of the body). After doing so you should have no problem revealing elements scrolling horizontally.

[2021-01-25 21:17] #529 closed

[2021-01-26 19:37] dinh-tu-fool commented on #458
Any alternative solution to implement both of these?

[2021-01-27 01:04] jlmakes commented on #458
@dinh-tu-fool ScrollReveal uses `scroll` (and `resize`) events to trigger calls to `ScrollReveal().delegate()` which is the main event handler that checks element dimensions, visibility, etc. However, there's no reason you can't call `delegate` when and however you want.

So if your smooth scrolling library doesn't use `scroll` events, it's up to you to call `ScrollReveal().delegate()` in response

[2021-01-27 01:04] jlmakes commented on #458
@dinh-tu-fool ScrollReveal 4 uses `scroll` (and `resize`) events to trigger calls to `ScrollReveal().delegate()` which is the main event handler that checks element dimensions, visibility, etc. However, there's no reason you can't call `delegate` when and however you want.

So if your smooth scrolling library doesn't use `scroll` events, it's up to you to call `ScrollReveal().delegate()` in respon

[2021-01-27 01:05] jlmakes commented on #458
@dinh-tu-fool ScrollReveal 4 uses `scroll` (and `resize`) events to trigger calls to `ScrollReveal().delegate()` which is the main event handler that checks element dimensions, visibility, etc. However, there's no reason you can't call `delegate` when and however you want.

So if your smooth scrolling library doesn't use `scroll` events, it's up to you to call `ScrollReveal().delegate()` in respon

[2021-02-24 19:32] dbarrett24 commented on #298
@jlmakes Getting this same bug on the last section of my page. Only shows on window resize.
I've tried height: 100% and the overflow-x: hidden fixes mentioned in this thread but with no luck.

Here is the site for reference:
dave-barrett.com

[2021-02-25 02:13] jlmakes commented on #298
@dbarrett24 ScrollReveal captures element sizes when initialized, and on resize. That means when you are first calling `ScrollReveal()` the page must have its final dimensions. (For example, after really tall images have fully loaded.)

I would try deferring when you first call ScrollReveal... or if you don't mind using currently undocumented API, you can call `ScrollReveal().delegate()` after you

[2021-02-25 02:13] jlmakes commented on #298
@dbarrett24 ScrollReveal captures element sizes when initialized, and on resize. That means when you are first calling `ScrollReveal()` the page must have its final dimensions. (For example, after really tall images have fully loaded.)

I would try deferring when you first call ScrollReveal... or if you don't mind using currently undocumented API, you can call `ScrollReveal().delegate()` after you

[2021-03-03 15:46] anta199 opened #530 "Initialise scrollReveal on modal"
Hello,

I'm triggering some modals across my site and scrollReveal seems to be only working when resizing the window.
It doesn't show initially until I resize the browser.

I've seen a few answers regarding this but nothing has worked so far.
Is there a way to perhaps update the instances every time the modal is open, or something similar?

Thanks in advance and keep the great work.

[2021-03-03 20:47] gildersleeve opened #531 "URL in background images broken when splitting inline styles"
https://github.com/jlmakes/scrollreveal/blob/eb240482ab6b14db6c885ab7a1f51b7fb098ddfe/dist/scrollreveal.js#L764

If an inline style includes an absolute path to an image it will be split incorrectly here. The split assumes there is only 1 `:` but background images can introduce multiple `:`.

Example: `<div style="background-image:url('https://www.example.com/test.jpg')"></div>`. It would be incor

[2021-03-04 12:36] simonkuran commented on #511
Any update on this? I'd like to be able to use the afterReveal option, but this bug is preventing me from implementing it.

[2021-03-04 14:34] anta199 commented on #530
It finally got solved by using ScrollReveal().delegate(); 👍

[2021-03-04 14:34] #530 closed

[2021-03-04 14:36] anta199 opened #532 "Reset scrollReveal with trigger"
Hello,
Is there a way to restart scroll reveal animations using a trigger?

I'm using the library to animate items in a modal.
It works fine with the first opening but after that, the animation doesn't work anymore until i scroll down ( I have the reset option activated).

I'm wondering if would be possible to initiate the library again after opening the modal.

Thanks

[2021-03-04 23:44] jlmakes commented on #531
Thanks for catching this @gildersleeve. I think I can squash this by concatenating everything except the first entry in `ref`.

[2021-03-05 00:00] #531 closed

[2021-03-05 00:02] jlmakes commented on #531
Thanks for catching this @gildersleeve!!

[2021-03-18 00:21] jlmakes commented on #532
Hey @anta199 you could try calling [ScrollReveal().clean(...)](https://scrollrevealjs.org/api/clean.html) to remove the  elements from ScrollReveal when the modal is closed. Unfortunately, ScrollReveal isn't yet designed for more discrete actions and manual triggers — so I admit it's a slightly clunky potential solution.

I am working to make use cases like this simpler and more reliable in Scroll

[2021-03-18 00:24] jlmakes commented on #532
Hey @anta199 you could try calling [ScrollReveal().clean(...)](https://scrollrevealjs.org/api/clean.html) to remove the  elements from ScrollReveal after the modal is closed. You should then be able to reveal them again as if it were the first time. (I'm working on making use cases like this simpler and more robust in ScrollReveal 5.)

[2021-03-18 00:26] jlmakes commented on #511
@simonkuran I actually don't remember where I landed on this. Using `option.afterReveal` to invoke `reveal()` is not exactly a use case well suited to ScrollReveal's design. This is one of a few strategies I've seen surfaced by the community, reflecting a desire to have more control over what is revealed and when.

I'll take another look at this and see if there is something that can be improved f

[2021-03-18 00:29] jlmakes commented on #532
Hey @anta199 you could try using [options.cleanup](https://scrollrevealjs.org/api/cleanup.html) (or manually calling [ScrollReveal().clean(...)](https://scrollrevealjs.org/api/clean.html)) to remove the elements from ScrollReveal after the modal is closed. You should then be able to reveal them again as if it were the first time. (I'm working on making use cases like this simpler and more robust i

[2021-03-19 15:58] hrvstr opened #533 "Distance and origin parameter not working on spans"
I tried searching the GitHub issues but couldn't find anything relevant. Sorry if I missed something.

I am trying to animate a `span` but for some reason it will not apply the `distance` and `origin` parameter. Is it because a `span` is an inline element? When I change it to a `div` everything works as expected.

[span demo](https://jsbin.com/xegobuh/edit?html,output)
[div demo](https://jsbin.com

[2021-03-20 06:28] jlmakes commented on #533
This is a great question, thanks @hrvstr.

According to https://drafts.csswg.org/css-transforms/#transformable-element

So looks like you were spot on, inline elements generally aren't "transformable elements."

[2021-03-20 06:31] jlmakes commented on #533
This is a great question, thanks @hrvstr.

According to https://drafts.csswg.org/css-transforms/#transformable-element

So looks like you were spot on: non-replaced inline elements aren't "transformable elements."
(However some are, such as `img` which is a replaced element. Here's a [list of replaced elements](https://developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element).)

[2021-03-25 08:24] hrvstr commented on #533
Thanks for the in depth answer and links. Looks like I have to change the templates of the theme I am using quite a bit.

[2021-03-25 08:24] #533 closed

[2021-03-27 02:34] haroldao commented on #458
delegate ?

[2021-04-13 20:02] alexroper opened #534 "Visibility not updated on revealed elements in IE 11"
The example used on the [User Experience](https://scrollrevealjs.org/guide/user-experience.html) page to "Prevent Flickering" suggests adding a "visibility: hidden" style to items that will transition, but this isn't working in IE 11. ScrollReveal doesn't seem to update the visibility on revealed elements in IE 11.

The problem can be seen in your example demo: https://jsbin.com/fuvusofere/edit?ht

[2021-04-15 22:16] jlmakes commented on #534
Thanks for the report @alexroper. I'll dig in over the weekend on my Windows machine to see what I can uncover.

[2021-04-19 23:42] jlmakes commented on #534
Looks like something here isn't working with IE11, in that `visibility: visible` isn't being applied.

https://github.com/jlmakes/scrollreveal/blob/bc8fd853b56d06d265b2630ccb9c39e1db7fe9b7/src/instance/functions/style.js#L18-L30

Which at first glance suggests that  `inlineMatch.some(m => m.match(/visibility\s?:\s?visible/i))` is returning `true` in IE11. I haven't yet figured out why, but more br

[2021-04-19 23:45] jlmakes commented on #534
Looks like something here isn't working with IE11, in that `visibility: visible` isn't being applied.

https://github.com/jlmakes/scrollreveal/blob/bc8fd853b56d06d265b2630ccb9c39e1db7fe9b7/src/instance/functions/style.js#L18-L30

Which at first glance suggests that  `inlineMatch.some(m => m.match(/visibility\s?:\s?visible/i))` is returning `true` in IE11. I'll look into refactoring this, this isn'

[2021-05-09 06:49] alinakrav opened #535 "MP4s being revealed on page load, instead of on scroll"
### Environment

* Operating System: MacOS
* Browser Version: Chrome
* ScrollReveal Version: v4.0.0

I have had scrollreveal on my personal website for a while now, and it always worked, except I noticed that right after my commit where I changed my .gif media to .mp4, it only reveals the first 2 or 3 of my videos, out of 7 total. I went back to the last code [version that worked properly](https:/

[2021-05-11 18:38] jlmakes commented on #535
Oof 12 hours, I know how that can be! 😅

I think that's the heart of it, ScrollReveal determines that elements "are visible" at page load, triggering reveal animations before those elements have actually been scrolled to. In the past, I've found this can be caused by [replaced elements](https://developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element) such as a large image that assumes its width/

[2021-05-11 18:39] jlmakes commented on #535
Oof 12 hours, I know how that can be! 😅

I think that's the heart of it, ScrollReveal determines that elements "are visible" at page load, triggering reveal animations before those elements have actually been scrolled to. In the past, I've found this can be caused by [replaced elements](https://developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element) such as a large image that assumes its width/

[2021-05-11 21:29] alinakrav commented on #535
Wow, thank you!!! I would have never figured that one out. It completely solved the issue 🚀

[2021-05-12 01:41] jlmakes commented on #535
Wonderful! :)

[2021-05-12 01:41] #535 closed

[2021-05-15 08:26] AskDesignTeam opened #536 "Stop reveal on callback (beforeReveal)"
hello
its possible to make something like this

[code]

[2021-05-15 17:40] jlmakes commented on #536
Conceptually when `beforeReveal` is called, the element has already begun its reveal. There's no straight forward and reliable way to eject during this process. You can however, pass any valid selector to `reveal()` such that it ignores elements with a specific class, something like:

[code]

Does this work for your use case?

[2021-05-27 09:54] duncanheffron commented on #534
Hi, I just came across the same issue. I tried doing a hot fix for now by doing it through the opacity, but then the same issues occurs. Maybe some how on IE besides getting the inline styles the javascript also receives the styles originally set in the css file. Probably this results in returning the true, and why it's not setting the inline styles.

Maybe this helps in researching a solution.

[2021-05-31 16:38] #532 closed

[2021-06-03 06:17] anta199 opened #537 "Revealing items only when outside the viewport"
Hello,
Is it possible to only reveal the elements that are outside the viewport?
I don't want the elements that are visible when entering to the page to reveal, but only the ones outside the viewport as you start to scroll.

Is this something doable?

Thanks for the good work

[2021-06-07 16:51] coldpumpkin opened #538 "Absolute element inside fixed element not revealing at any scroll pos besides 0"
**The scenario:** I have an absolute element inside a fixed element. The absolute element has a reveal effect.
**The problem:** The absolute element only shows up when the page scroll is initial - 0
**How it should behave:** The absolute element should reveal even if the page scroll is higher than 0 (e.g. when someone reloads the page in the middle of it) since it's inside a fixed element and henc

[2021-06-09 02:58] QuietNoise opened #539 "Resizing elements on page makes scrollreveal behave erratically."
When **resizeable elements** on the page resize then tags with scroll reveal that are below on the page do not reveal properly.
They either reveal too late / too early (depending how the said resizeable elements resized: got smaller or got bigger) or not reveal at all (those tags which are placed on the very bottom of the page).
I was hoping the ScrollReveal().sync() would fix that but no hope.
Si

[2021-06-19 08:03] readpage opened #540 "Can ScrollReveal support TS?"
Can ScrollReveal support TS?
I'm using Vue3 plus TS!

[2021-06-20 00:36] jlmakes commented on #540
First-party support is coming in the next major release, but for now it looks like someone has authored a `@types/scrollreveal` package that looks pretty good. Give it a try!
[code]

[2021-06-22 17:16] cokaps016 commented on #484
Excuse me, @jlmakes. Can I use this plug in my [MIT license public repo](https://github.com/cokaps016/eleventy-kickstart-blog). This is an open-sourced project (a template for people using 11ty and tailwind css). I will add this to acknowledge section in readme.me after installing ScrollReveal.

[2021-06-22 19:38] jlmakes commented on #484
@cokaps016 No, the GPL3 license requires that open source consumers make their project GPL3 as well.

As I mentioned above, if you're willing to use an unsupported version in your project, ScrollReveal 3 remains MIT licensed and free to use. (The documentation for which can be found in the [Wiki](https://github.com/jlmakes/scrollreveal/wiki).)

[2021-07-05 20:39] wistie opened #541 "ScrollReveal not working with Next JS (create-next-app) ?"
I have some issues using ScrollReveal with create-next-app.

I installed ScrollReveal with npm, then imported it using ES6 :

`import sr from 'scrollreveal';`

I immediatly have an error message :

Server Error
ReferenceError: document is not defined

I use ScrollReveal with create-react-app, and it works perfectly. So I don't understand.

Thanks.

### Environment

* Operating System: Linux Ubuntu

[2021-08-24 13:04] antwash commented on #541
This issue is happening because document is only available inside the browser and not on the server. Nextjs is executing your code server side. To get around the error you can leverage [nextjs dynamic imports feature](https://nextjs.org/docs/advanced-features/dynamic-import) and react useEffect hook.

[code]

Hope this helps 😄

[2021-09-12 07:23] ashleedawg opened #542 "SSL certificate for scrollrevealjs.org expired 2021-08-23"
SSL certificate for https://scrollrevealjs.org expired 2021-08-23

![image](https://user-images.githubusercontent.com/29980309/132977595-ececd709-0f01-469b-9537-e78ded15fa79.png)

[2021-09-14 08:57] oxgesports commented on #139
I am trying to use it in Webflow but it gives me an error
`Uncaught ReferenceError: scrollReveal is not defined`

Jquery, ScrollReveal loads one after another still facing this issue

[2021-09-15 06:45] jlmakes commented on #542
Thanks for the heads up! I'll get this sorted out.

[2021-09-16 05:41] jlmakes commented on #542
Just had to update certbot :) Thanks again @ashleedawg

[2021-09-16 05:41] #542 closed

[2021-10-17 19:37] markmercier opened #543 "CSS transition: all breaks reveal animations for elements visible on page load"
### Issue Report

If elements that are **visible within the viewport when the page loads** have a `transition: all` property defined in CSS, the reveal effect does not happen. Instead, those elements instantly become visible at their ending state, without an animation.

In the attached demos, you can see the right column of buttons (with `transition: all`) instantly become revealed, while the left

[2021-11-09 06:43] zhaihongbin commented on #539
I encountered the same situation when using nextjs client routing, but version 4.0.5 still doesn't work

[2021-11-22 19:17] dijkermans commented on #543
I've read many js and performance issues regarding the 'all' property in general so I doubt it's only related to scrollreveal

[2021-12-05 03:58] niftyphil opened #544 "Footer won't load"
I wanted to have a very subtle entrance effect on all elements, and this solved it perfectly. One minor issue I have though, is that it only loads the footer about 25% of the time. The rest of the time the newsletter block in my footer just doesn't load. Is there any way I can exclude a single element, rather than having to manually add each element type on a pretty big site? I currently have it s

[2021-12-05 04:37] niftyphil commented on #544
I just discovered that the footer content is there, it just isn't visible...I have a newsletter form in the footer, and the autofill tries to autofill, and my mouse turns into a text cursor where the text boxes should be, I just can't see them...

[2021-12-11 03:56] tremby commented on #507
I need the same thing, but I don't really want to rely on an undocumented function, since that tends to lead to trouble down the road. I wonder if you'd be willing to make that function public (i.e. document it), or an equivalent? Or am I better off triggering a fake "scroll" event SR will pick up?

[2021-12-19 08:14] Ayush-v commented on #218
Any update on the react version ?

[2022-01-03 11:50] Antimated opened #545 "[BUG] Cleanup option (and method) not working"
### Issue
I have a demo here: https://codepen.io/Antimated/pen/gOGzpjW. The styles on my `.foo` DOM element are NOT being cleaned up after the reveal. Not with the `cleanup`property set to "true" nor using the afterReveal method. Am I missing something?

### Environment

* Operating System: MacOS
* Browser Version: Chrome Version 96.0.4664.110
* ScrollReveal Version:  4.0.9

[2022-01-28 15:50] dijkermans commented on #534
Is visibility:visible not applied or doesn't it overrule the css? Adding !important to the inline style may work.

[2022-02-01 15:49] dijkermans commented on #543
Having said that, I noticed the same issue as well. A workaround would be great.

[2022-02-02 04:30] akshayknz opened #546 "Is there any way to disable animations only when scrolling backwards?"
The behavior wanted is to animate when scrolling down and not animating when scrolling up (bottom to top). I looked everywhere. :-)

* ScrollReveal Version: v4.0.9

[2022-02-22 04:57] cybercomdevelopment commented on #539
@jlmakes I provided 3 demos :)

[2022-02-22 05:00] QuietNoise commented on #545
Confirmed big on Windows Chrome and Firefox.
Also both cleanup option and method work as expected in 4.0.5.

[2022-04-08 13:51] sc00 opened #548 "Sveltekit: scrollreveal not working"
Hi,

I've been trying to use scrollreveal in the context of Sveltekit. It's not working however. The ScrollReveal object looks good to me - elements with the associated classes are present, computed styling etc. seem correct - however the inline-styles are not being applied.

Any idea why that is? I've tried using it via CDN as well as installing the package with npm.

Thanks and cheers

[2022-05-11 21:49] mattborn commented on #545
Confirmed bug on Mac Safari except clean/cleanup is broken in 4.0.8 for us as well.

[2022-05-15 15:50] thanhitkeaung09 commented on #209
my scrollreveal is not defined in vite , can you guys suggest me what to do .

[2022-05-23 12:13] Aurion72 commented on #545
Same here, is there still someone who takes care of this package ?

[2022-06-10 16:00] mohdlatif opened #549 "[Question] Dynamic value from attribute ?"
Hey there, is something like this possible ? I have tried the bellow code but it seems it does not really respect each element attribute value and all elements who have the same attribute will share the same value for the delay.

 So... I'm posting it here hoping I get directed to the correct path if I did something with my code or it could be a possible feature to add.

### The reason for this, i

[2022-06-11 00:04] #549 closed

[2022-07-27 20:48] RuyVictor commented on #298
@jlmakes This bug is still happening, it only works when you resize the viewport, add this after the ScrollReveal() class instance.

setTimeout(() => ScrollReveal().delegate(), 100);

[2022-07-30 02:10] jlmakes commented on #545
@Aurion72 Yes, some big updates are coming soon.

If there is a problem with versions `4.0.8` and `4.0.9`, they are likely regressions introduced to get around CSP violations surfaced by manipulating inline styles directly. So perhaps rolling back to `4.0.7` is a sufficient workaround for the time being.

[2022-08-17 11:26] akshayknz opened #550 "ScrollReveal gets more and more delayed as you scroll"
ScrollReveal gets more and more delayed as you scroll down the page. It wasnt a problem and as the page became longer, entire sections started becoming blank.
Eg: Zapscale dot com/blog
Same issue is noted by SO user; https://stackoverflow.com/questions/72094725/scrollreveal-gets-more-and-more-delayed-as-you-scroll

### Environment

* Operating System: Windows 11
* Browser Version:  101.0.4951.67
*

[2022-08-29 06:48] akshayknz commented on #550
- [ ] @ #**### gj          **

[2022-09-02 17:08] brendondev opened #551 "Effect in the middle of the screen"
Is it possible to make the effect happen only when the chosen div is in the middle of the screen?

[2022-09-16 08:20] ritmillio commented on #541
If anyone facing the same issue, I have created a helper package to use Scrollreveal with Next.js. You can check out [here](https://github.com/ritmillio/next-reveal).

[2022-09-24 13:28] Aurion72 commented on #545
I am very happy to hear that, I love this package, any news? :)

[2022-09-26 12:15] brendondev commented on #551
I understand, but forgot to reply. It was very easy, I just adjusted the value, here's an example:
https://codepen.io/devbrendon/pen/rNdQYbx

[2022-09-26 12:15] #551 closed

[2022-09-28 20:12] BenRacicot opened #552 "Handling mid-page loads"
I've noticed when my page loads at a certain scroll location, like via fragment or when the user uses back button to come back to me page, that section does not trigger a reveal. Also all folds above it are not revealed.

This causes confusion when the user must scroll slightly to trigger reveals up or down.
Is there a configuration option or recommended way to alleviate this UX?

[2022-10-04 17:45] BenRacicot commented on #384
This is awesome! Anyone have a working example?

[2022-10-04 20:33] antoniocosta commented on #384
Quite old but try this example: https://jsfiddle.net/abmc/oaxmma6y/

[2022-10-17 04:18] BlakeZajac opened #553 "Question re pricing"
Hi, I'm a freelancer looking to use this in some of my clients websites. Would I need to purchase the single developer license found here https://scrollrevealjs.org/pricing/ ?

Regards,

[2022-10-17 21:28] #553 closed

[2022-10-25 22:22] drywall commented on #545
I was excited to read this but am wondering what was meant by "soon" — hopefully @jlmakes is okay!

[2022-10-28 13:15] RyanZudu opened #554 "Scroll Reveal is down for all websites i've used it on"
### Environment

* Operating System:
* Browser Version:
* ScrollReveal Version:

[2022-10-29 00:29] liamc1011 opened #555 "(Question) Different Options on Subsequent Reveals"
Is there a way to change `options` after x amount of reveals for elements that have `reset: true` enabled?

For instance, I want the first time an element is revealed to have 500ms of delay, and all subsequent reveals of the same element to have 100ms of delay (`reset` is set to `true` of course). How might I achieve this?

Quite new to JS so apologies if the answer is fairly obvious.