[2017-08-13 16:59] ZCweb commented on #369
The version of ScrollReveal I think is 3.3.4. I use this library on most of my sites. On websites everything should be contained in the browser. I noticed that if I enable scrollreveal animations then on iOS devices and Safari that the window scrolls left to right.  It is almost as if the animations that are moving in from the sides are pushing out the container of the website.  After I go past th

[2017-08-14 00:52] jlmakes commented on #369
Have you tried using `overflow-x: hidden` on your `<body>`?
(It’s helpful when using ScrollReveal, on any device.)

[2017-08-14 07:02] discoveryjames commented on #367
@jlmakes I have completed some testing on beta.14 this morning, and it seems to be the best yet! Going to try it on a larger screen later, as I have previously been testing on that.

Seems to be just about there though!

[2017-08-14 07:03] discoveryjames commented on #345
Are you losing the MIT license?

[2017-08-14 12:04] ZCweb commented on #369
You're right I had it on the body tag. That was added by a push slider which I think set the `body` also as `position:relative` and `left:0` which may have been the cause. What I did also was put the `overflow-x: hidden` on one of the wrapping div classes and it worked. I have all sections in that wrapping div. Thank you.

[2017-08-14 12:04] #369 closed

[2017-08-14 12:27] ZCweb commented on #369
This added another problem for me as it now has added a scrollbar to some of the divs with the `over-flow-x: hidden`. If you go to https://www.tarponfish.com/ and scroll down to the 'call to action' you'll see a scrollbar added to it. I set `height:auto` and it didn't  remove the scroll. The scroll is gone once I go past the section or maybe when the animations are done. Would you know some CSS to

[2017-08-14 13:03] jlmakes commented on #369
When you use ScrollReveal to slide something in from the right for example, it actually changes the position of that element (and the size of its container).

![18f76420-5995-11e4-9f4e-0a22eb7581cd](https://user-images.githubusercontent.com/2044842/29272606-100b3120-8101-11e7-95d3-55c4ee43923a.png)

This is content overflow—this is normal browser behavior, and it creates scrollbars.

If you’re get

[2017-08-14 13:38] jlmakes commented on #345
@discoveryjames Yes, all versions of ScrollReveal will undergo a license change soon.

_This isn’t final and legally binding copy, but this should give you a good idea:_

#### Open Source

For open source and personal projects, ScrollReveal will be available under the [GPLv3](https://www.gnu.org/licenses/gpl-3.0.html). Releasing projects that use ScrollReveal under the GPLv3, in turn, require thos

[2017-08-14 13:41] discoveryjames commented on #345
@jlmakes If we want to use ScrollReveal on our client's website, will we need purchase a commercial license? If so, does the licensing consider multi-website use cases?

[2017-08-14 14:46] jlmakes commented on #345
Yes, and yes @discoveryjames. More details will be available soon.

[2017-08-14 18:04] ZCweb commented on #369
Thank you that worked. Some of the sections were having animations come from the bottom and those would need the `overflow:y`.

[2017-08-21 12:10] akroii opened #370 "[Question] Elements outside of viewport being revealed"
OSX Sierra
Chrome 60.0.3112.101 (64-Bit)
ScrollReveal 3.3.1

If DOM is ready, elements being revealed, but they are not in viewport and outside of visible area. Every elements should be revealed on scroll if in viewport!

Whats going wrong? [http://bit.ly/2uYkC46](http://bit.ly/2uYkC46)

[2017-08-21 13:33] jlmakes commented on #370
Hi @akroii

It sounds a lot like you’re missing `height: 100%` on your `<body>` element.

Without this, your `<body>` will stretch to the entire height of the content… and so elements will be considered visible immediately (even if the window isn’t large enough).

[2017-08-21 15:26] jlmakes commented on #370
I see.

ScrollReveal 3 does not apply `height: 100%` to the `<body>` for you. That seems to be the most common hole in the system that developers run into where elements reveal too soon.

I did notice quite a few errors in the console, perhaps it’s a conflict with a 3rd party library. I’ll take a second look at the site when it’s back up, I’m getting some errors from the site now…

[2017-08-21 17:43] akroii commented on #370
try again, please

[2017-08-23 13:43] tyler-insight commented on #322
I think this would be an awesome feature to have added. I have been trying to find a great scroll animation tool that has a good staggered reveal but unfortunately the closest I have is like the sequence reveal you use, which reveals all of the elements even if they are not in viewport.

I think the concept could work like this:

Set a `stagger` option and give it a time value. When scrolling, che

[2017-08-23 15:28] jlmakes commented on #322
Haha! I appreciate the kind words, and your spirit to contribute.

Getting the sequencer to behave "intuitively" with `options.reset` and only animate what’s visible—has been a serious (and fun) challenge for me. After over a year, and 4 different implementations, I think it’s finally there! 😅

As it stands, `v4.0.0-beta.14` is the first real release candidate. I am finishing up a new website (wit

[2017-08-25 16:23] jlmakes commented on #370
@akroii You are using the v3 sequencer.

[code]

That `250` is the reveal **interval** and creates a sequence. Iin version 3, all elements in a sequence are triggered when any of them are visible. This has come on quite a few times… #367 #358 #342 #339 #305 etc...

The short answer is upgrade [version 4](https://github.com/jlmakes/scrollreveal/tree/development) (currently in [late-stage beta](http

[2017-08-25 16:23] #370 closed

[2017-08-28 08:18] AndrewEastwood commented on #335
@RusinovAnton did it help?

[2017-08-28 08:43] RusinovAnton commented on #335
@AndrewEastwood yup it did, actually you can see how it works on prod [here](http://orbirect.com/).

[2017-08-28 08:57] AndrewEastwood commented on #335
awesome!

[2017-08-29 21:03] kppf opened #371 "ScrollReveal v4-beta14 doesn't work with Custom Components"
Hi,

I've installed scrollreveal v4-beta14 using `yarn add scrollReveal@beta` to an Isomorphic React app (A fork of https://github.com/kriasoft/react-starter-kit ). I'm using it to animate FontAwesome Icons (Similar to _At your service_ section of https://blackrockdigital.github.io/startbootstrap-creative/ ).

It is working properly if I'm using normal element like
[code]

But if I use it with rea

[2017-08-30 00:49] CrashyBang opened #372 "Removing existing inline styles."
I have the following code applied to an image on window load:

[code]

Now once ScrollReveal kicks in, it removes this style. As per #251, I believe ScrollReveal should preserve existing styles?

Thanks!

- Ubuntu Minimal (XFCE) 16.10
- Chrome: 58.0.3029.110 (64-bit)
- `scrollreveal@3.3.6`

[2017-08-30 00:58] jlmakes commented on #371
Have you inspected what `this.icon` actually is?

The reference you’re storing is the `<FontAwesome/>` component, not the icon’s HTML element (like in your first example). So to put this another way, you’re basically doing this:

[code]

ScrollReveal does not understand React components as reveal targets. What I would recommend, is trying to get access to the underlying HTML element—perhaps someth

[2017-08-30 00:58] #371 closed

[2017-08-30 01:31] jlmakes commented on #372
From the [Mozilla Developer Network](https://developer.mozilla.org/en-US/docs/Web/Reference/Events/DOMContentLoaded):

So, it really sounds like ScrollReveal is running after `DOMContentLoaded` but before window’s `load` event. So when ScrollReveal does it’s setup (and capturing of inline styles), your code to apply `top: calc(...)` hasn’t even ran yet.

When it _does_ run (after images, styleshee

[2017-08-30 02:23] CrashyBang commented on #372
Hey @jlmakes,

Ahh I see that makes sense!

Will fix that now!

Cheers.

[2017-08-30 02:23] #372 closed

[2017-08-30 09:29] kppf commented on #371
Thanks @jlmakes, that works fine, except that I get eslint warning - Do not use findDOMNode (react/no-find-dom-node). Is there a way to avoid this warning (except by suppressing it)?
Can we make a function in ScrollReveal which automatically finds the DOM node if the Component is passed to it, and animates it? I'm not sure of it's usability and feasibility though.

Animation sequence requires to p

[2017-08-30 12:49] ezeinis opened #373 "Elements with 100% width never reveal?"
I have an html header tag in an image with a text that when is loaded from tablets it needs 2 lines whereas on desktop it needs 1 line

![screen shot 2017-08-30 at 3 35 45 pm](https://user-images.githubusercontent.com/19891292/29872967-667619da-8d9a-11e7-9982-64241f33d6b7.png)

![screen shot 2017-08-30 at 3 35 52 pm](https://user-images.githubusercontent.com/19891292/29872974-6b727816-8d9a-11e7-8b

[2017-08-30 13:00] jlmakes commented on #371
The official documentation recommends against it, because you’re not supposed to manipulate the DOM directly with React—you’re supposed to change the state and let React re-render the DOM.

However, at one point, the documentation mentioned that integrating with 3rd party libraries (that require access to DOM nodes) was one of the use cases where it was “okay” to use `findDOMNode()`. It looks like

[2017-08-30 13:19] jlmakes commented on #373
A working demonstration of the problem is essential for me to offer debugging help… and if this is not a bug, so that future developers will be able to learn from your issue.

[2017-08-30 13:27] ezeinis commented on #373
http://cdb.pxworks.co/category

You can see the issue in the first banner under the main menu. Let me know if you need something else :)

[2017-08-30 17:42] kppf commented on #371
Thanks @jlmakes. I'm now able to use ScrollReveal exactly the way I wanted. Passing DOM node list worked. Thanks for the help.

[2017-08-30 18:13] jlmakes commented on #373
I haven’t reproduced the issue on my own, but it appears that when the element you’re trying to reveal is the same width as the window—it is never revealed. I don’t know what all is happening on your page, but the solution appears to be simple:

**Add a non-100% width to your reveal targets to your smaller breakpoints.**

I’m marking this as unconfirmed until this can be reproduced with a [JSBin](

[2017-08-30 18:13] #373 closed

[2017-08-31 07:22] ezeinis commented on #373
Your solution worked out thanks! Tried to reproduce it to help you but i couldnt, almost the exact code https://output.jsbin.com/sekijot/

Thanks for your time anyway!

[2017-09-01 17:03] FilhoSergio commented on #335
Nice .

[2017-09-08 05:49] hyosukjung commented on #194
Hi. I'm Dylan.jung.
I have been studying about srcollReveal.js recently, and I was also wondering why it doesn't work when I was using 'data-sr' attribute. Now I read your conversation( @JoomFX and @jlmakes ) and understand it. Thank you for your conversation. :)
And now I have one more question.
Where can I download the scrollReveal.js version 2.3.x?

[2017-09-08 10:39] jlmakes commented on #194
@hyosukjung Legacy versions are right here on GitHub:
https://github.com/jlmakes/scrollreveal/tree/v2.3.2

_How you find it:_

![tags](https://user-images.githubusercontent.com/2044842/30208197-ac63b76e-9492-11e7-8f46-d058e210c133.gif)

[2017-09-08 13:42] hyosukjung commented on #194
@jlmakes
Thank you for you support! :)
You are very kind for giving me a very detail information.
Actually a friend of mine told me about scrollReveal.js a few days ago, so I searched about it by googling. I just have been studying by myself searching the internet.

[2017-09-08 19:30] sniebauer commented on #218
Any news on Scroll Reveal React? Stoked to try it out!

[2017-09-09 02:32] jlmakes commented on #218
@sniebauer I appreciate the sentiment!

The latest `v4.0.0-beta.14` has been a stable release candidate for a couple weeks now, so I will launch as soon as I finish the new website/docs.

This late in the game, I don’t plan on holding up launch for React specific documentation, but it is a priority for me: I want to serve more intermediate/advanced developers, and (to be blunt), piggy back off the

[2017-09-12 21:22] spacecowgoesmoo commented on #111
Thank you!

[2017-09-17 12:47] Yiiu opened #374 "scrolling too fast will cause no display"
windows 10
chrome 60.0.3112.113
version: 3.3.6
demo: http://dc.raffhk.com/products

[2017-09-17 20:18] jlmakes commented on #374
You’re using an old beta.

That page is running ScrollReveal `4.0.0-beta.2`, not version 3; this bug has already been spotted in #341, and squashed in `4.0.0-beta.6`. Since you are already using version 4, **I strongly recommend that you upgrade to the latest beta version `4.0.0-beta.14`.**

[2017-09-17 20:18] #374 closed

[2017-09-17 22:50] CrashyBang opened #375 "Inline styles applied using beforeReveal being overwritten."
I have the following code (forgive the ugliness of it was just prototyping):

[code]

So basically I want to apply a calculated `top` property to the element before it animates, the problem is that while the `top` appears to be applied, it is then immediately overwritten when the element is being animated.  I am not sure if this is the expected behaviour and if so I could apply the top first and t

[2017-09-18 00:26] jlmakes commented on #375
If an element has existing inline styles, ScrollReveal will preserve them—but anything added after `reveal()` has been invoked, will be overwritten. That means regardless of what ScrollReveal callback you use, it will always be too late to apply inline styles.

Some things to try:

- Apply the inline styles to the element _before_ calling `reveal()` on it.
- Wrap the element in a `<div>` and apply

[2017-09-18 00:26] #375 closed

[2017-09-18 01:04] Yiiu commented on #374
@jlmakes thank you~

[2017-09-21 13:17] kikky7 opened #376 "Using Sync() from within Vue component?"
I display (with vue.js `v-for` attribute) some number of items on the page with class `.reveal` (which adds reveal effect on scroll) and revealing works fine for those items.

Clicking the button, I append additional data to the same vue object, but every of those items is already revealed. I tried to use `sr.sync()` method after the append code, but no success.

Then I tried `sr.init()` method, b

[2017-09-21 15:18] jlmakes commented on #376
I'm somewhat familiar with Vue, but I'm having trouble fully understanding the problem. Would it be possible for you to create a live demonstration of the problem using [JSBin](http://jsbin.com/?html,js,output)?

[2017-09-27 22:33] #376 closed

[2017-09-29 04:11] Ghost180195 opened #377 "Breaks responsive design in mobile browsers"
ScrollReveal version: 3.3.6
You can test in this page:
http://liteslim.kz/
Tested in Opera 43.0.2246.121183, Google Chrome 61.0.3163.98
Tested in Android 4.2.2 and Android 6.0
If i set mobile: false then responsive design works fine.

[2017-09-29 14:07] jlmakes commented on #377
Seems as though `overflow-x: hidden` is only on `<body>`, but missing from `<html>`; to be honest, it wasn't clear to me that it has to be present on both, but this is what removed the unwanted space in your mobile layout.

[code]

I’ll try to make this information more available (or perhaps handle this automatically), as this has come up many times before.

Duplicate: #50 #318 #328 #369

[2017-09-29 14:07] #377 closed

[2017-09-29 23:50] sumitkalia commented on #111
Thank You

[2017-10-02 14:57] #227 closed

[2017-10-04 08:41] tobsut97 opened #379 "Not working when overflow-x:hidden"
Hey guys,

when I set `overflow-x: hidden` on `<body>` the ScrollReveal animations don't work anymore.

I am using Chrome and ScrollReveal v3.3.6.

[2017-10-04 11:46] jlmakes commented on #379
Can you link to a demonstration of the problem?

[2017-10-04 13:46] tobsut97 commented on #379
[This](www.ferienwohnung-flatz.at) is the url to the website.
https://github.com/tobsut97/FerienwohnungFlatz this is the repository, I think the problem is either in the index.php or style.css file.

[2017-10-04 14:08] jlmakes commented on #379
I see `overflow-x: hidden` on the bottom, and ScrollReveal seems to be working fine. Is there a particular element or section of the page that is not behaving as you would expect?

[2017-10-04 14:14] tobsut97 commented on #379
Decrease the viewport size to around 1280px and then its not working
anymore.
On Wed 4. Oct 2017 at 16:08, Julian Lloyd <notifications@github.com> wrote:

[2017-10-04 14:38] jlmakes commented on #379
I see.

You’re including ScrollReveal 3 at the bottom like this:

[code]

Can you do me a favor and try the ScrollReveal 4 beta?

[code]

[2017-10-04 14:40] tobsut97 commented on #379
Did it, same issue as before.

[2017-10-04 14:44] jlmakes commented on #379
ScrollReveal 4 exposes a lot more information which can help debugging; can you upload that change to the site so I can take a closer look?

Also, recreating this issue using [JSBin](https://jsbin.com) would help confirm the bug.

[2017-10-04 14:47] tobsut97 commented on #379
Okay, uploaded the change to the live version of the site.
Will try to recreate this issue in JSBin.

[2017-10-04 14:51] jlmakes commented on #379
Thanks for raising the issue @tobsut97, cause I’m actually having the same problem locally. Except to my knowledge, this only started very recently for me.

I thought it was an update to Chrome, but I'm having some issues across browsers.

[2017-10-04 15:04] tobsut97 commented on #379
Makes sense. So how do I fix this? Do I have to remove the overflow-x:hidden?

[2017-10-04 15:11] jlmakes commented on #379
Well, the `overflow-x: hidden` elimintates unwanted scrollbars/extra space on mobile... particularly when using reveal animations that enter from the sides; if you aren‘t worried about that, then in your case, the simple solution is to remove the `overflow-x` property.

[2017-10-04 15:14] tobsut97 commented on #379
The problem is that my site does some weird things on mobile when I remove the overflow-x property. So I either have to figure out a workaround for this or I have to keep the overflow-x property and we have to figure out a solution.

[2017-10-04 15:17] jlmakes commented on #379
Well, I’m working on ScrollReveal full-time, and this bug is a priority.

For you, what if you take `overflow-x: hidden` off of the body, and wrap the content in a div that has `overflow-x: hidden` instead... does that get you anywhere?

[2017-10-04 15:21] tobsut97 commented on #379
YES! Thanks so much. 👍

[2017-10-04 15:50] jlmakes commented on #379
This is actually a Webkit bug @tobsut97.... it seems to be the combination of:

- Height 100% set on `<html>`
- Any overflow property set on `<html>`

This results in `window.pageYOffset` and `document.documentElement.scrollTop` to **always** return `0`.

[2017-10-10 08:57] Ghost180195 opened #380 "Empty space between elements after the animation is complete in Firefox"
OS version: Windows 10
Mozilla Firefox version: 56
ScrollReveal version: 3.3.6
Codepen link: https://codepen.io/anon/pen/PJeJGY

The problem appears if the element's height is odd. If I set
`section {
	height: 480px;
}`
everything will be fine.

![firefoxbug](https://user-images.githubusercontent.com/31181880/31377874-f41172ec-adc2-11e7-83b5-5a34798eb408.gif)

[2017-10-10 15:44] jlmakes commented on #380
Thanks for taking the time to provide these details.

What you’ve highlighted are rounding errors, unspecific to ScrollReveal. Most browsers round CSS property values to integers, but CSS Transform relies on [GPU compositing](https://www.chromium.org/developers/design-documents/gpu-accelerated-compositing-in-chrome), which behave differently; sub-pixel values are not rounded, and can result in blu

[2017-10-11 04:30] Ghost180195 commented on #380
Thanks for your information!

[2017-10-11 06:36] Mohsen-Khakbiz opened #381 "using intersection observer api"
is there anyway to use intersection observer api for this plugin? you  know for better performance.
as there's a polyfill for IO there's no concern about browser compatibility in my case.
or if you could guide me how to achieve it, it'll be much appreciated.

Regards,
Mohsen

[2017-10-11 12:47] #380 closed

[2017-10-11 15:42] jlmakes commented on #381
Thanks for asking Mohsen.

## Performance

I’m not aware of any performance issues with ScrollReveal; in fact, the only issue I can recall was related to [layout reflow](#335), and it was improved significantly in [ScrollReveal 4 (beta)](https://github.com/jlmakes/scrollreveal/tree/development).

Other improvements include caching all element dimensions and position, further lightening the burden

[2017-10-13 00:14] #381 closed

[2017-10-13 07:07] Mohsen-Khakbiz commented on #381
wow, thanks for the detailed information. appreciate it. learned somethings I didn't now.
version 4 is doing a pretty much good job now. I was looking for a solution to make this landing page work smoother http://boo.themerella.com/boo-landing/
but after adding the latest ScrollReveal beta version, it significantly improved the performance.

thanks for the awesome plugin

[2017-10-18 00:24] antoniocosta opened #384 "Reveal from bottom on scroll down and from top on scroll up"
Is it possible?
I have been fiddling but can't find a way to do it. I am guessing origin or distance would have to be reversed depending on scroll direction?
Please let me know... and thanks so much for the great work put into this!

[2017-10-18 08:24] Ghost180195 opened #385 "Double scrollbar when overflow-x:hidden added to html and body"
Hello again!
OS version: Windows 10
Browser version: This issue appears in all browsers.
ScrollReveal version: 3.3.6
Codepen link: https://codepen.io/anon/pen/jGXzOJ
When I scroll to bottom the second scrollbar disappears. If in page we don't have animations that appears from bottom then everything is fine.

[2017-10-18 11:18] jlmakes commented on #385
Hey @Ghost180195, two things:

1. As brought up in #379, `overflow` should not be applied to `<html>`, as it can cause a serious issue with determining element visibility. To be honest, I'm not actually sure why hiding horizontal overflow causes a vertical scrollbar, but removing `overflow` also removes the extra scrollbar.

2. The other thing to be aware of is that you're using:

[code]

If you u

[2017-10-18 11:33] Ghost180195 commented on #385
Thanks for your answer!
But if I remove `overflow-x` from` <html>` then responsive design will be broken (look at this link: https://github.com/jlmakes/scrollreveal/issues/377)

[2017-10-18 13:12] jlmakes commented on #385
I recognize that `overflow-x` on `<html>` solved #377 for you, but I am no longer recommending anyone do that due to changes in WebKit (Chrome 61) as detailed in #379.

The way I see it (based on your Codepen demonstration), your problem is the result of **(1)** using `overflow-x` on `<html>` and **(2)** using reveal options that move your elements off the bottom of your page; you can fix the extr

[2017-10-18 13:47] jlmakes commented on #384
Hey Antonio,

ScrollReveal presently has no built-in awareness of scroll direction. I think `options.scale` is the closest approximation of getting elements to reveal "from the top on scroll up, from the bottom on scroll down". ([Demo](http://jsbin.com/hideqocati/edit?html,output))

*For what it's worth, I can point you to the correct part of the source to begin adding this functionality if you'd

[2017-10-18 15:22] discoveryjames opened #386 "Override Style Attribute"
ScrollReveal overrides the style attribute if there are already properties applied to it.

This can cause other jQuery libraries to conflict.

As a workaround, I use an extra wrapper div to apply ScrollReveal to, but it might be better if ScrollReveal was aware of existing style attributes.

[2017-10-18 15:36] jlmakes commented on #386
ScrollReveal does preserve inline styles, but it will overwrite CSS Transform or Transition styles with its own. As you've pointed out, wrapping elements in a `<div>` and revealing that instead solves the problem.

ScrollReveal 4 (beta) now also preserves CSS Transform and Transition styles.

If you're running into issues, it's probably the order of your scripts; ScrollReveal's `reveal` method sho

[2017-10-18 15:52] antoniocosta commented on #384
Hi Julian,
Yeah... I noticed you achieve similar effect with scale. Scaling doesn't look that great when there's text though.
Yes... please do point me to the correct part of the source and I'll take a stab at it! I think it's worth a shot.
Here's roughly what I am trying to do: https://jsfiddle.net/abmc/9d0qpsb0/

[2017-10-18 16:08] jlmakes commented on #386
[ScrollReveal does preserve inline styles](http://jsbin.com/yuwubefebu/1/edit?html,output), but version 3 will overwrite CSS Transform or Transition styles with its own. As you've pointed out, wrapping elements in a `<div>` and revealing that instead solves the problem.

ScrollReveal 4 (beta) now also preserves CSS Transform and Transition styles 🎉

If you're running into issues, it's probably the

[2017-10-18 16:54] antoniocosta commented on #384
PS: On a slightly separate note... too bad passing scale: "1, .5" for only Y scaling doesn't work anymore on the new beta.

[2017-10-18 17:07] jlmakes commented on #384
I can see why you want this behavior, the end result should look awesome.

### Tracking Scroll Direction.

You’ll want to start right here:
`/src/instance/functions/delegate.js` on [line 16](https://github.com/jlmakes/scrollreveal/blob/v4.0.0-beta.19/src/instance/functions/delegate.js#L16)

That will put you within this loop:

[code]

I fiddled around and came up with this:

[code]

I'd guess that

[2017-10-18 17:10] jlmakes commented on #384
### Applying The Right Animations

This is the part I think it gets complicated to bake into ScrollReveal. I think instead, you'd want to use ScrollReveal just to track visibility and provide callbacks... but not to create/apply the styles automatically.

Here is one way to do that:

[code]

[2017-10-18 17:15] jlmakes commented on #384
### Applying The Right Animations

This is the part I think it gets complicated to bake into ScrollReveal. I think instead, you'd want to use ScrollReveal just to track visibility and provide callbacks... but not to create/apply the styles automatically.

Here is one way to do that:

[code]

This `reveal()` effectively won't do anything, but it does give you access to callbacks.

If you create you

[2017-10-18 17:24] jlmakes commented on #384
Now, I haven't tested this implementation all the way through, but this should hopefully give you a solid start at achieving the effect you'd like.

This is because instead of passing `options.scale` into a template string like `"scale(" + options.scale + ")"`, ScrollReveal 4 generates CSS Transform matrices—so that hack no longer works 😉

If you'd like, you can create a new issue to request that

[2017-10-18 17:24] #384 closed

[2017-10-18 17:28] #386 closed

[2017-10-18 17:41] #385 closed

[2017-10-18 17:46] #379 closed

[2017-10-20 14:48] blackspirit opened #387 "Set opacity to 1 for firsts items after an isotope filtering"
Hi,

First thanx for ScrollReveal who is so smooth and nice to use !

Sorry, it's not an issue but something I want to change.
I am using ScrollReveal on an isotope filtered portfolio (no page reload) in a php page. All is fine. But when I filter my items, I don't know how to offset some items that are hidden before scrolling.
So I have a blank page in some cases.

So, I want to force firsts items

[2017-10-20 16:22] jlmakes commented on #387
Hi Valery,

There's not much I can do in this case without a demonstration. If you can you create a [JSBin](http://jsbin.com/?html,js,output) showing how far you’ve gotten, I'd be happy to contribute to help you achieve the behavior you're after.

[2017-10-22 07:36] supertassu opened #388 "Pseudo element reveal"
Hello!

First, thanks for the amazing library.
Anyway, my actual problem; I'm trying to reveal an `::after` pseudo element.

[code]

Yeah. That doesn't work.

 - Microsoft Windows [Version 10.0.15063]
 - Google Chrome [Version 61.0.3163.100 (64-bit)]
 - Fully valid HTML

Thanks!

[2017-10-22 13:44] jlmakes commented on #388
Hi Tassu,

Pseudo elements are not accessible with JavaScript, as they are not really a part of the DOM; try accessing the element without ScrollReveal:

[code]

This is why using ScrollReveal directly on pseudo elements will not work.

[2017-10-22 14:42] blackspirit commented on #387
Thanx for the answer :)

Well, i have this code
`sr.reveal('.revealportfoliogrid', { // portfolios items
                duration: 450
            });`

It's working fine ;)
And with Scrollreveal it's definitely better with a fluid load of my items...
- - -

In a masonry filtered grid portfolio like this one https://www.lapresseaufutur.com/exposants.html
I can filter my grid without reloading the

[2017-10-22 15:37] supertassu commented on #388
Oh. Great. Is there any workaround?

[2017-10-22 16:21] jlmakes commented on #387
Ah yes, I understand.

Since ScrollReveal is listening for `scroll` and `resize` events, one way to force it to run the event handler (which decides when to apply styles), is to [manually trigger an event](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent):

[code]

I assume you’re using Isotope (because you mentioned masonry filtered grid), so you’d need to call this within an Isotope c

[2017-10-22 17:09] jlmakes commented on #387
I’d also like to mention, for [ScrollReveal 4 (beta)](https://unpkg.com/scrollreveal@beta) users, v4 exposes its event handler as the `delegate` instance property, so there’s no need to rely on simulating events.

[code]

Again, the general idea is still the same. [See what's new in 4.0](https://github.com/jlmakes/scrollreveal/blob/development/CHANGELOG.md)

[2017-10-22 17:17] jlmakes commented on #388
Well, you could think of ScrollReveal as two main features:

1. Detects when elements are visible
2. Generates CSS to apply to elements that are visible

We’ve already seen how `p::after` doesn’t work as a selector, but even if find a different way to get ahold of the right element, we still can't apply the generated styles to the pseudo element.

**To be honest, ScrollReveal is not really a good

[2017-10-22 17:39] jlmakes commented on #388
First, let me say that using type selectors (such as `p` or `ul`) for these custom styles/behavior is a bad idea in my opinion; applying anything globally is dangerous, and over-using reveals quickly cheapen the effect.

It’s _possible_, but to be honest, ScrollReveal is not really a good fit here; you could think of ScrollReveal as primarily 3 features:

1. Generates CSS transitions
2. Detect whe

[2017-10-22 19:55] scolarossi opened #389 "scrollReveal on click?"
I'm having trouble getting scrollReveal to display after clicking a button. For example, I'll click a button on my page, and have it fadeIn with jQuery, making the full div visible. However, the elements using scrollReveal won't display until I scroll.

I've done a search through the issues, and have tried a few that I think would work, but am having no luck.

Is there a way to call scrollReveal t

[2017-10-22 20:59] jlmakes commented on #389
Wouldn’t tell from the issue title, but this actually just came up in #387

See [my response](https://github.com/jlmakes/scrollreveal/issues/387#issuecomment-338489798) and let me know if you have questions.

[2017-10-23 05:45] scolarossi commented on #389
That seems to have worked. Thank you so much! I have been trying to figure that out for so long!

[2017-10-23 05:45] #389 closed

[2017-10-23 06:01] supertassu commented on #388
I'm using it a lot. I'll guess I have to make another element for that underline.

[2017-10-23 13:28] jlmakes commented on #388
Well, I appreciate that you're using ScrollReveal, let me propose a few things.

1. **Upgrade to ScrollReveal 4** — It’s been in beta for almost 9 months, and is in great shape. It has a number of [changes](https://github.com/jlmakes/scrollreveal/blob/development/CHANGELOG.md) you should be aware of, but it's 99.98% backwards compatible (should just be a drop-in upgrade).

2. **Hijack the callback

[2017-10-23 13:57] supertassu commented on #388
Oh, thanks. It works perfectly!

[2017-10-23 13:57] #388 closed

[2017-10-25 03:49] #387 closed

[2017-10-27 01:51] jlmakes commented on #384
The suggested code fragment for **Tracking Scroll Direction** has been baked into `beta.20`. It's only a few lines of code, and I think it's a pretty cool way to allow developers to hack clever solutions like what you've detailed here.

[2017-10-27 08:54] blackspirit commented on #387
Ok,
I have done this :
`$('#filter_all').click(function() {
                            $('html, body').animate({
                                scrollTop: '+=1'
                            }, 500);
                        });`

It's not an elegant way to do this...but it works ;)
Thanx for your help

[2017-10-29 21:16] discoveryjames commented on #345
@jlmakes when are you expecting to launch the commercial license?

I'm still using an older version of the beta, it would be good to be able to buy a license.

[2017-10-29 23:51] jlmakes commented on #345
I appreciate the follow-up.

I’m working full-time on v4, mostly on the new website/documentation (over 30 pages of info, with examples). I should be done within the new couple weeks, and I’ll be sure to ping you on Github when that happens!

Also, I push updates to the beta every few days, and `beta.22` is looking _very_ solid; I recommend you upgrade, or better yet, use a self-updating link such

[2017-10-30 08:10] discoveryjames commented on #345
No problem - looking forward to it.

I held back on the older versions due to the new betas having a license change but without the ability to purchase a license.

Are we ok to use the beta commercially until the licensing model is launched?

[2017-10-30 11:47] jlmakes commented on #345
Yes, you have my permission to use v4 on good faith that you'll purchase a license when it becomes possible.

[2017-10-30 16:22] jelenajjo commented on #218
@jlmakes  Any updates? :) It is confusing and hard to use this library in React apps at this point, documentation and a bit better support would really mean a lot.

Especially with **Sequenced Animations**, because in React we have just one component that we pass multiple times, so we have same `ref` on all those elements. And then only the last elements gets to be animated.

I love this library,

[2017-10-30 17:38] mateustav opened #392 "Gradual opacity increase/decrease on scroll down"
Hi there,

This plugin is really really awesome. I really like it because it has no dependencies. 👌

I have a question though. Does this plugin allow a gradual increase of opacity on scroll down (and decrease while scrolling up) so image fades as you scroll and not fades in or out entirely when it reaches or leaves the viewport? [Like this effect for instance](https://codepen.io/mateustav/pen/BmBR

[2017-10-30 20:45] jlmakes commented on #392
Thanks for the kind words Mateus.

Nothing like what you describe is baked into ScrollReveal: there is no notion of "percentage scrolled", or driving animation progress with the scroll bar.

However, you should take a look into [ScrollMagic](http://scrollmagic.io/), it’s specifically designed for such behavior.

[2017-10-30 22:39] jlmakes commented on #218
I appreciate the support @jelenajjo

Nothing new in regards to React to report yet, still finishing up the new docs.

The official React docs detail [Integrating with DOM Manipulation Plugins](https://reactjs.org/docs/integrating-with-other-libraries.html#integrating-with-dom-manipulation-plugins), which will likely be my guide when I have the time; have you gone through that yet?

[2017-11-01 11:08] jelenajjo commented on #218
I will take a look again! :) Okay, looking forward to finished docs. :-1:

[2017-11-01 13:57] jlmakes commented on #218
I'm experimenting unofficially right now @jelenajjo, if I find a good solution I’ll send it your way.

[2017-11-01 21:48] jlmakes commented on #218
### ⚠️ Disclaimer: Work In Progress!
Since you brought this up, I thought I'd at least take a stab at a React ScrollReveal integration proof of concept; this is what I’ve come up with so far:

[code]

It’s a pretty small higher order component, that simply captures the DOM nodes of the `Original` component’s children—and then passes them to ScrollReveal via lifecycle methods.

Imagine we have a si

[2017-11-02 01:35] hkyq opened #393 "Simple animation won't work"
So I'm having a bit of a problem. I'm new to JS, and I don't really see why this code isn't working.
https://repl.it/Nbob/1

There weren't any errors in the console, and the code was taken from the readme.

[2017-11-02 03:47] jlmakes commented on #393
Hey Harry,

Please read the section [Order Matters](https://github.com/jlmakes/scrollreveal/tree/master#41-order-matters).

The code itself looks correct, but you're invoking ScrollReveal methods in the `<head>` of the page—which is before the content within the `<body>` has loaded; that means when you call `sr.reveal('.foo')`, no elements exists yet with the class `foo`.

Check this out:

[code]

[2017-11-02 03:47] #393 closed

[2017-11-02 16:14] jelenajjo commented on #218
@jlmakes  Thanks! I will test this out now, and if I come up with improvements I will share def.

[2017-11-02 21:47] jlmakes commented on #218
Also, I forgot to mention—since we're relying on references, stateless functional components do not work as reveal targets. Take this example:

[code]

That means if we tried to use them like this:

[code]
We won't get any action cause React just doesn't expose references for stateless functional components. Even though it's a crazy simple, we still would need to use a the component class:

[code]

[2017-11-03 20:20] hkyq commented on #393
Ok, thanks!

[2017-11-05 06:20] yarhtut commented on #209
👍 Thanks, @jlmakes

[2017-11-06 19:14] #392 closed

[2017-11-09 11:41] Ghost180195 opened #394 "Add class when element becomes visible"
Hello!
It would be cool if you implemented such a function.
That is, only the class name is added to the element without any animations.

[2017-11-09 13:32] jlmakes commented on #394
This has come up before (#143), but I’m not sure how I feel about officially adding this to the API since so much of ScrollReveal's code is dedicated to creating animations.

That said, even if it’s not baked-in, this is now possible with [v4](https://unpkg.com/scrollreveal@beta) because:

- CSS Transform styles are no longer generated unless needed.
- `options.opacity` now accepts `null` to skip

[2017-11-13 05:41] Ghost180195 opened #395 "When will ScrollReveal 4 be released?"
Hello. Thank you for such a wonderful library. I'm looking forward to the new version. When will the release of the new version be?

[2017-11-13 16:50] jlmakes commented on #395
Thanks @Ghost180195,

With any luck, I'll be done this month. I really underestimated how much work writing the new documentation would be, but it's almost done and looking great.

[2017-11-14 15:04] birksy89 commented on #209
For me the issue was the capitalisation:

This works:
import ScrollReveal from 'scrollreveal'

 window.sr = ScrollReveal();

This didn't:
import 'scrollreveal'

[2017-11-17 22:30] dkapexhiu opened #396 "Issue with Bootstrap modals"
I'm having an issue with bootstrap modals. After i add the scrollreveal script in the head tag and i load the page, the modal opens blurred in a container window and i can not interact with the modal until i refresh the page. Has someone else experienced this issue? What can i do for it?

[2017-11-17 22:34] jlmakes commented on #396
If you can recreate the issue using [JSBin](https://jsbin.com) I'll help you debug it.

[2017-11-18 00:09] dkapexhiu commented on #396
Yes, thank you very much,
Here's the link on codepen: https://codepen.io/dkapexhiu/pen/OOzJxN

[2017-11-18 04:57] jlmakes commented on #396
I don't understand what the issue is, and there's a little too much going on in that Codepen.

Luckily, I found a simple fix: upgrade to [ScrollReveal 4](https://github.com/jlmakes/scrollreveal/tree/development).

[code]

Quite a bit has been improved, but also keep in mind the [license has changed](https://github.com/jlmakes/scrollreveal/blob/development/CHANGELOG.md); if that's doesn't work for

[2017-11-18 10:24] dkapexhiu commented on #396
Thank you for the fix. Now the modal is working, but it seems that scrolling is not working.
I've put in the header of html:
`<script src="https://unpkg.com/scrollreveal@beta/dist/scrollreveal.min.js"></script>
<script>window.sr = ScrollReveal();</script>`
And in the end of body:
`<script>sr.reveal('.featurette', {duration: 200}, 50);</script>`
In the beta does have changed the way to call functio

[2017-11-18 16:19] jlmakes commented on #396
No, ScrollReveal 4 should be a drop-in replacement.

It was a fluke that I tried ScrollReveal 4 and it appeared to fix the layout issue. I'm not sure how to help without more information, and a clear reproduction of the problem.

[2017-11-18 20:22] dkapexhiu commented on #396
I updated with some other text the codepen: https://codepen.io/dkapexhiu/pen/OOzJxN

ScrollReveal 4 doesn't work. The divs are not appearing and disappering instantly.
I am using bootstrap, jquery and popperjs.
With ScrollReveal 3 the effect is more visible: the divs appear and disappear instantly.

Can you test it?

[2017-11-18 21:18] jlmakes commented on #396
I know less than you do about this, I don't use Bootstrap jQuery or PopperJS. If you prefer ScrollReveal 3, that's fine—let's stay focused on the modal issue.

Your modal content is _inside_ `.featurette`, but it could live anywhere—and in this case it's causing problems for whatever reason. If you move your modal content into the `<body>` the z-index issue seems to go away.

[2017-11-18 21:31] dkapexhiu commented on #396
How can i move it? Can you show me code, please?

[2017-11-18 21:41] jlmakes commented on #396
https://codepen.io/anon/pen/xPpXRq?editors=1000

[2017-11-18 21:41] #396 closed

[2017-11-18 21:57] dkapexhiu commented on #396
Ok, thank you. I found a way to isolate the modal and bypass the problem! Congratulations to the project!

[2017-11-20 03:43] #349 closed

[2017-11-23 04:59] treechime opened #397 "Async doesn't reveal properly when added to already visible area of viewport"
I have a grid of content with a button to load more via ajax. After the content has been loaded, I call ```sync()``` which works in attaching handlers, but does not reveal the items if they are being added to the already visible area of the viewport.

They only seem to be triggered as visible once the top of the element reaches the top of the viewport. After this they work fine.

Also only seems t

[2017-11-23 19:16] jlmakes commented on #397
Thanks for fiddle, Morgan. I’ll look into this over the weekend.

[2017-11-30 07:54] atlas24 opened #398 "Question: Is there a way to reveal elements diagonally?"
I have some images I would like to reveal coming from the top middle of the screen to the lower right using a diagonal reveal. Is this possible using scrollreveal?

[2017-11-30 18:26] jlmakes commented on #398
This has come up before as a feature request (#123), but it's _currently not possible_.

`4.0` is launching soon, and I don't think any new features will make it into that release.

I took a quick look at how this could be implemented, and I think only [~45 lines](https://github.com/jlmakes/scrollreveal/blob/4e501aabde006c406d25c2005c0216aac38a043d/src/instance/functions/style.js#L41-L87) need ref

[2017-11-30 18:32] jlmakes commented on #398
This has come up before as a feature request (#123), but it's _currently not possible_.

`4.0` is launching soon, and I don't think any new features will make it into that release.

That said, I did just take a quick look at how this could be implemented, and it doesn't seem too bad. I like the idea, so I‘ll take a second look at this for a `4.1` release in early 2018.

Thanks @atlas24

[2017-12-01 16:21] SRTM commented on #398
Agreed, that and a simple horizontal option would be great.

[2017-12-01 17:24] jlmakes commented on #398
Would you explain more of what you have in mind?

[2017-12-01 21:22] SRTM commented on #398
@jlmakes Currently, when you use the 'distance' option, that only alters the vertical distance (y-axis) of an element. It would be great if you could also alter the horizontal distance (x-axis).
Ie. Have elements fade in from the left or right, rather than up or down. Usually I have to rely on adding a separate custom css animation for that.
Thanks :)

[2017-12-01 23:01] jlmakes commented on #398
@SRTM [Check this out](http://jsbin.com/donivizovu/edit?html,css,output)

[2017-12-02 11:53] ryangittings opened #399 "Multiple Instances"
Hey,

I'm trying to figure how if I have multiple components on a page, how I can get them to ScrollReveal in their own entity?

I'm using `sr.reveal('.callout');`, and I have two callouts at different positions on the page, but only the first animates. I'm trying to make each component have it's own reveal animations, to keep consistency.

Any advice really appreciated, many thanks!

[2017-12-02 15:21] jlmakes commented on #399
What version of ScrollReveal are you using?

[2017-12-02 15:22] #398 closed

[2017-12-02 15:23] ryangittings commented on #399
3.3.6 :)

[2017-12-02 15:35] jlmakes commented on #399
It’s possible `height: 100%` is missing from the `<body>`. That can cause elements that are out of view (on page load), to reveal anyway—so by the time you scroll to them, there's no animation to see.

That sounds a lot like what you've described to me.

[2017-12-07 06:41] knstyle opened #400 "How do i make animation pull down?"
Hi, i'm trying to achieve this kind of animation of these vertical lines in this website: https://www.wix.com/website-template/view/html/1967

I think the idea to do this is set height 0 before reveal. But i don't know how to do that with scrollreveal.
And also, how to do reverse which means pulling up the line?

[2017-12-07 13:19] jlmakes commented on #400
I don't think ScrollReveal will help you create the animation effect on the center line.

[2017-12-07 13:54] kanalasumant opened #401 "Run on Electron"
Thanks for this super cool animation library.

I wanted to ask if anyone could suggest me how to load ScrollReveal on Electron, since Electron doesn't [directly support](https://ourcodeworld.com/articles/read/202/how-to-include-and-use-jquery-in-electron-framework) JavaScript. However, that didn't work for me.

Could anyone suggest something to try?

[2017-12-08 00:07] jonatangrim opened #402 "Visible onload"
Element without the viewport is set to visible onload without the animation when scrolling, but elements within viewport onload works. Version is 3.3.6

scrollreveal.min.js i loaded in header.

Content is mulitple <p>

Before body:
`window.scrollreveal = ScrollReveal();
scrollreveal.reveal('p', {
    viewFactor: 0.6,
    mobile: true
});`

[2017-12-08 00:09] jonatangrim commented on #402
Works with v4.0.0-beta.24.
Can I get it to work with 3.3.6?

[2017-12-08 00:17] jlmakes commented on #402
Not sure I understand.

Have you tried setting `height: 100%` on the `<body>`? This is a common solution to similar problems, that version 4 does for you automatically.

[2017-12-08 00:21] jlmakes commented on #401
I can't say for sure, but I took a look at the blog post. You tried something like this already?

[code]
[code]

[2017-12-08 01:50] kanalasumant commented on #401
Yes. Now it works. Didn't try your method but understood that electron uses **node**, so **commonJS** at play here.

Also [this](https://stackoverflow.com/questions/32621988/electron-jquery-is-not-defined) worked.

[2017-12-08 01:51] #401 closed

[2017-12-08 07:51] knstyle commented on #400
Thanks for the answer. Actually i don't need the line follows on scrolling. Simply just do the effect when it's in screen.
So this kind of effect/animation is not supported by Scrollreveal?

Not relevant for this issue, but would you recommend me a simple smooth parallax background effect jquery? I have tried Stellar but it's very jerky on chrome.

[2017-12-08 12:51] jlmakes commented on #400
ScrollReveal uses hardware accelerated properties, i.e. `opacity` and `transform`; there is no support for animating `height`, so it's up to you to simulate the effect another way.

[2017-12-08 16:49] Aurion72 opened #403 "Is it SEO friendly ?"
When I explore like google bot with google webmaster I get a preview in return that doesn't display the blocks concerned by scrollreveal. Is it good for SEO?

Thanks

[2017-12-08 17:21] jlmakes commented on #403
#153

[2017-12-08 17:21] #403 closed

[2017-12-08 17:22] jlmakes commented on #153
@Aurion72 See above.

[2017-12-08 21:14] #399 closed

[2017-12-13 00:42] Glenn-Accomplice commented on #400
Perhaps instead of height you could use transform scale? Like start from a scale of 0 and end up with 1, putting the transform origin at the top. If you're looking to duplicate that Wix example you could put a white background on the text so you can transition one line instead of two.

[2017-12-15 21:23] #402 closed

[2017-12-15 21:24] #400 closed

[2017-12-17 10:41] geonanorch opened #404 "Problems loading dynamically sized images"
I am using scrollreveal with a single 'trigger' element positioned at the end of a container displaying thumbnails. Everytime the trigger is revealed, more thumbnails are fetched asynchronously and added to the container.

This is what the code looks like:

[code]

and

[code]

and

[code]

This works fine if the `reset` option is unset. When is it set however, the `afterReveal` callback is random

[2017-12-17 18:36] #222 closed

[2017-12-17 21:15] jlmakes commented on #404
I appreciate the example code, but would you mind putting together a working demo?

[2017-12-19 20:46] geonanorch commented on #404
Ok, working on it. I have a working standalone page, struggling to reproduce in that case. I have to figure out what the difference is with my original code.

[2017-12-19 21:29] jlmakes commented on #404
This code you shared looks odd:

[code]

I would expect:

[code]

[2017-12-20 10:26] geonanorch commented on #404
Well, 2h30 burnt and still no luck. I had the bug in my original code with the exact sequence of images included in this [jsbin](http://jsbin.com/geyayuh/edit?html,output) upon displaying the third page of 10 images but cannot reproduce in jsbin (I still experience the bug in my original code, but not always at the end of the same page, so almost certainly timing-related).

One (important?) thing

[2017-12-20 11:48] jlmakes commented on #404
Thanks for the effort though @geonanorch , I appreciate the JSBin. I’ll take a look through your example, and see if anything jumps out at me.

[2017-12-20 14:24] jlmakes commented on #404
I think this is (at least in part) a race condition.

The first clue is that this feature involves asynchronously loading content. The second clue is something I've encountered in the past: images change size while loading unless you explicitly set their dimensions. _I think this is the root of your problem._

Here's the important bit of my [Live Demonstration (Broken)](https://jsbin.com/somunat/1

[2017-12-20 14:54] jlmakes commented on #404
_Thought I'd add a note here since the ScrollReveal 4 documentation isn't ready yet._

When you invoke `sync()`, yes ScrollReveal re-captures new elements added to the DOM (by re-running all past reveals), but it also re-runs the initialization... which includes calling the primary event handler `delegate()`.

For situations like the one we're in (and to be able to unbind event listeners), the `de

[2017-12-20 15:01] jlmakes commented on #404
_Thought I'd add a note here since the ScrollReveal 4 documentation isn't ready yet._

When you invoke `sync()`, yes ScrollReveal re-captures new elements added to the DOM (by re-running all past reveals), but it also re-runs the initialization... which includes calling the event handler `delegate()` once.

For situations like the one we're in (and to be able to unbind event listeners), the `deleg

[2017-12-20 15:02] jlmakes commented on #404
_Thought I'd also add a note here since the ScrollReveal 4 documentation isn't ready yet._

When you invoke `sync()`, yes ScrollReveal re-captures new elements added to the DOM (by re-running all past reveals), but it also re-runs the initialization... which includes calling the event handler `delegate()` once.

However, the `delegate()` method was made into a bound public instance property for Sc

[2017-12-21 07:39] geonanorch commented on #404
Wow, that is some analysis ;-)    Thank you very much. I was going to object about fixed-size images, but you also covered that in part 2!
I will integrate your answer then close the issue (might be beginning of next year). Maybe worth a warning in the documentation around `sync()` ?

And compliment on your open/closed issue ratio, combined with such thorough answers they are truly outstanding.

[2017-12-21 11:27] jlmakes commented on #404
Thanks a lot @geonanorch, I typically enjoy helping others with their issues, it makes the community and product better. I also really appreciate that you took the time to reproduce the issue, makes me feel a lot better about spending my time.

I updated **Part 2** to show a working example using dynamically sized images.

The new ScrollReveal 4 documentation is going to include a few guides, and

[2017-12-21 11:27] #404 closed

[2017-12-22 14:54] makedonec88 opened #405 "Possibility to pass not only NodeList, but array to"
Hello.

I'm using ScrollReveal along with Vue.js, and I have list of elements I want to animate. I can get the elements directly from Vue, but it's an `Array` of `Nodes` which ScrollReveal doesn't seem to support. So for now I have to use `document.querySelectorAll`.

Is it possible to pass an `Array<Node>` to ScrollReveal?

Thanks.

[2017-12-22 20:27] jlmakes commented on #405
Hey Ali!

This feature already exists in [ScrollReveal 4](https://unpkg.com/scrollreveal@beta)!

Don't let the beta tag throw you, it's more robust than version 3—but until the new documentation is finished, the tag stays. Practically speaking though, it's a [drop-in upgrade](https://github.com/jlmakes/scrollreveal/blob/development/CHANGELOG.md).

[2017-12-22 20:29] jlmakes commented on #405
Hey Ali!

This feature already exists in [ScrollReveal 4](https://unpkg.com/scrollreveal@beta)!

Don't let the beta tag throw you, it's more robust than version 3—but until the new documentation is finished, the tag stays. Practically speaking though, it's a [drop-in upgrade](https://github.com/jlmakes/scrollreveal/blob/development/CHANGELOG.md).

[2017-12-22 20:30] jlmakes commented on #405
Hey Ali!

This feature already exists in [ScrollReveal 4](https://unpkg.com/scrollreveal@beta)!

Don't let the beta tag throw you, it's more robust than version 3—but until the new documentation is finished, the tag stays. Practically speaking though, it's likely a [drop-in upgrade](https://github.com/jlmakes/scrollreveal/blob/development/CHANGELOG.md).

[2017-12-26 19:11] alenart91 opened #406 "scroll reveal causing horizontal scrollbar until elements are scrolled on."
Is there something I should add to my file to get rid of this issue? If I delete my reveal js file everything works perfectly. It creates a horizontal scrollbar until all the elements are revealed then the scrollbar disappears.

I'm using version 3.1.4 and noticed this problem in chrome and mobile. Haven't checked any other browsers.

[2017-12-26 20:41] jlmakes commented on #406
Please see #377

[2017-12-26 20:41] #406 closed

[2017-12-27 18:09] bakura10 opened #407 "Taking into account display: none elements"
Hi :),

I'm currently using the beta of v4 (but been able to reproduce it on v3 as well) when using a sequence.

I have a sequence with a grid of items :

[code]

On desktop, ITEM 1 is visible, but Item 1 bis is hidden (ITEM 1 has a different markup and can't be achieved otherwise), while on mobile, Item 1 is hidden but Item 1 bis is visible.

The issue when using the sequence is that ScrollReveal

[2017-12-27 18:31] bakura10 opened #408 "Undefined order when staggering"
Hi :),

I'm using ScrollReveal v4 beta 24 and I've found out that depending on my scrolling speed, the reveal order does not respect the DOM order but seems... random.

It's a bit hard to explain so here is a short video I've capture: https://www.dropbox.com/s/jqkjozs3jdy3mqd/video.mov?dl=0

As you can see once scrolling to the second row, the three attempts at scrolling at different speed leaded

[2017-12-28 00:54] jlmakes commented on #408
Thanks for the video, Michaël.

I understand what's happening, but would you mind helping me out by creating a simple demonstration of this problem using something like [JSBin](http://jsbin.com)?

I ask because it facilitates access to ScrollReveal's state at the time of error, and prove there are no external conflicts at play.

[2017-12-28 08:54] bakura10 commented on #408
Hi @jlmakes , yes I can try to do that.

However in the meantime, I'll give you an access to the in development website: https://diamant-development.myshopify.com

Enter the password _rewblo_ then navigate to this page: https://diamant-development.myshopify.com/blogs/news

Apparently the wrong order happens when I scroll very slowly to have only a few pixels visible of the next line.

If it can he

[2017-12-28 09:11] bakura10 commented on #408
I've been able to reproduce this in JSBin. Please find it here: https://jsbin.com/raxocujuyo/edit?html,output

Make sure to extend the window to have 3 items per row, then scroll very slowly until the second row with 3 items appear and you will see the order is undefined :p.

[2017-12-28 09:14] bakura10 commented on #407
Hi again,

The JSBin I've setup for the other question apply here as well. I've simply increased the animation time so it's easier to spot: https://jsbin.com/ruhenifuzu/1/edit?html,output

As you can see the first image appears immediately, then there is an additional delay before the second visible item appears, as it seems ScrollReveal applied took into account the hidden element in the DOM (in

[2017-12-28 09:50] jlmakes commented on #408
Okay, thank you for the extra information.

**The behavior is the result of your use of `options.viewFactor = 0.15`**

That option means that 15% of an element must be within its container before it is considered visible by ScrollReveal. In other words, shorter elements will reveal first; if you look carefully, the element that's revealing "in the wrong order" is actually the shortest of the 3 on

[2017-12-28 10:09] #408 closed

[2017-12-28 11:03] jlmakes commented on #407
Salut encore Michael,

ScrollReveal does do a lot for you automatically, but in this case, I think it's the developers responsibility to figure out what elements to reveal—and let ScrollReveal figure out _how_ to reveal them.

_Here's one example of how you can handle this using a `node` array as the target (new in v4):_

[code]

J'espere que ça roule bien! 😀

See the [Live Demo on JSBin](https://

[2017-12-28 11:03] #407 closed

[2017-12-28 11:52] #405 closed

[2017-12-28 13:19] bakura10 commented on #407
Merci beaucoup, ça devrait faire l'affaire :).

[2017-12-28 16:00] cdmoro opened #409 "Color variant"
Hi! It would be nice if we have the possibility to set a color animation, during the reveal and set too a color after animation finish.

[2017-12-28 16:46] jlmakes commented on #404
It's also worth noting, there may be an opportunity here to automate calling `delegate()` with dynamically sized containers, perhaps using [`MutationObserver`](https://developers.google.com/web/updates/2012/02/Detect-DOM-changes-with-Mutation-Observers)... I may open that as a feature request in the future.

[2017-12-28 17:28] cdmoro commented on #409
I found a good example of this behavior: https://sdras.github.io/array-explorer/ when the options are selected at the right of the screen appears two boxes with the color (and reveal) animation

[2017-12-28 17:56] jlmakes commented on #409
Are you referring to the way the text is animated?

[2017-12-28 18:00] cdmoro commented on #409
Yes, and the text color transition in particular

[2018-01-05 04:15] jlmakes commented on #409
It's a cool effect, but for now I don't think it should be baked-in.

It’s possible developing the "color variant" effect as its own library, independent of ScrollReveal, may be prudent. (It would be trivial to integrate using ScrollReveal's callbacks, e.g: `options.afterReveal`)

Have you asked the creator if she created the effect from scratch? This library may already/soon exist.

[2018-01-05 04:15] #409 closed

[2018-01-08 09:57] strin opened #410 "window not found"
When compiling for server side rendering with gatsby (https://www.gatsbyjs.org/docs/debugging-html-builds/), the `scrollreveal` package throws "window not found error".

[2018-01-08 12:09] jlmakes commented on #410
Hmm, any idea how other DOM libraries handle this?

[2018-01-08 12:10] jlmakes commented on #410
Hmm, any idea how other DOM libraries handle this?

[2018-01-08 12:17] jlmakes commented on #410
Any idea how other DOM libraries are solving this? The advice I've given before is to inject DOM libraries using `<script>` tags, and defer to the client. (ScrollReveal uses the `window` a fair amount.)

Duplicate #304

[2018-01-10 02:44] sebszocinski commented on #384
Hey guys, I've been looking for the same thing, and have tried your code above @jlmakes and noticed a small bug.

`if (container.direction > 0) {` should be `if (container.direction.y > 0) {`

Works for me! (so far...)

[2018-01-10 07:38] strin opened #411 "Scrollreveal.js blinks on mobile safari"
Just go to https://scrollrevealjs.org on iPhone safari. The divs would appear fully first, and then again start with `opacity: 0` and transition to `opacity: 1`. This creates an annoying blinking effect.

[2018-01-10 12:01] jlmakes commented on #384
@sebszocinski Nice catch. I updated the pseudo code with:

[code]

[2018-01-10 12:22] jlmakes commented on #411
This isn't a bug, and is known behavior, unfortunately.

This "flickering" is because the DOM begins rendering before the JavaScript is evaluated... so there's a brief moment before ScrollReveal hides the elements.

I'm actively working on testing and improving a recommend practice here, but it's actually surprisingly hard behavior to recreate; using a sandbox (such as [JSBin](http://jsbin)), disa

[2018-01-11 00:39] lucian95 commented on #209
Tried with the latest version (3.3.6) and did not work with webpack, but when I reverted to scrollreveal@3.0.5 it worked just fine.

[2018-01-11 02:08] jlmakes commented on #209
Can you do me a favor and test with `scrollreveal@beta` please @lucian95?

[2018-01-13 21:04] lucian95 commented on #209
Sure thing. It did load from webpack but it only contained an "__esModule" and "default" property. Is that the object you intended to return with "require('scrollreveal')"? Seems off.

![scrollreveal beta](https://user-images.githubusercontent.com/17990875/34910043-64cd5872-f87b-11e7-80af-5294c2941e43.png)

[2018-01-14 21:11] jlmakes commented on #209
That looks like the result of a the [Babel ES2015 to Common JS Plugin](https://babeljs.io/docs/plugins/transform-es2015-modules-commonjs/) @lucian95.

I'm not sure, but seems like if you're going to consume the default export of a ES2015 module with Babel v6+, you'd need to do this:

[code]

Also mentioned in the Babel documentation, is a plugin that automatically unboxes the default property valu

[2018-01-14 21:35] lucian95 commented on #209
In that case yes, doing "require('scrollreveal').default().reveal(...)" works properly. I tried it again just now.

[2018-01-18 14:57] antoniocosta commented on #384
Whoa!!! :)
Here's my stab at that pseudocode: https://jsfiddle.net/abmc/oaxmma6y/
Just had to comment all the `this.defaults.*` props to get rid of undefined errors.

[2018-01-18 15:37] jlmakes commented on #384
@antoniocosta Nice!

You're totally right about the undefined errors with `this`, that's just my brain dropping the ball. I updated my earlier comment with a note on the erroneous lines.

[2018-01-18 15:39] jlmakes commented on #384
@antoniocosta Nice!

You're totally right about the undefined errors with `this`, my brain done did a bad. I updated my earlier comment with a note on those erroneous lines, and how to fix them.

[2018-01-19 02:43] claudemuller opened #412 "Google Map overflows container on reveal"
Hi there

Thanks for the project - really nice work.

I'm trying to scroll-reveal a Google Map. While the scrolling works, when loaded, the map overflows the explicit bounds set by the height attribute on the containing element as well as in CSS. There are issues with Gmaps when the container is given a height after loading that it wouldn't render correctly. The fix for that seems to be to call th

[2018-01-19 12:25] keloman opened #413 "Animations not working on a particular element"
Hello there!

I have a very weird problem with ScrollReveal (not just the library, reveal effects in general).

For some reason, ScrollReveal works fine when I apply it to the `.one-rem-text` paragraphs but doesn't work if I apply it to the `a.image-bear` tag or the `img` tag inside it.

Opacity just stays at `0`, it never animates to `1`.

Repository is here: https://github.com/keloman/Parallax-t

[2018-01-19 17:02] jlmakes commented on #412
Google Maps adds `position: relative; overflow: hidden` to the target element. For whatever reason, that is being lost during integration. Rather than debug why, I decided to try ScrollReveal 4 and it works as expected.

The new documentation is holding up the release, but v4 is just better software (don't let the `beta` tag throw you, all work from the last year has gone into it).

Please see [wh

[2018-01-19 17:02] #412 closed

[2018-01-19 17:11] jlmakes commented on #413
Can you update your repository to reproduce the issue?

Right now you have this [erroneous commit](https://github.com/keloman/Parallax-tests/commit/ca42fe43841ed817a7d4cfd85dd777795957db98#diff-b8ccc8d778c9219a5f7ce01b4e79110a) which throws:

[code]

[2018-01-19 17:23] keloman commented on #413
I've updated the repository,in the way you need,I hope.

And I've tried moving the ScrollReveal call to the `<head>` tag (like it is described in the README) but it didn't really work,at least when I tried it.

I'm most definitely missing something since I've used this library before and it worked just fine then.

[2018-01-19 18:00] jlmakes commented on #413
@keloman Well, loading the script in the `<head>` is about eliminating element flickering on page load.

I've found your problem, [please read](https://github.com/jlmakes/scrollreveal/issues/379#issuecomment-334201433).

[2018-01-19 18:00] #413 closed

[2018-01-20 03:00] claudemuller commented on #412
Oh I see. Well I tried v4 but the problem was still occurring. But then I thought let me try explicitly setting position (which I did before) and overflow (the secret) in my CSS and that did it!

I'll keep using v4 beta for dev but do you know when it'll be officially released as I'm using the npm version and need to distribute this to users so they need a stable package.json to install.

Thanks f

[2018-01-20 15:55] jlmakes commented on #412
Aha, that is the six million dollar question.

It's the [new documentation](https://user-images.githubusercontent.com/2044842/35185169-396f44ee-fe00-11e7-808d-58884832f847.png) that has been taking me ☠️  **forever** ☠️ because my perfectionism is running rampant. I've got 35 pages of guides and reference material, and I just finished up a month-long detour developing a custom scrollbar solution (

[2018-01-20 18:45] jlmakes commented on #412
Aha, that is the six million dollar question.

It's the [new documentation](https://user-images.githubusercontent.com/2044842/35186731-34cb1184-fe19-11e7-84f7-c8067668b966.png) that has been taking me ☠️  **forever** ☠️ because my perfectionism is running rampant. I've got 35 pages of guides and reference material, and I'm happy with the progress. It's almost ready, I just need a few really produc

[2018-01-20 20:08] claudemuller commented on #412
No worries, good luck :)

[2018-01-22 05:55] jlmakes commented on #397
This isn't fixed yet, but I now understand the problem. Here's the state before and after `sync()`

![dump](https://user-images.githubusercontent.com/2044842/35206089-66824c98-ff3a-11e7-893a-c4cad2c02410.png)

What stands out to me is that the `Sequence` object is being re-initialized on `sync()`, but [the oversight](https://github.com/jlmakes/scrollreveal/blob/development/src/instance/functions/s

[2018-01-22 05:59] treechime commented on #397
Glad to hear, thanks for looking into it!

[2018-01-24 12:33] flyke opened #414 "Items already in view dont appear without scrolling on some browsers"
If a page is loaded with a scrollreveal element that is inside the viewport, it will immediatly start the animation, which is perfect.

However this does not work on:
- Firefox 57 on Windows 10
- Firefox 57 on macOS Sierra
- Safari 10.1 on macOS Sierra
Elements inside viewport are hidden after loading page untill you scroll.

(it does work with Safari and Firefox on macOS High Sierra)

[2018-01-25 16:00] jlmakes commented on #414
Would you mind creating a [JSBin](http://jsbin.com) that demonstrates the problem?

[2018-02-01 23:27] ryanturnbull commented on #218
any update on the react version @jlmakes ?

[2018-02-02 02:58] DoyinDimeji commented on #272
<a href="https://facebook.com">holla</a>

[2018-02-02 05:26] jlmakes commented on #218
As it stands @ryanturnbull, the higher-order component I outlined above works well—I'm mainly just looking for more feedback on the implementation. It's only about 30 lines of code, so I'm not sure it warrants a separate package for now. (Plus this way, you can manage prop naming conflicts.)

Another developer has created `react-scrollreveal` but @RusinovAnton has a different opinion about what th

[2018-02-07 14:10] jlmakes commented on #397
Landed in `v4.0.0-beta.26` along with some other improvements to the sequencer.

Thanks again for helping make ScrollReveal better @treechime!

[2018-02-07 17:06] jlmakes commented on #397
I noticed that with `options.reset = false` the entire sequence re-reveals, which I initially thought was a regression—but I realize now your original example used `reset: true`.

The reason is that `clean()` is called internally after the `afterReveal` callback, to remove unneeded styles and event listeners from elements. I'm considering removing this behavior for sequenced elements, so your orig

[2018-02-07 17:06] #397 closed

[2018-02-07 18:16] dariodev opened #415 "How to reset from some other function?"
Hello!
Is possible to call reset from some other function? For instance:
[code]
Now, when user reaches the bottom of the page, there will be a back-to-top link. I want to call reset when page scrolls back to top.

[2018-02-08 08:16] jlmakes commented on #415
You can call `sr.sync()` to re-run all `reveal()` calls.

[2018-02-10 09:15] jlmakes commented on #415
You can call `sr.sync()` to re-run all `reveal()` calls.

Calling `sync` inside your "back to top" button click handler/callback should get you what you want.

[2018-02-10 09:15] #415 closed

[2018-02-10 13:12] #411 closed

[2018-02-10 13:12] #410 closed

[2018-02-10 13:13] #414 closed

[2018-02-11 10:49] #259 closed

[2018-02-13 07:35] dariodev commented on #415
hmmm does not work for me. Can you suggest anything?

[2018-02-13 12:44] jlmakes commented on #415
To be clear, you're trying to reveal the elements once without `options.reset`, and then once the user has scrolled back to the top, you want to re-reveal all the elements so they can scroll down again to see the reveals again?

[2018-02-15 08:49] RusinovAnton commented on #218
@jlmakes Hey, Julian! I would love to help with official react-scrollreveal component. Currently I don't have much time for that though, but I believe I may get to it in two weeks or so.

I want to share some of my findings while developing react-scrollreveal. That component initially was made for certain project where I had to use ScrollReveal with react. At first it was separate components for e

[2018-02-19 10:56] sfunke opened #416 "Performance: Consider passive eventlisteners"
Hey, firstly thanks for the fantastic library.

My suggestion for further improving scrolling performance is adding the scrolling event listeners passively.

With the option `{ passive: true }` added to event listeners, they cannot be canceled and are delivered right down the chain, without the browser waiting for the code in the listener to execute. This can improve scrolling performance dramatic

[2018-02-19 19:51] Radzam opened #417 "Cant use scrollreveal with universal react"
I am using Next js in a project which is using react both on server and client. If I try to import it using ES2015 modules, then it gives me the classic window is not defined because it doesnt exist on server side. So I do what I usually do, add it to a lifecycle method as a CommonJS.

Using this approach on version 3x it works but I can only do it on 1 ref, if I do it on more than one than only t

[2018-02-21 21:51] jlmakes commented on #417
ScrollReveal 4 is the first release that handles modular development gracefully, because the constructor always returns the same instance (singleton factory); reinvoking the constructor simply re-configures the instance defaults.

If you're looking to improve ScrollReveal into various React components, there's no doubt we want to be using v4—so we should focus on debugging why you're getting `Scro

[2018-02-21 21:54] jlmakes commented on #416
I think it's a great idea. For some reason I thought all scroll event listeners were passive by default in browsers that support them—but that doesn't appear to be the case!

I'm open to pull requests, I ask that you:

- use lowercase commit messages with imperative mood
- make sure to work off of the development branch

[code]

In this particular case, I think implementing [feature detection](htt

[2018-02-26 15:31] cgahmann opened #419 "Bug with distance and position absolute"
Hi,

With the latest ScrollReveal 4 and `distance: '20px'` on the parent element,  and `position: absolute` on the child element, the positioning disappears?

It works without the `option.distance`.

Demo: http://jsbin.com/zadaxutako/edit?html,css,js,output

This does not work on:

- Firefox 58.02 on macOS 10.11
- Chrome 64.0.3282.186 on macOS Sierra 10.11

[2018-02-26 15:54] jlmakes commented on #419
Thanks for the reproduction @cgahmann, I really appreciate it.

I've also noticed that on Safari, it appears to load correctly but exhibits the same broken layout on resize. I'll take a closer look!

[2018-02-26 15:57] cgahmann commented on #419
No problem :) I have the same problem with the latest ScrollReveal 3.

[2018-02-26 16:14] jlmakes commented on #419
This looks like a browser bug, or just unexpected CSS behavior.

The way you've constructed the DOM, and the CSS you've used, has exposed the issue—when a CSS transform is present on the `.row`, your layout does not do as you intend.

Demo: http://jsbin.com/lotozubaso/edit?css,output

[code]

Just toggle the CSS transform on/off to see what I mean. I'm not sure what browser bug/behavior this is, b

[2018-02-26 16:14] #419 closed

[2018-02-26 16:19] cgahmann commented on #419
Thanks! Yes, it's a unexpected CSS behavior: https://stackoverflow.com/questions/15194313/transform3d-not-working-with-position-fixed-children

[2018-02-26 16:21] jlmakes commented on #419
Luckily, HTML/CSS can be combined in all kinds of ways, there's surely a way to create the layout you want that doesn't expose this bug. Good luck!

Thanks again for creating a reproduction of the issue, it really helps me offer support.

[2018-03-02 05:15] mankinchan opened #420 "Trigger animation when elements come into viewport using another script"
Hi,

I'm new to web development and design and so far I've found ScrollReveal to be a great addition to my web projects.

I do have a question about having ScrollReveal work with another script, [progressbar.js](https://github.com/kimmobrunfeldt/progressbar.js)

I currently have animated progress bars reveal on scroll using ScrollReveal; however, the animation on the progress bar is already done b

[2018-03-03 02:14] jlmakes commented on #420
ScrollReveal mainly does two things: generate animation styles, and apply them at the right time.

To accomplish the latter, ScrollReveal _does_ check whether elements are visible within the `options.container` (which by default is the window), but it's a relatively small part of the magic.

If all you're looking for is element visibility checking, there are certainly more lightweight solutions av

[2018-03-03 02:14] #420 closed

[2018-03-03 04:53] mankinchan commented on #420
Thank you, this really helped a lot.

[2018-03-12 22:27] almatrass opened #421 "Webpage displays for a split second before animations start"
- Windows 10
- Google Chrome (latest version)
- ScrollReveal v3.4.0

As the title says the page flashes up for a split second before starting the animations, any way to stop this happening?

[2018-03-12 23:01] jlmakes commented on #421
I believe what you're describing is known behavior, due to your DOM rendering before JavaScript has evaluated. Check out #411 for a little more.

[2018-03-13 09:46] almatrass commented on #421
Thanks a lot

[2018-03-15 09:36] joomlabeat opened #422 "Can't make scrollreveal to work."
I can't make scrollreveal to work. I see no animations no js errors - have tried many things and various fiddles and examples, so I am currently trying with the absolute basic setup.

Is it supposed that the following should work, because it doesn't work for me.
I must be missing something obvious here, but I can't find what this is...

[code]

[2018-03-15 17:12] jlmakes commented on #422
The problem is that you are invoking the ScrollReveal constructor _before_ the DOM is ready.

Generally speaking, things will be evaluated top-down, so you can imagine that all your `div[data-sr]` content doesn't exist yet at the time you call `new scrollReveal()`.

Simply move the constructor to the end of the body:

[code]

[2018-03-15 17:12] #422 closed

[2018-03-19 11:24] CallumBrankin opened #423 "Why is my element not revealing on page load?"
- Windows 10
- Opera 51.0.2830.55
- ScrollReveal version 3.3.6

When a large element is within the view factor percentage on page load, ScrollReveal will not trigger the reveal animation on that element.

[code]

The section element in question is 1841px in width and 3090px in height in desktop view. 311px width and 7868px height in mobile view (iPhone 7).

[2018-03-20 02:02] jlmakes commented on #423
Do you mind creating a [JSBin](http://jsbin.com) demo? It would better help me understand and help solve your problem.

[2018-03-20 15:37] CallumBrankin commented on #423
@jlmakes I'll attempt to recreate it in JSBin

[2018-03-20 16:00] CallumBrankin commented on #423
@jlmakes I've used codepen instead.

Make sure you make the output window as big as possible.

Viewfactor set to default value of 0.2: https://codepen.io/CallumBrankin/pen/oqZggV. The main body of text animates as intended but you need to scroll the page down.

Viewfactor set to 0.06: https://codepen.io/CallumBrankin/pen/JLWodw. The main body of text is visible but doesn't animate in on page load.

[2018-03-21 01:05] jlmakes commented on #423
So you're trying to have the body text reveal immediately on page load?

[2018-03-21 02:04] jlmakes commented on #423
Callum,

I'd like to first review what `options.viewFactor` actually does. Imagine we are scrolling down, and an element on our page is quickly moving upwards.

<img width="135" src="https://user-images.githubusercontent.com/2044842/37691252-ae22a24a-2c6d-11e8-9749-499a7fac4e60.png">

If we have `options.viewFactor = 0` (which is the default in version 4), the top edge of the element is represente

[2018-03-21 02:28] jlmakes commented on #423
With that said, let's touch on a few things related to your project:

You're using ScrollReveal on a really really really tall element, and `options.viewFactor = 0.06` means that 6% of its height must be past the bottom boundary before it's revealed—which on my screen, meant I had to scroll.

**I would recommend `options.viewFactor = 0`**.

Also, I noticed...

The `div.panel.panel-narrow` that you

[2018-03-21 02:28] #423 closed

[2018-03-21 07:44] #421 closed

[2018-03-21 09:39] CallumBrankin commented on #423
@jlmakes Thanks for the clarification!

[2018-03-21 16:41] rosshulford opened #424 "Overwrite transform"
I position a div centrally with:

[code]

When I add the following reveal:

[code]

It overwrites the x-transform pushing it to the right, the div properties are

[code]

Can this be fixed?  I am using v3.4.0

[2018-03-21 19:33] jlmakes commented on #424
Hey @rosshulford,

What you're asking about was requested in #251 and is one of the primary improvements of [ScrollReveal 4](https://github.com/jlmakes/scrollreveal/tree/development) (late-stage beta), which should be a drop-in upgrade for most developers.

If you're using npm, you can upgrade with `npm install scrollreveal@beta`, or if you're using `<script>` tags, you can pull the latest from he

[2018-03-21 19:41] #424 closed

[2018-03-21 19:44] #264 closed

[2018-03-21 20:05] jlmakes commented on #264
I revisited this issue for ScrollReveal 4, but again found no success when trying to use `getBoundingClientRect()` as the foundation for "element position checking" (EPC).

The fact that modern EPC such as `getBoundingClientRect()` and `IntersectionObserver` both include CSS Transforms in their return values, means the results vary as elements move/animate using CSS.

My strategy going into versio

[2018-03-22 09:27] rosshulford commented on #424
Great, thanks

[2018-03-27 15:10] shunyata commented on #111
Thanks 👍

[2018-03-30 21:07] KevinAllen4325 opened #425 "Only works in chrome?"
Testing this in other browsers, it only seems to be working in chrome for both desktop and mobile. If i use any other browser, it doesnt load the sections so they're just left blank. I tried the CDN as well as downloading the files, and removing other libraries but it seems to be an issue with SR itself. Im using a windows 10 machine as well as a galaxy s8

[2018-03-30 22:03] jlmakes commented on #425
What version of ScrollReveal?

I automate as much cross-browser testing as possible, but also habitually test across devices manually; my devices on hand are running Firefox and Safari, and both function normally...

I'm not sure what's going on for you, but if you provide a demo I don't mind helping you debug.

[2018-04-02 13:18] KevinAllen4325 commented on #425
Here's what i'm working on, https://kevinallen4325.github.io/decentralize/

I've tried removing the other libraries to see if something was interfering but nothing changed

[2018-04-02 18:40] jlmakes commented on #425
Without a demo created with [JSBin](http://jsbin) or [Codepen](https://codepen.io), I can't do much more than inspect your page. Either way, thanks for providing more information. (I see you're running ScrollReveal v3.4)

This sounds a lot like https://github.com/jlmakes/scrollreveal/issues/379#issuecomment-334201433

I can confirm these bugged values are the root of the problem; scroll the page a

[2018-04-02 18:52] KevinAllen4325 commented on #425
Ill read through that thread and see if anything helps. If it does, i'll report back here

[2018-04-02 19:05] KevinAllen4325 commented on #425
So i removed overflow-x:hidden on my body, and that cleared it up. Not sure why that is, but if it works, it works.

[2018-04-03 02:15] #425 closed

[2018-04-06 14:33] dancespiele opened #426 "The reveal effects only works the first time and when I scroll up"
Before submitting a new issue, **please search existing issues.**

If you cannot find an existing discussion to join, please make sure to include the following with your new issue:

- What operating system you are using
Manjaro linux
- What browser (and version) you are using
Firefox 59.0.2
- What ScrollReveal version you are using
3.4.0
- Detailed description of the problem
the reveal effects onl

[2018-04-06 16:01] dancespiele commented on #426
Ok to fix the issue I have to put
[code]

[2018-04-06 16:01] #426 closed

[2018-04-06 18:00] jlmakes commented on #426
Glad you worked it out @dancespiele

Since this CSS ruleset turned out to be critical, version 4 does this for you automatically.

[2018-04-14 04:00] nnagewad opened #427 "Can't get this working on Vue"
How do you install this in Vue?

[code]
After that it gets borked

Thanks!

[2018-04-14 07:31] jlmakes commented on #427
ScrollReveal is not a [Vue plugin](https://vuejs.org/v2/guide/plugins.html)

ScrollReveal is a standalone library, that does not implement the Vue plugin interface ; passing the ScrollReveal constructor to `Vue.use()` won't have the desired outcome.

I recommend exploring something like [`vue-scroll-reveal`](https://github.com/tserkov/vue-scroll-reveal).

[2018-04-14 07:49] jlmakes commented on #427
Also when using the standalone library, be careful using `import` with ScrollReveal 3.x.

Invoking the constructor in different modules will instantiate multiple copies, which leads to a lot of pain. You can get around this by creating your own wrapper:

_Make a new file `sr.js`_

[code]

Now when we import the wrapper, we are only ever working with one instance of ScrollReveal.

<details>
<summar

[2018-04-15 11:12] eybarta commented on #427
maybe you're looking for this?

[https://github.com/tserkov/vue-scroll-reveal](https://github.com/tserkov/vue-scroll-reveal)

[2018-04-18 08:24] crazypsycho commented on #194
I don´t like to work with old versions, but i need the data-sr-api. So I have copied and change the api from 2.3 and make it workable with 3.x.

Embed my script and call initScrollRevealByData() and all elements with data-sr will be revealed.
It has minified only 3 KB.

[code]

[2018-04-20 21:09] robbisy opened #428 "documentation question"
Julian does data-sr also works with scrollreveal v3.x ?
https://github.com/jlmakes/scrollreveal/wiki/Keywords#note-this-is-legacy-v2x-documentation

[2018-04-21 01:49] jlmakes commented on #428
No, all versions 3.x and later use a JavaScript API. (See #194)

The "natural language" inline API used in 2.x and earlier does have some unique strengths, but it was ultimately abandoned as the functionality of ScrollReveal grew.

[2018-04-21 01:49] #428 closed

[2018-04-21 01:49] #427 closed

[2018-04-21 06:05] jlmakes commented on #395
Soon @Alex360hd! The docs are finished, but not yet online while I finish building the license checkout.

I've done what I can to keep almost all of it backwards compatible, so if you're familiar with the current API, I've made sure the `development` branch [changelog](https://github.com/jlmakes/scrollreveal/blob/development/CHANGELOG.md) is accurate and up-to-date.

[2018-04-21 14:59] lambdacasserole opened #429 "The use of setAttribute('style', ...) causes CSP violations"
If I use ScrollReveal in a web application served with a Content Security Policy that doesn't include `style-src unsafe-inline` it doesn't work, because inline style attributes are not permitted and ScrollReveal generates them by using `setAttribute('style', ...)` in several places, for example [here](https://github.com/jlmakes/scrollreveal/blob/63abb40037eb9ff80b9ae8d2d94057e1b48e7d11/src/scrollr

[2018-04-22 12:18] nguyenlamlll opened #432 "Can I make elements disappear?"
Hi there,

I'm using ScrollReveal 3.4.0 on Chrome, developing with Net Core 2.0 and Razor Pages.
I'm pretty new to front-end development so this question might be a bit silly, but can I make an element disappear after it has been revealed (after some seconds or some button clicks).

I reckon that I need a fixed pre-made place on the website so that contents of the element will be dragged into plac

[2018-04-22 17:26] marklai1998 opened #433 "only one element got trigger for reveal"
First I wanna thanks for the fantastic library.

I'm using React with this library right now
But I got trouble when I want to set up more reveal elements

Here is part of my code

[code]

with two DOM elements, they act weirdly
Only one reveal correctly. Other one did noting(the style didn't trigger at all)

I'm also a newbie to React, perhaps I did something wrong.

[2018-04-22 17:45] marklai1998 commented on #433
Tried with class
 ScrollReveal().reveal(".player", config_player);
still not work

Part of my DOM

`<div className="container">`
`                       <div className="row justify-content-around">`
`                            <div className="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4">`
`                                <img src={player} className="player" alt="player" ref='player'/>`
`

[2018-04-22 17:55] jlmakes commented on #433
What version of ScrollReveal are you using?

[2018-04-22 17:56] marklai1998 commented on #433
Tried the latest. and the 4.0 beta

[2018-04-22 18:07] jlmakes commented on #433
Well this snippet of code...

[code]

...will not work with ScrollReveal 3.x, because invoking `ScrollReveal()` will return a new instance each time. (Multiple instances have never been supported, but 4.x is the first version to enforce the singleton pattern.)

[code]

For this reason, if you're using ScrollReveal in a modular development environment, you either want to use 4.x or [create your own

[2018-04-22 18:10] marklai1998 commented on #433
Just reload my project and it works
I think the 4.x beta need a refresh of the project for it to work
Thx

[2018-04-22 18:10] #433 closed

[2018-04-22 18:31] jlmakes commented on #432
I don't fully understand what you're trying to build, but the `options.afterReveal` callback will let you _manually_ do whatever you want after a completed reveal animation:

[code]

No, there is no ScrollReveal API for manually triggering (or resetting) animations.

[2018-04-23 01:39] nguyenlamlll commented on #432
Thanks for answering. Basically, I'm looking for the `float out` transition to complete the `float in-float out` chain. I will try to experiment a bit and will update my solution here. Is it OK?

[2018-04-23 02:54] jlmakes commented on #432
Have you already explored `options.reset` ?

[code]

[2018-05-01 06:07] nguyenlamlll commented on #432
I tried, but it doesn't make sense in my case. I have a fixed element on the page which will be reloaded after the user clicks a button. The page is small and doesn't require to scroll up or scroll down.

So right now what I'm doing is to remove the attributes, load the new contents inside the element, and then `reveal` it again.

[2018-05-01 10:46] jlmakes commented on #432
ScrollReveal currently does not provide manual control over the "float in" or "float out". This is managed for you based on element visibility. So when you say...

This makes me think ScrollReveal is not a good solution for this part of your project.

From what you've described, it sounds like toggling classes in your button click handler would be simpler and effective. That way you don't have to

[2018-05-01 21:10] #432 closed

[2018-05-08 09:41] Hazlank opened #434 "Interval time"
Hi,all
I set interval time with element collection，but sometime i don't know why some elements will not appear and wait for a period of time they will appear and go on to do animation. I don't know how to reappear this bug.
- scrollreveal 3.4.0

[2018-05-08 22:30] jlmakes commented on #434
Hey Hazlank,

You're not the first person the v3.x sequencer has confused with its behavior.

Sequenced elements are treated as a group: if any of them are visible, the entire sequence is considered visible. This means it's possible (with enough elements) to scroll faster than the sequence, and be stuck waiting for in-view elements to reveal. (I think this is what you're describing.)

This is not

[2018-05-08 22:30] #434 closed

[2018-05-09 19:52] jlmakes commented on #370
@afalchi82 Some changes hit the v4 beta recently:

The `interval` parameter has been removed, and replaced with `options.interval`.

[code]

[code]

[2018-05-09 19:56] afalchi82 commented on #279
I'm going with this hacky workaround:

[code]

[2018-05-15 05:02] dolanb12 opened #435 "pixel-based viewFactor"
I'd love to be able to have a pixel-based viewFactor option.

When I enable for mobile, having sections that have dynamic height (because of changing viewport width) -- I run into an issue because a 50% viewFactor means something very different when a mobile phone's width has made the section's height much larger, sometimes larger than the vh itself.

If I were to animate single html elements, thi

[2018-05-16 00:14] jlmakes commented on #435
Hey @dolanb12,

So you've been using `options.viewFactor` to change the "active boundaries" of elements, defined as a percentage.

Well you can also use `options.viewOffset` to change the "active boundaries" of the viewport, defined in pixels (for each direction).

_Example_:

[code]

Good luck!

[2018-05-16 00:14] #435 closed

[2018-05-17 10:52] fengitel opened #436 "scrollrevealjs not working on IE11"
Hi,
I can't manage to get scrollrevealjs working on InternetExplorer 11. Animations doesn't start at all.
Even on the demo page (https://scrollrevealjs.org/) I get a black screen (no colored bars at all).
JS is enabled.
It's there something I'm missing?

Regards
F.

[2018-05-17 19:26] jlmakes commented on #436
ScrollReveal works on browsers that support both CSS Transition and Transform (which includes IE10+), but you're right [there is a problem with the demo](222): I used the newer view units `vw` and `vh` for the color bars, which _do not_ play nicely with CSS Transforms in IE.

[Here's a ScrollReveal demo](https://jsbin.com/totumop/edit?html,output) (without view units) you can test.

[2018-05-17 22:36] #436 closed

[2018-05-18 14:36] coopersamuel opened #437 "Adding second event listener breaks scroll reveal"
Hey Julian,

I'm using ScrollReveal and have it working great, until I add a second scroll event listener:
`window.addEventListener('scroll', (event) => { ... });`

It looks like this new event listener is breaking ScrollReveal somehow. This is the error message I'm getting:
[code]

[2018-05-18 19:54] jlmakes commented on #437
Hey Samuel,

This error message is similar to #349, but I believe it was due to element/container data being destroyed during animation (such as calling `clean()` midway through a reveal sequence). I concluded this was exceedingly uncommon, and put the issue on ice.

When I added `window.addEventListener('scroll', () => console.log("whammy"));` to a local test environment, I didn't run into any is

[2018-05-21 20:33] dolanb12 commented on #435
Thanks for this! I should be able to accomplish what I need with a little experimenting. Cheers!

[2018-05-22 15:55] coopersamuel commented on #437
Hey Julian,

I can't seem to recreate the issue either... sorry about this, but maybe it is an uncommon issue.
I found a workaround for my project, so I guess this can go back on ice...

~ Sam

[2018-05-22 15:55] #437 closed

[2018-05-22 21:55] jlmakes commented on #437
No worries, glad you found a workaround!

[2018-05-23 08:30] adr-05 commented on #345
I develop commercial WordPress themes, will I be able to use v4 in them as long as I purchase the commercial license?
Will v3 remain MIT?

[2018-05-23 23:54] jlmakes commented on #345
Yes! There is an extended commercial license for product developers (making themes, plug-ins, interface builders, etc), granting unlimited resale.

If there are any new releases of v3, they will be under the new GPLv3 + Commercial license. However, these changes will not be retroactive, so if you already possess a MIT licensed version of ScrollReveal, you can still exercise that license.

These ch

[2018-06-01 08:26] silence1996 opened #438 "Hello, how do I destroy it?"
Hello, how do I destroy it? My page has a hidden and displayed button. The hidden button can hide the container that uses this js. When I press the display button, I want to display this container and perform an animation.

Using ScrollReveal v3.4.0.

[2018-06-03 16:15] jlmakes commented on #438
What version of ScrollReveal are you using?

[2018-06-04 02:15] silence1996 commented on #438
Thank you for your reply, using your latest version, v3.4.0

[2018-06-06 21:40] mikaelcedergren opened #439 "In AND out"
How do I just let it animate as it goes in and out of viewport? Right now I got this:

[code]

[2018-06-06 23:26] jlmakes commented on #439
Have you tried the reset option? e.g:

[code]

[2018-06-11 15:45] dylanfisher opened #440 "V4 issue in isElementVisible when using Turbolinks"
I'm working on a site using Turbolinks 5 in Rails and the V4 branch of scrollreveal. I noticed when navigating quickly back and forth between pages these errors would crop up.

`Uncaught TypeError: Cannot read property 'bounds' of undefined`
`Uncaught TypeError: Cannot read property 'geometry' of undefined`

Updating the `isElementVisible` to check for the presence of these elements seems to have

[2018-06-11 18:01] ekfuhrmann commented on #440
One of the default properties you can set is `useDelay`, which has an option of `onload`. This may save you from needing to run that `isElementVisible` function.

Example:
[code]

[2018-06-11 18:11] dylanfisher commented on #440
Didn't seem to help. Perhaps it's because of the way I'm using the `destroy` function? My whole initialization looks like this:

[code]

[2018-06-11 21:35] jlmakes commented on #440
Hey Dylan, thanks for raising an issue with a proposed solution!

I've actually seen this error before (#349), which I believe is caused by calling `clean()` or `destroy()` during the event handler; the list of elements is removed from the store, so `isElementVisible()` begins receiving `undefined`.

I'll give this some attention this week, and make sure a solution goes into the next release.

[2018-06-11 21:37] jlmakes commented on #440
Hey Dylan, thanks for raising an issue with a proposed solution!

I've actually seen this error before (#349):

I'll give this some attention this week, and make sure a solution goes into the next release.

[2018-06-12 13:57] MughilanKarthick opened #441 "The external java script file is not working in angular js app"
The app.js file is working in the localhost only and also working only after the refresh of page.

There is no error shown in console.

[2018-06-12 21:13] jlmakes commented on #441
Sounds like an issue with how your project is setup. If you show me how you're using ScrollReveal, I may have some insight to offer.

[2018-06-13 02:56] jlmakes commented on #438
ScrollReveal v3.x isn't well suited for manually controlling animations. That said, I'm not sure I understand what you're trying to build. If you'd like, you can show me what you've tried.

[2018-06-13 03:05] jlmakes commented on #439
Also, if you're using ScrollReveal v3.x, sequenced elements reveal as a group (instead of their individual visibility). It's possible this is what you're experiencing.

If you're willing to upgrade, [ScrollReveal 4](https://github.com/jlmakes/scrollreveal/blob/development/CHANGELOG.md) has a much better sequencer. e.g:

[code]

Official launch and docs coming very soon!

[2018-06-13 03:06] jlmakes commented on #439
Also I noticed you're using v3.x, which reveals sequenced elements as a group. It's possible this is what you're experiencing. If you're willing to upgrade, [ScrollReveal 4](https://github.com/jlmakes/scrollreveal/blob/development/CHANGELOG.md) has a much better sequencer. e.g:

[code]

[2018-06-13 12:07] MughilanKarthick commented on #441
i have a problem on linking the external java script libraries to my
angular application. The libraries make changes in html file only after
refreshing the page

On Wed, Jun 13, 2018 at 2:44 AM Julian Lloyd <notifications@github.com>
wrote:

[2018-06-13 18:08] #441 closed

[2018-06-13 18:09] #438 closed

[2018-06-13 18:09] #439 closed

[2018-06-19 01:01] jlmakes commented on #440
If you don't mind @danielkorte, give `beta.32` a try to see if it fixes your issue.

[2018-06-19 01:01] jlmakes commented on #440
If you don't mind @dylanfisher, give `beta.32` a try to see if it fixes your issue.

[2018-06-20 18:54] #440 closed

[2018-06-20 19:11] dylanfisher commented on #440
Hey that's great Julian, I just tested and don't see the errors. 👍

[2018-06-27 10:43] ugrupp opened #442 "afterReveal doesn't fire in time (Chrome, SR beta)"
- OS: OSX
- Browser: Chrome only, Firefox and Safari seem to be fine
- SR version: 4.0.0-beta.32

Hey, loving the script, thanks! I'm using the beta so I can get the nice sequencer animations.

One problem though: On Chrome, the sequence sometimes gets stuck in the middle, leaving the screen half-empty for several seconds. It doesn't seem to happen on other browsers.
I activated the callbacks and

[2018-06-27 13:40] ugrupp commented on #442
I managed to narrow it down to the `setTimeout` call in the `cue` function. For some reason, it behaves like it's running in a background tab, as described here: https://stackoverflow.com/questions/5927284/how-can-i-make-setinterval-also-work-when-a-tab-is-inactive-in-chrome

One of the solutions there is to defer setTimeout calls into WebWorkers, having them executed inside a different Thread. Th

[2018-06-27 18:14] jlmakes commented on #442
Hey @ugrupp, thanks for all the info!

Getting the sequences to behave intuitively has been a real pain, but I haven't encountered the bug you describe where the sequence stalls for moment before continuing. Do you think you could recreate it in an isolated fashion?

I wonder if there are other Chrome Developer Tools that could help us identify why the "throttling" would occur (if you're not buryi

[2018-06-27 22:38] jlmakes commented on #338
If ScrollReveal is successfully hiding your elements @bbmattieu9, that means a fair amount is already working—but your animations aren't being triggered. With v3.x for example, one cause could be the `<body>` not having `height: 100%` (which is done for you in v4).

If you're still having problems @bbmattieu9 please open a new issue with details about your project, and ideally a recreation of the

[2018-07-02 04:36] jovvybersamin opened #443 "ScrollReview viewFactor only works from bottom to top of the page."
Here is my implementation.

[code]

Anyone knows why?

[2018-07-02 18:12] jlmakes commented on #443
Have you had any luck recreating this problem with something like [JSBin](http://jsbin)?

[2018-07-02 20:55] jlmakes commented on #443
I'm not sure how to help. Can you demonstrate the problem?

For what it's worth, here's a [demo](http://jsbin.com/zoxoquxiya/edit?html,output) showing `options.viewFactor` using ScrollReveal 3.

[2018-07-02 22:20] jlmakes commented on #443
Nothing suspicious stands out about the JavaScript you shared. I'm not sure how to help with more information about your project. Better yet, can you demonstrate the problem?

[2018-07-03 00:19] JohnPhilosopher commented on #443
One thing you could try is in your css is doing
`html, body
{
height: 100%;
}
 `

[2018-07-04 14:54] jovvybersamin commented on #443
@JohnPhilosopher thanks mate, I'll try that.

[2018-07-05 15:29] leoshuaige opened #444 "How to use scrollReveal. Js in angular6"
How to use scrollReveal. Js in angular6

Thanks!

[2018-07-05 18:19] jlmakes commented on #444
I did a quick Google search and found [how to use external libraries with Angular](https://github.com/angular/angular-cli/wiki/stories-third-party-lib):

- `npm i scrollreveal@beta --save`
- create/open `src/typings.d.ts` and add `declare module 'scrollreveal';`
- In your component `import * as ScrollReveal from 'scrollreveal'`

Good luck!

[2018-07-05 18:19] #444 closed

[2018-07-05 18:20] #442 closed

[2018-07-06 18:44] devanflaherty opened #445 "SR element in a wrapper div with overflow auto isn't firing when it comes into the view port"
MacOs
Chrome 67
Scroll Reveal 3.4

I have used Scroll Reveal for 2 years and have loved it!

I recently attempted to utilize some pure css parallax, in order to do so I had to modify my pages `.wrapper` to look like so.

[code]

Then on a div I want to parallax I add a little something like this:
[code]

A strange thing is happening though where my scroll-reveal elements are never firing, it's as

[2018-07-06 19:52] jlmakes commented on #445
I appreciate the kind words Devan!

My first impression is that if you're using `.wrapper` as the scrollable container (instead of default scroll), you'll need to set it as the `options.container` so that ScrollReveal knows which element to bind event listeners to.

[code]

If you are already doing this, or this is not the solution, I ask that you recreate the basics of your project in [JSbin](htt

[2018-07-09 00:45] jovvybersamin commented on #443
html, body { height: 100%; }

This fixes the issue.

[2018-07-09 00:45] #443 closed

[2018-07-10 15:56] devanflaherty commented on #445
Thanks man, totally forgot about the `container` option.

That did the stuff.

https://shopmoment.com/moment-pro-camera-app

Nothing too fancy but got it working in there as desired!
Thanks again.

[2018-07-10 15:56] #445 closed

[2018-07-13 22:07] kierien opened #446 "Element fadeout when scrolled past"
On https://scrollrevealjs.org/ the blocks fade out when being scrolled out of view regardless of the direction of scroll. I can't seem to replicate that with any of the settings. My element fades out on reset when scrolling back up but I'm trying to have it also reset when it reaches the top of the page (like the blocks on the official scrollreveal site). How can I achieve this?

[2018-07-14 05:11] jlmakes commented on #446
It sounds like you're talking about `option.reset`, which hides elements as they leave the viewport. All of the JavaScript used is at the bottom of the page, so you can examine exactly how I configured the animations.

[2018-07-14 05:14] kierien commented on #446
I have reset set to true, but the element only fades out when it leaves through the bottom of the page and not the top.

[2018-07-14 05:17] jlmakes commented on #446
Do you have `height: 100%` set on the `<body>`?

[2018-07-14 05:18] kierien commented on #446
https://codepen.io/kierien/pen/LBVqmR

here is what I have

[2018-07-20 06:11] D4RKAR117 opened #447 "Using ScrollReveal with Laravel?"
- Ubuntu 18.04 LTS
- Firefox Quantum v61.0.1 And Opera 54.0.2952
- Scrollreveal v3.4.0 (First Usage try), Now Beta 4.0-beta32

I'm trying to use ScrollReveal v3.4.0 in my Laravel web page, but the animations never start, later I install v4.0.0-beta.32 hoping that will help me, but the animations never start. Idk if im doing anything wrong but I cant find any example of usage with Laravel

![imagen

[2018-07-20 07:40] jlmakes commented on #447
I'm not familiar with Laravel, or how it works with 3rd party libraries/dependencies.
Are there any errors in the console?

[2018-07-20 13:44] D4RKAR117 commented on #447
527/5000
Thanks for responding quickly.
first I want to confirm that laravel effectively uses npm as dependencies manager, as explained in this [**link**](https://laravel.com/docs/5.6/mix), mix imports of external JS libraries should go in the file /resources/assets/js/app.js, so that later webpack compile and minify the code inside the deployment folder public/js/app.js.

Try what you suggested e

[2018-07-20 18:50] jlmakes commented on #447
ScrollReveal is not defined when/where you're trying to use it.

Notice how for Vue, you are assigning to the global object, e.g:

[code]

This makes `Vue` a global variable. I would guess you either need to do the same for ScrollReveal, e.g:

[code]

Or, as I showed you, require `scrollreveal` _in the same file_ where you intend to use it, e.g:

[code]

[2018-07-20 18:53] jlmakes commented on #447
ScrollReveal is not defined when/where you're trying to use it.

Notice how for Vue, you are assigning to the global object, e.g:

[code]

This makes `Vue` a global variable. I would guess you either need to do the same for ScrollReveal, e.g:

[code]

...OR require `scrollreveal` _in the same file_ where you intend to use it, e.g:

[code]

[2018-07-20 19:57] D4RKAR117 commented on #447
ok I just tried your new suggestions as follows:
![imagen](https://user-images.githubusercontent.com/23545823/43021611-defbee28-8c29-11e8-9c3e-5c93a1e342f2.png)

this is my `resources/assets/js/app.js` i added the

After that i tried add the laravel defualt format to package as shown in the previous screenshot with the `require('../../../node_modules/scrollreveal');`, it doest affect in anything.

[2018-07-20 23:20] jlmakes commented on #447
You should not be responsible for locating node package file paths, e.g:

[code]

you should only need to pass the package name, e.g:

[code]

From the `ReferenceError: require is not defined` inside `webAni.js`, it’s clear that you should only be using `require()` inside of `app.js`, so I still believe that this is correct:

[code]

Also this...

I don’t think the missing type definitions error m

[2018-07-20 23:34] jlmakes commented on #447
You should not be responsible for locating node package file paths, e.g:

[code]

you should only need to pass the package name, e.g:

[code]

From the `ReferenceError: require is not defined` inside `webAni.js`, it’s clear that you should only be using `require()` inside of `app.js`, so I still believe that this is correct:

[code]

Also this...

I don’t think the missing type definitions error m

[2018-07-21 01:15] jlmakes commented on #447
You should not be responsible for locating node package file paths, e.g:

[code]

you should only need to pass the package name, e.g:

[code]

From the `ReferenceError: require is not defined` inside `webAni.js`, it’s clear that you should only be using `require()` inside of `app.js`, so I still believe that this is correct:

[code]

Also this...

I don’t think the missing type definitions error m

[2018-07-21 01:37] D4RKAR117 commented on #447
Ok, finally after hours experimenting and thanks to your last suggestion, I successfully managed to set up your wonderful library. I will explain how I did it with the hope that you add this to your documentation and the clarification of my final doubt, after this you can terminate this issue.

First, the defer attribute in the <script> tag of my view was blocking the loading of your library, so I

[2018-07-21 02:57] jlmakes commented on #447
Thanks for the kind words @D4RKAR117, glad things are working.

In `customlibs.js` you have:

[code]

I believe you should only have to require it once:

[code]

You ask:

Your `webAni.js` looks more or less like this:

[code]

Adding something like this should work:

[code]

In ScrollReveal 4, you can call `ScrollReveal()` pretty much anywhere, safely. So you can pass your custom `options` to eit

[2018-07-21 02:57] #447 closed

[2018-07-21 02:58] jlmakes commented on #447
Thanks for the kind words @D4RKAR117, glad things are working.

In `customlibs.js` you have:

[code]

Maybe it’s something specific to Laravel, but I believe you should only have to require it once:

[code]

You ask:

Your `webAni.js` looks more or less like this:

[code]

Adding something like this should work:

[code]

In ScrollReveal 4, you can call `ScrollReveal()` pretty much anywhere, safely

[2018-07-21 09:36] jlmakes commented on #447
Thanks for the kind words @D4RKAR117, glad things are working.

In `customlibs.js` you have:

[code]

Maybe it’s something specific to Laravel, but I believe you should only have to require it once:

[code]

You ask:

Your `webAni.js` looks more or less like this:

[code]

Adding something like this should work:

[code]

In ScrollReveal 4, you can call `ScrollReveal()` pretty much anywhere, safely

[2018-07-21 13:29] Wouter125 opened #448 "ScrollReveal and Webpack Import"
Hi,

I recently embedded ScrollReveal 4 beta 32 into my portfolio but I'm having a hard time to get it to run.

I'm using Webpack 4.14.0 on OSX Mojave together with Safari 12 and Firefox 62.0b9. In both browsers I'm having the same issue.

ScrollReveal seems to be working fine, the HTML is being prepared (sr class and height added, data-sr class is being setup with the correct values). The only th

[2018-07-21 13:32] Wouter125 commented on #448
Executing the same code in a playground is working fine by the way, so it's something in the compile phase that's causing the issue I think...

[2018-07-21 23:05] jlmakes commented on #448
Hey @Wouter125, thanks for the detail in your report.

If ScrollReveal is successfully initializing your DOM, _a lot_ has already gone right. Plus, you mentioned the same ScrollReveal code works in isolation.

My hunch says the event listeners are being bound to the wrong element. Are you using a scrolling "container" element, instead of the window? If so, we must tell ScrollReveal about it, e.g:

[2018-07-22 10:00] Wouter125 commented on #448
Yea, barba is using the history push navigation, so that might cause the container to be wrong since not everything is being reloaded, let me investigate that a bit further. Good catch. Will update as soon as I figured some more.

Swiper shouldn't really be the issue I combined them earlier on already!

[2018-07-22 18:50] Wouter125 commented on #448
Okay, so the issue wasn't in any of the javascript. ScrollReveal doesn't work as soon as you have an `overflow-x: hidden;` on the body / html tag. The same goes for `position: sticky`, so I thought my try that out. Anyway I think more people might run into this, so now there is a solution.

Might be useful to add this to the documentation of v4? Just an idea!

[2018-07-22 20:03] jlmakes commented on #448
Sounds like we’ve been chasing #379

[2018-07-22 20:04] jlmakes commented on #448
Sounds like we’ve been chasing #379

[2018-07-22 20:31] Wouter125 commented on #448
Aah yes! Missed that issue. Would this still be something to be included into the docs for v4?

[2018-07-22 22:39] jlmakes commented on #448
Adding to the docs sounds like a good idea. I'm also thinking maybe ScrollReveal should check for the two offending styles on `<html>` during instantiation? Thanks for the inspiration.

[2018-07-22 22:39] #448 closed

[2018-08-03 15:24] brentbarkley opened #449 "Firefox Performance"
OSX
Firefox 61.0.1
ScrollReveal 3.4.0

After adding a relatively simple SR request, the whole page is just jerky/jumpy/sticky when scrolling. SR ultimately works, but the performance is poor. If I remove SR, page performs fine. Note: only in Firefox--other browsers perform well!

Did my homework and didn't find anything helpful through an hour of investigating. Is this a known problem with Firefox

[2018-08-06 02:28] jlmakes commented on #449
Hey Brent,

I haven’t observed stark differences in performance across browsers.

I’m not sure what could be causing the slow downs, but a community member did point out that the `scroll` event listeners are not [passive](https://developers.google.com/web/updates/2016/06/passive-event-listeners) (#416). This could be something to explore on your own, but definitely something that will soon see its

[2018-08-06 04:07] #251 closed

[2018-08-06 04:07] #292 closed

[2018-08-06 04:07] #294 closed

[2018-08-06 04:08] #322 closed

[2018-08-06 09:09] #395 closed

[2018-08-06 13:51] kindacoder opened #450 "Chrome and Firefox stopped supporting ScrollReveal. My website not working now."
### Environment

* Operating System:
* Browser Version:
* ScrollReveal Version:

[2018-08-06 17:42] jlmakes commented on #450
I'm going to guess that you were not using a fixed version number in production, and so your page has automatically started using ScrollReveal 4 (which launched a few hours ago).

If you were doing something like this:

[code]

You should specify a fixed version number (and the minified distribution) like this:

[code]

[2018-08-06 17:42] #450 closed

[2018-08-08 08:28] nicroto opened #451 "Demo website doesn't work in Mobile Safari 10."
### Environment

* Operating System: iOS 10.3.3
* Browser Version: Mobile Safari 10.3.3
* ScrollReveal Version: latest

[2018-08-08 15:26] belgamo commented on #111
Nice, thanks!

[2018-08-08 17:52] nicroto commented on #451
Basically nothing shows up from the revealed page content. Scroll is there, but no visible content.

[2018-08-08 21:56] jlmakes commented on #451
Well, the hidden content is intentional. It’s a part of a strategy to prevent elements flickering on page load (see the docs on [User Experience](https://scrollrevealjs.org/guide/user-experience.html)), but it sounds as though the reveal animations are not being triggered 🤔

Unfortunately, I don’t have iOS 10 installed on any available devices, or access to an emulator.

[2018-08-09 06:29] nicroto commented on #451
Yeah, Apple does not make that very easy, unfortunately.

[2018-08-09 07:16] jlmakes commented on #451
Are you able and willing to connect your phone via USB to a mac and use the Safari debugger to look for error messages?

[2018-08-09 07:24] jlmakes commented on #451
Are you able and willing to connect your phone via USB to a mac and use the Safari debugger to look for error messages?

[2018-08-09 07:25] jlmakes commented on #451
Are you able and willing to connect your phone via USB to a mac and use the Safari debugger to look for error messages?

[2018-08-09 17:49] nicroto commented on #451
No errors. No warnings.

[code]

This is the rendered html.

[2018-08-09 18:59] jlmakes commented on #451
Thank you @nicroto, I appreciate this remote debugging session!

The page has been initialized correctly, and all the elements have animation styles applied. That means almost everything has gone right. What is more, it looks like some of the elements have revealed—I see `opacity: 1` on a few.

Can you do me a favor?

* Load the page
* Scroll down about half way
* Type `window.pageYOffset` in the

[2018-08-10 09:35] GuillaumeGascon opened #452 "option Reset doesn't work on my website"
### Environment

* Browser Version: Blisk Version 9.1.201.31 (Official Build) (32-bit)
* ScrollReveal Version: 4.0.0

Hello,

first thanks for this awesome script.

i've a problem using the reset option, my element didn't reset when they exit the viewport.

i've try to switch the default value but didn't work to...

`var leftSlow = {

    reset: true,
    origin: 'left',
    distance: '5em',
    d

[2018-08-10 12:52] nicroto commented on #451
I hope this is helpful:

[code]

[2018-08-10 19:27] jlmakes commented on #451
Thank Nikolay, that looks correct for Safari. The issue must be somewhere else. It seems as though I have no choice but to come back to this issue when I have access to iOS 10.

[2018-08-10 19:28] jlmakes commented on #452
Hey Guillaume. There doesn't appear to be anything wrong with how you’ve used ScrollReveal.
Do you have a demo of the problem I can look at?

[2018-08-12 09:14] twister65 commented on #451
I have the same problem with my iPad: a black screen.
What about the mobile parameter ?
Is it set to false or true ?

[2018-08-12 20:28] jlmakes commented on #451
It doesn’t seem to the be configuration. It works fine on iOS 11 Safari.

My guess is that there's something about [`isElementVisible()`](https://github.com/scrollreveal/scrollreveal/blob/master/src/utils/is-element-visible.js) not working as intended (which is what I sought to test in the posts above), or that the [`delegate()`]() isn’t properly being called on `scroll` events.

In fact, the latt

[2018-08-16 21:08] #449 closed

[2018-08-17 13:12] ZCweb opened #453 "Scroll Reveal working with Lozad lazy loading"
Scroll Reveal is great and I can get that working. I am doing some fade in things and elements that come in from the sides. I also have lazy loading working via the popular lozad plugin. My issue is that lozad doesn't work if scrollreveal is activated. Is this because how can something lazyload in if it is going to be animated in. It would be great if the 2 could work together and lozad is very po

[2018-08-17 19:52] jlmakes commented on #453
Have you tried something like this?

[code]

[2018-08-17 19:57] jlmakes commented on #453
It looks like Lozad uses a `data-src` attribute to create the `src` attribute as the element is scrolled to. Nothing comes to mind why this can't work with ScrollReveal.

Have you tried something like this?

[code]

[2018-08-21 10:36] twister65 opened #454 "Uncaught TypeError: afterCallback is not a function"
* Operating System: Windows 10
* Browser Version: Chrome Version 68.0.3440.106
* ScrollReveal Version: 4.0.0

[code]
[code]

[2018-08-21 18:20] jlmakes commented on #454
Can you give more details about how you were using ScrollReveal?

[2018-08-21 18:40] jlmakes commented on #454
Can you give more details about how you are using ScrollReveal?

[2018-08-21 19:15] twister65 commented on #454
https://github.com/twister65/joomspirit_99/blob/sr_v4/joomspirit_99/index.php
line 219 : load and instantiate ScrollReveal.
line 555 : use of ScrollReveal.

[2018-08-21 19:40] twister65 commented on #454
Sorry, for this issue, I instantiated this library:
https://github.com/scrollreveal/scrollreveal/blob/master/dist/scrollreveal.js

[2018-08-21 21:23] jlmakes commented on #454
My goal @twister65, is to be able to reproduce this issue so I can effectively experiment with solutions. I put together a [basic test](http://jsbin.com/kovubaxico/1/edit?html,console,output), and the callbacks seem fine.

The only way I’ve reproduced this issue is by setting `options.afterReveal` to the wrong type, e.g:

[code]

I notice you’re passing the options using PHP, i.e:

[code]

My gues

[2018-08-22 09:27] twister65 commented on #454
I don't understand code line 876 in scrollreveal.js. Is afterCallback a function or a variable ?

[2018-08-22 09:43] jlmakes commented on #454
`afterCallback` is indeed a variable, that points to one of two functions.

Do you mind posting the output from `$this->params->get('animation_social_text');` for example?

[2018-08-22 10:14] twister65 commented on #454
Output from : sr.reveal('.text_social_icons', { <?php echo $this->params->get('animation_social_text'); ?>, afterReset:baffleSelection('.text_social_icons') });
<span class="text_social_icons hidden-phone" style="color:#555555; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1.33s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.3

[2018-08-22 10:16] twister65 commented on #454
`<span class="text_social_icons hidden-phone" style="color:#555555; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 1.33s cubic-bezier(0.5, 0, 0, 1) 0s, transform 1.33s cubic-bezier(0.5, 0, 0, 1) 0s;" data-sr-id="2">Suivez moi : </span>`

[2018-08-22 19:26] jlmakes commented on #454
Alors Nicolas, je peux essayer en français pour toi.

Je pense que le problème est le résultat du code PHP, pas du ScrollReveal. Quand tu as une ligne comme celui-ci:

[code]

PHP le remplacera avec du texte no? Je devinerai un transformation en objet JavaScript, par exemple:

[code]

Pouvez-vous mettre le vrai transformation pour moi? Je crois que ce chemin montrera le valeur incorrect avec `opti

[2018-08-22 19:27] jlmakes commented on #454
Alors Nicolas, je peux essayer en français pour toi.

Je pense que le problème est le résultat du code PHP, pas du ScrollReveal. Quand tu as une ligne comme celui-ci:

[code]

PHP le remplacera avec du texte non? Je devinerai un transformation en objet JavaScript, par exemple:

[code]

Pouvez-vous mettre le vrai transformation pour moi? Je crois que ce chemin montrera le valeur incorrect avec `opt

[2018-08-22 19:56] twister65 commented on #454
Sorry, I reinstalled the template with ScrollReveal and the error is gone. I don't understand why. You can close this issue.

[2018-08-22 20:04] twister65 commented on #454
origin:'top', distance:'20px', duration:1330, reset:true

afterReset raises this error after scrolling back the window.
`afterReset:baffleSelection('.text_social_icons')`

[2018-08-22 20:32] jlmakes commented on #454
seems like `baffleSelection('.text_social_icons')` is not a function.

[2018-08-22 20:47] twister65 commented on #454
`function baffleSelection($e) {
				let b = baffle($e);
				b.start()
					.set({ speed: 40 })
					.reveal(3000,1500);
			}`

[2018-08-22 22:46] jlmakes commented on #454
You are invoking the function `baffleSelection()` instead of assigning it. That means the return value will be used for `options.afterReset`instead of the function itself.

Donc pas comme ceci:

[code]

Fait cela:

[code]

[2018-08-22 22:47] #454 closed

[2018-08-29 15:13] itslandry commented on #338
i had the a similar problem. you should load the scrollreveal.min.js in the header.  this is my function.php in wordpress
function devwp_thelinkevent_scripts() {
	wp_enqueue_style( 'devwp_thelinkevent-style', get_stylesheet_uri() );

	wp_enqueue_style('devwp-bs-css', get_template_directory_uri() . '/dist/css/bootstrap.min.css');

	wp_register_style( 'devwp-fontawesome',"https://use.fontawesome.com

[2018-08-29 23:50] #453 closed

[2018-09-07 02:27] dolanb12 opened #455 "Pre-hiding divs with "mobile: false" keeps divs from showing on mobile"
I don't see default breakpoints provided to fix this issue. Any suggestions?

For now just using breakpoint (min-width: 1024px).

[Example](https://kungfucopy.com)

Thanks!

[2018-09-07 03:45] jlmakes commented on #455
Are you using the technique outlined in the [User Experience Guide](https://scrollrevealjs.org/guide/user-experience.html) to prevent flickering?

[2018-09-07 06:26] jlmakes commented on #455
Are you using the technique outlined in the [User Experience Guide](https://scrollrevealjs.org/guide/user-experience.html) to prevent flickering?

As mentioned in the guide if you're using the `html.sr` selector as the base for your "pre-hiding" class, you will only hide elements when ScrollReveal is supported and enabled. E.g:

[code]

[2018-09-07 19:17] dolanb12 commented on #455
Yep, using the method at the bottom:

html.sr .sr-header { visibility: hidden; }

Currently just using the min1024 breakpoint as a workaround.

[2018-09-07 23:04] jlmakes commented on #455
Thanks for the report @dolanb12, I've found the bug and am working on the solution!
I'm glad you found a workaround, but give me a few days and I’ll have this fixed in the next release.

[2018-09-08 00:04] dolanb12 commented on #455
Fantastic! Glad I could help.

Thanks,
On Fri, Sep 7, 2018 at 4:04 PM Julian Lloyd <notifications@github.com>
wrote:

[2018-09-09 11:32] jlmakes commented on #455
Please try ScrollReveal `v4.0.1` and confirm it solves your issue!

[2018-09-10 17:00] dolanb12 commented on #455
Doesn't seem to be correcting the problem. But this could possibly be on my end.

The style corrections in the head of the document seem to not be accessible in Chrome dev tools. Although when reverting back to the workaround, I still can't see the styling, but it's doing its job.

[Same Example](kungfucopy.com)

*scratches head*

[2018-09-10 19:52] jlmakes commented on #455
Say we had something like this...

[code]
The class `.sr` was being added to `<html>` as the script loaded... but in the follow script where we set `ScrollReveal({ mobile: false });` the class `.sr` was not correctly being removed from `<html>` meaning reveal targets would still be hidden by the `html.sr .load-hidden` CSS ruleset.

This is what I understood to be your problem, and has been fixed i

[2018-09-10 19:59] jlmakes commented on #455
Say we had something like this...

[code]
The class `.sr` was being added to `<html>` as the script loaded... but in the follow script where we set `ScrollReveal({ mobile: false });` the class `.sr` was not correctly being removed from `<html>` meaning reveal targets would still be hidden by the `html.sr .load-hidden` CSS ruleset.

This is what I understood to be your problem, and has been fixed i

[2018-09-10 20:04] jlmakes commented on #455
Say we had something like this...

[code]
The class `.sr` was being added to `<html>` as the first `<script>` loaded... but immediately after where we set `ScrollReveal({ mobile: false });` the class `.sr` was not correctly being removed from `<html>` meaning reveal targets would still be hidden by the `html.sr .load-hidden` CSS ruleset.

This but is what I understood to be your problem, and has b

[2018-09-10 20:04] jlmakes commented on #455
Also it may be worth mentioning that ScrollReveal looks at the browser user agent (not media queries or screen size) to determine what is a mobile or desktop device. E.g:

[code]

If you are simply resizing the browser window, there won’t be any difference in ScrollReveal behavior.

[2018-09-10 20:10] jlmakes commented on #455
Also, it may be worth mentioning that ScrollReveal looks at the browser user agent (not media queries or screen size) to determine what is a mobile or desktop device. E.g:

[code]

If you are simply resizing the browser window, there won’t be any difference in ScrollReveal behavior.

[2018-09-10 20:11] jlmakes commented on #455
Say we had something like this...

[code]
The class `.sr` was being added to `<html>` as the first `<script>` loaded... but immediately after where we set `ScrollReveal({ mobile: false });` the class `.sr` was not correctly being removed from `<html>` meaning reveal targets would still be hidden by the `html.sr .load-hidden` CSS ruleset.

**This is what I understood to be your problem, and has bee

[2018-09-14 14:40] CHEWX opened #457 "Sync restting all items on page after ajax"
Hi,

When using `ScrollReveal().sync();` on ajax callback, it seems to be resetting all items on the page, not the new items.

Cannot find any information on this.

Thanks

[2018-09-14 14:59] CHEWX commented on #457
I've hacked a fix like this for now, but should be doing something similar as default.

`afterReveal: (el)  => $(el).removeAttr('data-sr')`

[2018-09-14 18:47] jlmakes commented on #457
Hey @CHEWX

When opening issues (for any repository), it’s helpful to include the operating system, library version and example code.

ScrollReveal 4 uses the `data-sr-id` attribute to link HTML elements to their animation data stored within ScrollReveal. **Don’t remove this manually**, as it won’t remove event listeners or store data. If you need to remove ScrollReveal from specific elements you

[2018-09-14 19:07] jlmakes commented on #457
Hey @CHEWX

When opening issues, it’s helpful (for me, and future visitors) to include the operating system, library version and example code—ideally as a working demo.

Based on my understanding of your problem, I recommend reading the docs on [`options.cleanup`](https://scrollrevealjs.org/api/cleanup.html)

[2018-09-14 19:07] jlmakes commented on #457
Also, `data-sr` looks like a typo in your example callback.

ScrollReveal 4 uses the `data-sr-id` attribute to link HTML elements to their animation data stored within ScrollReveal. **Don’t remove this manually**, as it won’t remove event listeners or store data. If you need to remove ScrollReveal from specific elements you should use [`clean()`](https://scrollrevealjs.org/api/clean.html).

[2018-09-15 05:45] wizardnet972 opened #458 "ScrollReveal doesn't work at scroll"
ScrollReveal doesn't work with `transform: translate3d`.

Here is example:
https://codepen.io/shlomilevi/pen/aajPNg

[2018-09-15 06:26] wizardnet972 commented on #458
Sorry. I remove the wrap from the css and it is working.

[2018-09-15 07:43] jlmakes commented on #458
Opening up the inspector on the [3rd party demo](https://idiotwu.github.io/smooth-scrollbar/), I discovered it uses CSS Transforms (i.e. `translate3D`) to create the "smooth" scrolling effect. ScrollReveal relies on _native scroll events_, but none are firing from your Smooth Scrollbar container.

The  [`smooth-scrollbar`](https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.3.1/smooth-scroll

[2018-09-15 07:43] #458 closed

[2018-09-15 07:56] jlmakes commented on #457
Hey @CHEWX

Based on my understanding of your problem, I recommend reading the docs on [`options.cleanup`](https://scrollrevealjs.org/api/cleanup.html)

Also, `data-sr` looks like a typo in your example callback.

ScrollReveal 4 uses the `data-sr-id` attribute to link HTML elements to their animation data stored within ScrollReveal. **Don’t remove this manually**, as it won’t remove event listener

[2018-09-19 07:04] jlmakes commented on #457
Any luck @CHEWX ?

[2018-09-19 23:38] jlmakes commented on #457
Hey, I'm suspicious this may be a bug.

It looks like you are using `[data-sr]` as your reveal target, e.g.
[code]

And you’re removing the attribute after the reveal completes, so they don’t re-reveal when you call `sync()` in your AJAX callback. When you set [`options.cleanup`](https://scrollrevealjs.org/api/cleanup.html) to `false` does it work correctly?

[2018-09-19 23:38] jlmakes commented on #457
Hey @CHEWX  I'm suspicious this may be a bug. Thanks for the issue.

I’m guessing you are using `[data-sr]` as your reveal target, e.g.
[code]

And you’re removing the attribute after the reveal completes, so they don’t re-reveal when you call `sync()` in your AJAX callback.

Do me a favor, when you set [`options.cleanup`](https://scrollrevealjs.org/api/cleanup.html) to `false` does it work correc

[2018-09-19 23:47] jlmakes commented on #457
Hey @CHEWX, thanks for the issue. I'm suspicious this may be a bug.
Do me a favor, when you set [`options.cleanup`](https://scrollrevealjs.org/api/cleanup.html) to `false` does it work correctly?

[2018-09-20 10:20] CHEWX commented on #457
Hi @jlmakes

I appreciate your replies!

I'm away at the moment, but happy to test on my return.

My current setup is the following to avoid any assumptions.

[code]

[2018-09-20 22:35] jlmakes commented on #457
No problem! I’ve recreated the bug on [JSbin](jsbin.com/bejubivaya/edit?html,output).

[2018-09-21 13:57] klovrick opened #459 "Add support for scaling X and Y axis independently"
Is there a way to scale just X or Y instead of both?

[2018-09-22 01:55] jlmakes commented on #459
It’s currently not possible through the API.

I don‘t think anyone (until now) has brought up this functionality. However, I can help you add this functionality to your own fork of ScrollReveal if you'd like.

[2018-09-22 05:03] #457 closed

[2018-09-24 22:37] juncobor opened #460 "d"

[2018-09-24 22:39] #460 closed

[2018-09-24 22:42] bonucci opened #461 "First page load animation"
Hello, im having a issue on the page, basically i have a one html page with some sections that includes slider, texts and some images, the problem is that when i load the page, in a glamps the page is scrolled down but then scrolls up automatclly, the problem in these miliseconds the anination from scrollreveal fires first time, loossing my animation on the scroll.

Is someone had same situation?

[2018-09-24 22:59] JohnPhilosopher commented on #461
Are you aware of any code that could be causing the automatic scroll-up besides scroll reveal? Scroll reveal seems to be working in that regard as when the elements are in view they are revealed. I have not had any issues with scroll reveal causing the page to automatically scroll up to the top of the page, though this is with older versions.

[2018-09-25 17:59] camsarmiento opened #462 "Scroll reveal not working correctly"
Hey I'm using scroll reveal v4 at this website http://camilomancilla.com.co/AGR.html but with no reason stopped working, when scroll down shows the items for a while but then the items hide again as quick as I keep scrolling down, I've been searching about this bug but there isn't any case about this... Help me!!!

### Environment

* Operating System: Mac OS
* Browser Version: Chrome 69.0.3497.100

[2018-09-25 19:15] JohnPhilosopher commented on #462
I added `html, body {height:100%}` and it seems to work fine after that.

[2018-09-28 21:46] jlmakes commented on #462
ScrollReveal 4 adds `body { height: 100%; }` automatically; historically applying this style to `html` has not been necessary, but I'm curious if it was required in this case.

Did you solve this @camsarmiento ?

[2018-09-28 21:50] jlmakes commented on #461
One thing that comes to mind is that large images can cause dramatic shifts in layout while the page loads. Maybe that's helpful?

In any case, ScrollReveal does not ever change your scroll position.

[2018-09-28 21:50] jlmakes commented on #461
ScrollReveal does not ever change your scroll position. One thing that comes to mind is that large images can cause dramatic shifts in layout while the page loads. Maybe something similar is happening for you.

[2018-09-28 21:51] camsarmiento commented on #462
Not at all, I'be trying different stuff but it's been quite a mission, is there something else I can do ?

[2018-09-28 21:51] jlmakes commented on #461
ScrollReveal does not ever change your scroll position. One thing that comes to mind is that large images can cause shifts in layout while the page loads. Maybe something similar is happening for you.

[2018-09-29 01:19] JohnPhilosopher commented on #462
Looking further into it, weirdly if the width of the window is smaller than a certain amount it stops working. However, bigger screen and it starts working again. Below is a gif of what happened to me. From my experimentation, it might be a styling issue. However, I will look further.

https://www.dropbox.com/s/k44hb4dla2hd1a5/prototype_unfinished.gif

[2018-09-30 12:15] twister65 commented on #462
I had the same problem with my website, I called the sync function beforeReset to resolve it (with the reset option set to true). For example :
sr.reveal('#search', { <?php echo $this->params->get('animation_search_text'); ?>, beforeReset:function(){sr.sync()} });
https://scrollrevealjs.org/api/sync.html
Note : this problem occurs when the selector is an identifier and not a class.

[2018-09-30 14:01] twister65 commented on #462
* With options reset:true
![without sync before reset](https://user-images.githubusercontent.com/26852967/46258361-9d388e00-c4c9-11e8-913e-1e77a5bd878a.gif)

* With options reset:true, beforeReset:function(){sr.sync()}
![with sync before reset](https://user-images.githubusercontent.com/26852967/46258366-c9540f00-c4c9-11e8-9993-d30a6e324018.gif)

[2018-09-30 19:06] twister65 commented on #462
Otherwise, replace :
https://github.com/scrollreveal/scrollreveal/blob/2f70956cca0a65afdd808d3036f3f111fd564862/dist/scrollreveal.js#L1043
by :
`styles.push(element.styles.opacity.computed);`
And replace :
https://github.com/scrollreveal/scrollreveal/blob/2f70956cca0a65afdd808d3036f3f111fd564862/dist/scrollreveal.js#L858
by :
`styles.push(element.styles.opacity.computed);`
in initialize and trigge

[2018-09-30 22:09] jlmakes commented on #462
I'm noticing in both examples, there are rather large images being revealed.

It's starting to sound like ScrollReveal is being initialized before these large images have finished loading. If that were true, then the element dimensions could be incorrect, making elements reveal/reset at unexpected times— and explain why calling `sync()` would fix things.

@camsarmiento try putting wrapping your Sc

[2018-10-02 07:51] D4RKAR117 opened #463 "Origin Reveal Option doesn't works?"
### Environment

* Operating System: Windows 10 pro x64 v 1803
* Browser Version: Opera v55.0.2994.61
* ScrollReveal Version: release 4.0.4 using cdn

Hello, after a while I come back with another issue, I'm trying to display a [page](https://d4rkar117.github.io/stalker-bot/) on github pages using your amazing script, it works to a certain extent, the problem is that [the "origin" option](https://

[2018-10-02 10:44] awsomedesigner opened #464 "Animate element when its distance from top is greater than 100px"
Hello folks,

I want to animate element when element distance from the top is greater than 100px.

I have some code

[code]

### Environment

* Operating System: mac
* Browser Version: chrome 69.0.3497.100
* ScrollReveal Version: v4.0.0

[2018-10-02 14:30] AndrewDawnbringer opened #465 "Multiple options"
Hello there!
How to pass multiple options to the constructor, like `delay` and `origin` at the same time?
I want to merge `ScrollReveal().reveal('.yourclass', { delay: 500 });` and `ScrollReveal().reveal('.yourclass', { origin: 'left' });`. Thanks in advance.

[2018-10-02 15:56] twister65 commented on #462
Wrapping code for an article body :
[code]
Result : the article has disappeared
![agir pour la planete - avenir durable - google chrome 02_10_2018 17_38_58](https://user-images.githubusercontent.com/26852967/46360743-5c2caf00-c66c-11e8-91fa-e44a1887577a.gif)

[2018-10-02 19:20] jlmakes commented on #465
These are functionally equivalent:

[code]

[code]

Is that the answer you're looking for @AndrewDawnbringer?

[2018-10-02 19:27] jlmakes commented on #463
Thanks for the kind words.

There is nothing wrong with [`options.origin`](https://scrollrevealjs.org/api/origin.html) in [my test](https://jsbin.com/kazimikati/1/edit?html,output); as noted in the docs:

[2018-10-02 19:27] #463 closed

[2018-10-02 19:29] AndrewDawnbringer commented on #465
Thank you!

[2018-10-02 19:29] #465 closed

[2018-10-02 19:30] D4RKAR117 commented on #463
ooohhh deam sorry man i feel a idiot right now

[2018-10-02 19:31] jlmakes commented on #463
It's no problem, sometimes the issue is just one missing `;` that's how it goes.

Also your `visibility: hidden` code is missing the `html.sr` hook for all of your classes; you have this:

[code]

But you'd want something like this:
[code]

Make sure to include the `html.sr` hook in them all.

[2018-10-02 19:33] D4RKAR117 commented on #463
Oh thank you I had not noticed, and about the attribute: !Important, you think it's something important? sometimes some classes do not allow you to apply the hidden cuz it override the principal

[2018-10-02 19:37] jlmakes commented on #463
I'm not sure I understand, where is the `!important` coming from?

[2018-10-02 19:42] D4RKAR117 commented on #463
I refer to this friend
[code]

Whenever this attribute is important in the hidden, the animations will never start, and it is uncomfortable because sometimes the hidden is overwritten by another style

[2018-10-02 19:59] jlmakes commented on #463
I understand.

ScrollReveal doesn't use `!important` when it applies `visibility: visible` during animation, so if you use `!important` in your `html.sr` style, _it overrides ScrollReveal_. (No animations can be seen.)

If you'd like, you can make ScrollReveal use `!important` by adding it in your source here:

https://github.com/scrollreveal/scrollreveal/blob/master/dist/scrollreveal.js#L620-L622

[2018-10-02 20:00] jlmakes commented on #463
I understand.

ScrollReveal doesn't use `!important` when it applies `visibility: visible` during animation, so if you use `!important` in your `html.sr` style, _it overrides ScrollReveal_. (No animations can be seen.)

If you'd like, you can make ScrollReveal use `!important` by adding it in your source here:

https://github.com/scrollreveal/scrollreveal/blob/master/dist/scrollreveal.js#L620-622

[2018-10-02 20:01] jlmakes commented on #463
I understand.

ScrollReveal doesn't use `!important` when it applies `visibility: visible` during animation, so if you use `!important` in your `html.sr` style, _it overrides ScrollReveal_. (No animations can be seen.)

If you'd like, you can make ScrollReveal use `!important` by adding it in your source here:

https://github.com/scrollreveal/scrollreveal/blob/master/dist/scrollreveal.js#L620-L622

[2018-10-02 20:13] D4RKAR117 commented on #463
Great friend, I will use it, and I would like to request something, options that change depending on the size of the viewport, sometimes some effects are better in mobile than in PC and vice versa, something like the brekpoints but for your script.

Keep up the good work, porcieto
out of the subject thanks for the terminal zsh spaceship now my terminal looks great

[2018-10-02 21:48] jlmakes commented on #463
ScrollReveal doesn't support media queries, but it does offer [options.desktop](https://scrollrevealjs.org/api/desktop.html) and [options.mobile](https://scrollrevealjs.org/api/mobile.html). It’s based on the browser's user agent string, but it will let you create unique experiences for both, e.g:

[code]

[2018-10-02 21:53] D4RKAR117 commented on #463
If in fact if I have used them but I think it would be even better to have more flexibility with that kind of options, it would offer even more personalization, but even so it is very cool ;), thanks and sorry for the inconvenience

[2018-10-02 22:06] jlmakes commented on #463
No problem, happy coding!

[2018-10-04 12:51] Ace000001 opened #466 "Event for Unrevealed"
Hi!

I am trying to hook an event (something like beforeUnreveal() and afterUnreveal()) when an elements gets hidden when it is out of view port. In the API i found 4 events but but my impression of those is that  those are when element is showing after coming into view port. Is there any way to do what i am trying to achieve?

Thanks!

[2018-10-04 17:50] jlmakes commented on #466
[`option.beforeReset`](https://scrollrevealjs.org/api/before-reset.html) fires after an element leaves the viewport
[`option.afterReset`](https://scrollrevealjs.org/api/after-reset.html) fires after an element leaves the viewport _and_ completes its animation

[2018-10-04 17:50] #466 closed

[2018-10-04 18:00] jlmakes commented on #464
This code contains a mistake:

[code]
The use of `option.viewOffset` here will do nothing because it is not in the correct place.

[2018-10-04 18:03] jlmakes commented on #464
This code contains a mistake:

[code]
The use of `option.viewOffset` here will do nothing because it is not in the correct place. I would start by moving this option inside the `watch()` options (and using `top: 100` instead of `bottom: 200`)

[code]

[2018-10-04 18:39] #461 closed

[2018-10-04 18:40] #459 closed

[2018-10-04 18:40] #345 closed

[2018-10-04 18:40] #337 closed

[2018-10-04 18:41] #394 closed

[2018-10-04 18:41] #311 closed

[2018-10-04 18:44] jlmakes commented on #462
Any updates @camsarmiento @JohnPhilosopher ?

[2018-10-05 07:12] JohnPhilosopher commented on #462
I can't really seem to come to a definitive conclusion as seemingly resizing the browser window in chrome fixes the problem, while it works properly in other browsers. I admittedly haven't tested much else after, but I'll look into it more.

[2018-10-07 23:35] jlmakes commented on #464
Any news @awsomedesigner?

[2018-10-08 08:44] #464 closed

[2018-10-12 02:25] 973257307 opened #467 "当有输入框时，页面都不显示了"
当有输入框时，页面都不显示了

_Google Translation:_ When there is an input box, the page is not displayed.

### Environment

* Operating System:
* Browser Version:
* ScrollReveal Version:

[2018-10-13 01:35] saintplay commented on #462
I agree with @jlmakes, is the responsibility of the developer to be aware of these image loading inconsistencies. Other libraries like [scroll-to-element](https://github.com/willhoag/scroll-to-element) that rely on element position will also fail, because of the same problem

[2018-10-17 00:15] modestasu opened #468 "When using sync() all previously loaded items disappear"
Hey!

Firs of all great work, I love this plugin and it was such an easy setup so for.

However, I've noticed a strange behaviour when using .sync() items that were previously loaded and were visible disappear and only the ones in viewport show. Here's a quick screencast of what I mean - https://screencast-o-matic.com/watch/cF6bc1YUBW

And here's a JSbin test - https://jsbin.com/miguyoxiqo/edit?ht

[2018-10-17 02:29] jlmakes commented on #468
Thanks for sharing this @modestasu, it's definitely a bug!

[2018-10-18 15:29] iorrah opened #469 "MIT Licensed alternatives"
Hey, I find the work that you folks are doing here super cool. My team and I are interested in using it in a commercial case but we can not afford purchasing the license (startup life!). Are there alternative projects (living under a MIT Licence) to ScrollReveal that people here would suggest for this situation? Thanks a lot in advance & keep rockin'!

[2018-10-18 16:59] riiccardo opened #470 "How to use Third Party Plugins"
Hi, Thanks For your Great Plugin 😍

How To Use Plugins Like:

`1. GreenSock`
`2. Anime.js`
`3. Velocity.js`

In Scrollreveal Plugin

Please Provid An Example For Each Third Party Plugins In The DOC Thanks 🔥

How To `Remove` ScrollReveal Animation `capabilities`? Like
`opacity, scale, easing, delay, duration`

and just use ScrollReveal for Detecting when elements are visible within the viewport

Be

[2018-10-18 17:12] jlmakes commented on #469
ScrollReveal 3 will always be MIT licensed (see [legacy docs](https://github.com/scrollreveal/scrollreveal/wiki))

[2018-10-18 17:12] #469 closed

[2018-10-18 17:13] #467 closed

[2018-10-18 18:50] ZNS commented on #468
Also ran into this. Is it possible to downgrade to a version that works for now?

[2018-10-18 19:47] riiccardo commented on #470
any Solution ?

[2018-10-18 23:36] jlmakes commented on #468
I'm not sure, but a new release is coming soon @ZNS

[2018-10-19 03:43] jlmakes commented on #470
There are no examples of integrating with those third parties.
You’ll have to read the docs for each, and wire them up yourself 😉

However, a significant portion of ScrollReveal (the code base) is the creation and management of animation styles. If you're only interested in knowing what elements are within the viewport, ScrollReveal may not be a good choice. Maybe take a look at using [Intersectio

[2018-10-19 03:43] #470 closed

[2018-10-19 09:45] riiccardo commented on #470
Thanks For Answer but I Knew it Must Read Doc for These Plugins to understand how to use It,

But How To integrating them with ScrollReveal CallBack #353 ?

U said :

[2018-10-19 12:17] ZNS commented on #468
Alright, sounds good. {reset:true} works as a workaround for now but it's not the behaviour I want

[2018-10-19 15:20] alexgil1994 commented on #468
Hello,
I have some trouble using the library with the same behavior as mentioned above. I will explain farther, I actually use the library through another one that helps preparing it to use it in VueJs applications , the library is called v-scroll-reveal. It's basically only a wrapper of the original i think.<br/>
So I have used it in 2 websites so far, the first one ( done a couple months ago ) d

[2018-10-19 15:34] alexgil1994 commented on #468
Just found what caused the problem for me, I am also using Vuetify's `scroll.to` method for smooth scrolling to specific element in the page, this probably conflicts with vue-scroll-reveal ( etc. scroll-reveal inside it ). <br>I don't there a solution to keep both so I ll probably disable one.<br> I apologize for the confusion. ( if needed inform to delete the comments to avoid any more confusion

[2018-10-19 16:42] alexgil1994 commented on #468
Ok, so I kept testing it and i found out it wasn't the method i am using from Vuetify to smoothly scroll towards an element. The problem was that I had the animation effect on that `Welcome button` you can see in the front page. By removing the animation effect on it the elements stop disappearing when I open the navigation drawer. It is a bit weird I think. I found out after removing the Vuetify

[2018-10-19 19:11] jlmakes commented on #470
These are ScrollReveal's callbacks:

* [options.afterReveal](https://scrollrevealjs.org/api/after-reveal.html)
* [options.afterReset](https://scrollrevealjs.org/api/after-reset.html)
* [options.beforeReveal](https://scrollrevealjs.org/api/before-reveal.html)
* [options.beforeReset](https://scrollrevealjs.org/api/before-reset.html)

You may also be interested in #394

[2018-10-19 19:18] jlmakes commented on #468
Your situation seems directly related to your use of 3rd party scripts @alexgil1994.
If you're still having problems, please open a new issue (either here, or with the 3rd party).

[2018-10-21 01:40] #468 closed

[2018-10-21 01:44] jlmakes commented on #468
### Please patch to `4.0.5`

@modestasu @ZNS @alexgil1994

[2018-10-24 13:57] evromalarkey commented on #442
I am having this issue on older version Safari 10.1.2, but it works in latest version and any other browser, so nothing breaking. (sr version 4.0.4)

[2018-11-01 00:08] daveyjones opened #471 "Reveal does not animate when fired from onload event callbacks of uncached images"
### Demo

https://jsfiddle.net/p5vrj9hf/

#### Steps to reproduce:
1. Open JSFiddle demo
2. Open Chrome inspector on network tab
3. Make sure "Disable cache" is **unchecked**
4. Press "Run" a few times (images fade in properly)
5. Now **check** "Disable cache"
6. Press "Run" a few times (images pop in immediately with no fade-in)

### Environment

* Operating System: macOS 10.14
* Browser Version:

[2018-11-01 21:05] jlmakes commented on #471
Thanks for taking the time to share this demo @daveyjones

Initially I tested this in Firefox and was not able to reproduce the problem. But I double checked your environment, and sure enough, Chrome is acting very silly. I’ll see what I can uncover.

Hope you had a great Halloween! 🎃

[2018-11-02 18:52] changalberto opened #472 "[Question] Commercial License"
Hi @jlmakes, where can I reach for questions regarding commercial license?

Perhaps you can follow me back on twitter so that I can reach you via DM?
https://twitter.com/changalberto

[2018-11-03 01:08] #472 closed

[2018-11-11 15:54] seppeclijsters opened #473 "Barba.js + Scrollreveal : animation not working"
Barba.js is a lbrary that helps you create fluid and smooth transitions between website pages. On the starting page all animations are working. But whenever I click a link to the next page, the scrollreveal animations won't activate on the new page (when I click on inspect element they suddenly work).

 It all worked perfectly in an older version of scrollreveal. It seems like the scrollposition d

[2018-11-11 18:13] jlmakes commented on #473
Does it behave the same in all browsers?
What happens if you add `ScrollReveal().delegate()` to the `onEnterCompleted` callback?

[2018-11-11 18:57] seppeclijsters commented on #473
I'm working locally at the moment. I added `ScrollReveal().delegate()` to the `onEnterCompleted` and this did the trick! All animations are working like before. I'm a happy man now, thanks a lot  @jlmakes !
I'm not really sure what `ScrollReveal().delegate()` triggers but I'm happy it works.

[2018-11-11 19:43] jlmakes commented on #473
Excellent!

The `ScrollReveal().delegate()` function _is_ the event handler ScrollReveal uses when responding to `resize` or `scroll` events; so, normally this function is called for you while scrolling or resizing, but it  was made public in version 4 for circumstances just like this.

So in other words, we've forced a ScrollReveal update inside Barba.js’ `onEnterComplete` callback.

[2018-11-11 19:43] #473 closed

[2018-11-13 00:30] D4RKAR117 opened #474 "Reveal with bootstrap 4 collapsibles"
### Environment

* Operating System: Ubuntu 18.0.4.1
* Browser Version: Opera 56.0.3051.52
* ScrollReveal Version: 4.0.4

Hello, im trying to use the scroll reveal functions with components inside of bootstrap 4.1 collapsibles, but the elements doesnt show up when i show up the collapsed element

**[Demo Here](https://jsbin.com/kuwixahuhe/edit?html,js,output)**

Thank you for this awesome lib :)

[2018-11-13 05:37] jlmakes commented on #474
Thanks for the demo @D4RKAR117

This is because when you call `ScrollReveal().reveal()` on something, it prepares the element to be revealed when it enters the viewport via `scroll` or `resize` events; ScrollReveal depends on these events, and element visibility within the viewport. What is more, a lot of ScrollReveal's code is dedicated to creating and applying styles at the right time during scr

[2018-11-13 05:37] #474 closed

[2018-11-13 05:53] D4RKAR117 commented on #474
Thank you, It's something I imagined, but my only way to ask is this XD, do you think I can shoot the revelation of those specific objects with something of js ??, maybe when a function is activated or something similar?, I am a amateur and the truth for more than read sometimes I can not make things work.

Keep your awesome work :D

PD: How compatible is your library with anime.js ?, I would be i

[2018-11-13 21:20] jlmakes commented on #474
ScrollReveal has two main parts:

* Part 1: Creating styles from `options`
* Part 2: Adding/removing those styles at the right time during scroll

These two things combine to create a very specific tool; ScrollReveal isn't designed to have its parts replaced with other libraries; you may be able to get things working, but as we discussed earlier, things may grow more complicated than necessary.

[2018-11-13 21:23] jlmakes commented on #474
Also, you're not the first person to ask about this sort of stuff, so I am considering making ScrollReveal more modular in the future. I appreciate your input!

[2018-11-14 03:42] D4RKAR117 commented on #474
Thank you, I am a fan of your work and that you answer me makes me very happy, and I will take into account what you say, sometimes I complicate a lot trying to combine the effects of many javascript libraries at the same time.

Keep creating great things :)

[2018-11-16 10:54] MariuzM opened #475 "ScrollReveal with Masonry slight issue"
Hi first of all big thanks for this cool script!!!

I know it's not your scripts fault and i just blame myself for not knowing more how to code but trying to learn. So i have website that just loads bunch of images. So i'm using Masonry to get that look and ScrollReveal fade stuff. I have noticed especially when working in Chrome Dev mode + No Cache is that some of the images are not loaded correc

[2018-11-18 15:17] twister65 commented on #451
You need an Apple computer and an iPad 4  to test (web inspector with a js console).
Sorry, I have only an iPad.

[2018-11-20 19:51] mazentouati opened #476 "javascript scroll to element became glitchy and buggy when use distance option"
Hi there,

Thanks for this awesome library.

I want to use on scroll event to detect if an element is partially visible; if it is visible in the viewport, scroll to the top offset of this element.

The code I wrote seems to work fine, but when I use `options.distance` I get strange behavior: The element that I want to scroll to becomes glitchy and sometimes the the `scrollIntoView` does not work q

[2018-11-20 19:55] lionelbovy opened #477 "Problem of resolution?"
Hello,

Here's a video illustrating my issue: https://www.youtube.com/watch?v=j_OW-lQeYP0
If you want to test the website, I host it here: https://www.beta.bovy.fr/YaliAIR/index.html

### Environment

* Operating System: macOS 10.14.1 (18B75)
* Browser Version: Chrome Version 70.0.3538.102 (Official build) (64 bits)
* ScrollReveal Version: 4.0.5

[2018-11-22 13:02] MariuzM opened #478 "not revealing i think because of overflow"
When i disable the overflow in css i get the reveal function working but of-course then i lose the parallax effect.

I have tried this code, but i think when the page loads it will start revealing the h2 tag even tho i have not scrolled to it.

So how can i make to reveal it when i have scrolled to that h2 tag?

[code]

Any tips how to fix this?

[code]

[code]

[2018-11-22 13:09] MariuzM commented on #478
Ignore me found the problem i needed to change the container to parallax

[2018-11-27 17:56] nikoladim123 commented on #345
i used ScrollReveal in my commercial app without license...
is that illegal?

[2018-11-28 03:39] jlmakes commented on #345
@nikoladim123 If you used ScrollReveal 4, yes commercial use without a license is illegal.

Earlier versions of ScrollReveal remain under the MIT licensed.

[2018-12-10 11:30] mintymatt opened #479 "`sr.init()` method no longer available?"
I'm looking to use ScrollReveal with LazySizes (a lazy loading image library). When the images load, their dimenions sometimes change. This puts scroll reveal's plotted points of triggering out of sync, and becomes noticable the further down the page you scroll.

After browsing a little, I have come across a rellevant issue https://github.com/scrollreveal/scrollreveal/issues/52 but it appears the

[2018-12-10 20:36] jlmakes commented on #479
Hey Matt,

ScrollReveal responds to `scroll` and `resize` events, using the new public `delegate()` instance method. This event handler is a close approximation of the legacy `init()` method, and should help with use case in a similar fashion.

By calling `ScrollReveal().delegate()` manually, you force ScrollReveal to re-calculate element dimensions, along with container dimensions and scroll posi

[2018-12-10 20:39] jlmakes commented on #479
Hey Matt! I need to add something about this to the docs.

ScrollReveal responds to `scroll` and `resize` events, using the new public `delegate()` instance method. This event handler is a close approximation of the legacy `init()` method, and should help with your use case in a similar fashion.

By calling `ScrollReveal().delegate()` manually, you force ScrollReveal to re-calculate element dimens

[2018-12-12 11:10] mintymatt commented on #479
Nice one, works a charm - here's my resolving code for anyone who's interested:

[code]

[2018-12-12 21:01] #479 closed

[2018-12-21 11:49] infinyteam opened #480 "There is any possibility to reveal the width or height property?"
Hi there,
Thank you so much for this plugin!!
This is not an issue I just want to add new options like Width and Height to reveal.

Any idea?
Thanks in advance!

[2018-12-21 22:02] jlmakes commented on #480
Hey @infinyteam. There is presently no built-in way to animate width or height independently, but you can use [`options.scale`](https://scrollrevealjs.org/api/scale.html) to affect both width/height equally.

[2018-12-26 00:43] jlmakes commented on #477
Hey @lionelbovy

I appreciate your patience, and the detailed issue report.

On desktop, you use the windows scrollbar...
On mobile, you use the `.site-content` scrollbar.

So to start with you had this...

[code]

For your reveals to work on mobile, you need to specify `.site-content` as your `option.container`. (Otherwise it will listen to the wrong `scroll` events.) Since `options.desktop` and

[2018-12-26 01:10] jlmakes commented on #476
I appreciate your patience @mazentouati

I've run into this problem before!

`getBoundingClientRect()` _includes_ CSS transforms applied to the element in the return value.

So when using `options.distance` to move your element visually by `20px`, you are actually changing the position of that element as far as `getBoundingClientRect()` is concerned. Arguably this is a good feature: we can get the

[2018-12-26 01:13] jlmakes commented on #476
I appreciate your patience @mazentouati

I've run into this problem before!

`getBoundingClientRect()` _includes_ CSS transforms applied to the element in the return value.

So when using `options.distance` to move your element visually by `20px`, you are actually changing the position of that element as far as `getBoundingClientRect()` is concerned. Arguably this is a good feature: we can get the

[2018-12-26 01:13] #476 closed

[2018-12-26 01:14] #477 closed

[2018-12-26 10:19] MariuzM commented on #475
I have noticed this. When i disable the ScrollReveal of course i don't get the fade in effect. But i still get the images on top but in this case it only happens for 1-2 seconds and then it arranges itself correctly.

I think whats happening with SR (animation) + Masonry is that they both clash. I will try to think of something like a JS script to load Masonry first in background with Opacity 0 an

[2018-12-27 00:14] jlmakes commented on #475
It doesn't sound ScrollReveal is the root of the issue @MariuzM.

This makes sense, because unless you give images a fixed size, they typically increase in size dramatically once they finish loading. (This actually impacts ScrollReveal as well, since element size and position are essential in calculating whether or not it's within the viewport.) This is why the issue is more obvious with caching d

[2018-12-27 00:14] #475 closed

[2018-12-29 20:06] bokub opened #482 "Cleanup default seems to be false"
According to [this page of documentation](https://scrollrevealjs.org/api/defaults.html), the default for `cleanup` is `true`

![image](https://user-images.githubusercontent.com/17952318/50541787-3d777f00-0bad-11e9-9f61-e49206773134.png)

However, [**this jsFiddle**](https://jsfiddle.net/bokub/duv06kgr/) proves the opposite:

[code]

I'm using the latest version from `unpkg.com`

[2018-12-29 23:49] jlmakes commented on #482
Thanks for this @bokub.

The documentation there is incorrect: `options.cleanup` defaulting to `true` breaks the expected behavior of the `sync()` method, which was a mistake made during the beta. I have corrected the error!

[2018-12-29 23:49] #482 closed

[2019-01-02 10:33] lonewulfeu opened #483 "Interval not working in firefox live site but works on localhost"
Hello, happy new year and thanks for this great library!

I have an issue with the elements revealing all at once instead of when scrolling when the site is live in Firefox (latest) only, although it works correctly on localhost. Any ideas of what might be causing this issue?
I can send a link to the website if that's ok.

[2019-01-02 17:43] jlmakes commented on #483
Yes please, a demonstration of the problem is ideal.

[2019-01-02 18:37] lonewulfeu commented on #483
Here's the website: http://zefs.gr/

[code]

[2019-01-02 20:31] jlmakes commented on #483
If I were to guess, it's because you aren't waiting until the images have finished loading. (So their dimensions are not true when ScrollReveal is initialized.)

For example, on localhost there's no load time so it works as expected.

[2019-01-03 09:36] lonewulfeu commented on #483
It's weird, because if I enter a portfolio item and then click the close button (which is an empty href that goes to the main site) the images reveal when scrolled as they should. That happens on Firefox only.
Not a big deal I guess, you can close this topic thanks!

[2019-01-03 11:15] jlmakes commented on #483
Once the page is loaded and the images are in the browser's cache, everything should behave normally... that might explain why navigating back to the home page yields the correct behavior.

You're using `$(document).ready()`

You don't need to wait until the _entire_ page is ready for ScrollReveal, just until your images are done loading; I haven't tested this code, but the general idea would be s

[2019-01-03 11:15] #483 closed

[2019-01-05 17:51] devMoxie opened #484 "GNU GPL Question"
I've always been confused with this license so here's my question. I'm developing a single page business landing site. Is this considered commercial use? If not, does the site's code need to be "open soureced?"

[2019-01-08 20:14] jlmakes commented on #484
For personal use, regardless of the context (student project, starting a business, teaching, etc.), you may use ScrollReveal 4 under the GPLv3—which requires that your project also be open source under the GPLv3.

Loosely speaking, you would purchase a commercial license if you:

A) would like your source code to be private, or
B) are being paid to build a site using ScrollReveal, or
C) would like

[2019-01-08 20:14] #484 closed

[2019-01-08 20:17] jlmakes commented on #484
I also just want to add that purchasing a ScrollReveal 4 license is a one-time act that supports on-going customer support, feature development, bug fixes and performance enhancements.

I understand not everyone has equal purchasing power, and if the license fee is prohibitive, you can  use ScrollReveal 3 (and earlier versions) any way you'd like: they are MIT licensed!

Happy 2019! 🎉

[2019-01-08 21:30] Ni-c0de-mus commented on #484
Thanks for that....I'm just learning atm so probably not going to be able
to use it that well atm but if in the future it becomes a reality then
happy days!!!

Kind regards

Nic

On Tue, 8 Jan 2019 at 20:17, Julian Lloyd <notifications@github.com> wrote:

[2019-01-16 08:13] PubliAlex opened #485 "Quick addClass option"
Hello,

I'm testing ScrollReveal 4 in order to integrate it to some websites and I have small question (maybe this is a feature request) ^^

To make some custom animations, I often need to add a custom CSS class on element when I scroll to it. I know that ScrollReveal can handle this using `options.beforeReveal` and `options.afterReveal` callbacks, but it's quite annoying to reset all effects and

[2019-01-16 20:50] jlmakes commented on #485
Hi Alex,

Thanks for taking the time to share your thoughts!

This has actually come a few times before, and you can read more about it in #394 — including details on a monkey patch you can use today.

***

I love that you put thought into this, and proposed a solution, so I'd like to provide a more in-depth answer as to why this hasn't been included in ScrollReveal to date:

So much of ScrollReve

[2019-01-16 20:50] #485 closed

[2019-01-18 13:54] kikky7 commented on #376
It's an old thread, but I confirm that sr.sync() should be used within updated lifecycle hook.

[2019-01-23 20:32] tiaz90 opened #486 "scroll reveal works on scroll up but not on scroll down"
Hy guys

I know there is another post with the same problem and i tried to solve the problem setting as you've said:

body{
height: 100%
}

But unfortunately it didn't work. Can someone help me?

these are my settings in the header

<header>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script>
        ScrollReveal({ distance: '50px',origin: 'top',viewFactor:

[2019-01-24 08:16] jlmakes commented on #486
Be careful using `options.viewFactor`, that can cause unexpected behavior with very large elements. Also, ScrollReveal 4 adds `body { height: 100%; }` for you, so you no longer need to do that yourself.

There’s nothing else I can suggest besides to look through existing issues, until you provide some demonstration of the problem (either a link to your site, or a [JSBin](http://jsbin.com))

[2019-01-24 08:40] jlmakes commented on #486
Be careful using `options.viewFactor`, that can cause unexpected behavior with very large elements. Also, ScrollReveal 4 adds `body { height: 100%; }` for you, so you no longer need to do that yourself.

Can you provide some demonstration of the problem? (Either a link to your site, or a [JSBin](http://jsbin.com))

[2019-01-24 17:58] tiaz90 commented on #486
it's not easy on JSBin because my site run with four css file and it takes only one and i should put the entire html...i did as you told me, i removed height: 100% and the viewfactor, but the problem remains...maybe does it depend from the fact that i put all the ScrollReveal().reveal( target, options ) in the same script before the end of the body?

[2019-01-25 18:59] tiaz90 commented on #486
I've loaded the site:

https://exigeant-boresight.000webhostapp.com/

The ScrollReveal works only if you recharge, you can see it scrolling half page.

Thanks for your patience

[2019-01-26 01:04] jlmakes commented on #486
You’ve got a number of large images on the site, which can throw off element position/size calculations; if ScrollReveal checks before an image has finished loading, it's possible it’ll capture incorrect data.

That said, I'd first like you try adding `html { height: 100%; }` to your CSS.
(I didn’t think it was necessary, but I have a suspicion that it may make a difference in your case.)

[2019-01-26 09:33] tiaz90 commented on #486
It works, I set the html's height as you told me and now it's è perfect....Thank you very much for your patience, if you lived near me i would offer you a coffee.

[2019-01-29 22:56] klovrick opened #487 "slideDown() of an accordion field messes up following scrollReveal positioning"
When I have an accordion tab opened (it reveals a rather large amount of text), then scroll down, scrollReveal appears to be still referencing the following objects' original position as if the accordion was still closed. This results in all things revealing way before they are on screen, and if reset is set to true, disappearing when they really should be revealing.

I tried ScrollReveal().clean(

[2019-01-29 23:14] klovrick commented on #487
Welp. Just realized it was because I was having ScrollReveal().delegate() happen right when the accordion was clicked, rather than waiting for it's slideDown() to finish (400ms)...

[2019-01-29 23:14] #487 closed

[2019-02-02 23:58] FlatlineTV opened #488 "CDN Down?"
When trying to refer `https://unpkg.com/scrollreveal`, calls back with:

![02-02-2019 03-57-09pm](https://user-images.githubusercontent.com/13840075/52170658-51aa2100-2703-11e9-833d-5a0073771c2f.png)

[2019-02-03 09:51] jlmakes commented on #488
It appears to be working at the moment.

Perhaps UNPKG was having a problem, but you can always use a specific URI instead of relying on their resolver, i.e: `https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js`

This is the recommended practice for CDN use in production:

[2019-02-06 14:11] seppeclijsters opened #489 "Animation triggers again on click (using BarbaJS)"
Hello! I'm using barba.js, a library that helps you create fluid and smooth transitions between website pages. When I click on certain links to the next page, the fadein animation (with scrollreveal) will trigger again. You can check on http://dickytall.allaboutdigital.be/. When you click on the button "Meer projecten", the animation triggers again (see image below).

Here an example code:

[code]

[2019-02-07 00:44] jlmakes commented on #489
When I type `ScrollReveal()` into the console, it returns an unused instance; for example, the `pristine` property is `true` _and_ the `store` is empty... two things that should not be the case if `reveal()` has been called.

This surprises me because ScrollReveal 4 was designed to be a singleton — which suggests you are somehow loading multiple copies of ScrollReveal onto your page. My _guess_ wo

[2019-02-07 09:30] seppeclijsters commented on #489
Hello @jlmakes. Thanks for your fast reply again :).
You are correct. I installed scrollreveal with `npm install scrollreveal `and forgot to delete `<script src="https://unpkg.com/scrollreveal"></script>` (stupid me ..).

You can also check on http://dickytall.allaboutdigital.be/projects/ , when you click on a project.

I really appreciate any help you can provide.

[2019-02-07 10:04] dijkermans commented on #451
Hi, I've tested it with iOS9 and scrollrevealjs.org doesn't work. However, it does work on my site. The problem is "load-hidden". It works when you don't use it. I guess it doesn't override the CSS properly. It does work fine on iOS11+

[2019-02-07 19:44] jlmakes commented on #451
_Thank you @dijkermans!_

I really appreciate your insight; this issue has bugged me because I don't have access to those older versions of Safari... but your diagnosis makes a lot of sense!

[2019-02-13 12:15] stevenjoezhang commented on #369
Thanks, I have a similar issue, and adding `overflow-x: hidden;` to `<html>` (not `<body>`) works!

[2019-02-20 11:59] Alaamasoud commented on #36
Hi,
can you please explain how it's possible to trigger the animation when element exit the viewport?

thanks in advance

[2019-02-20 17:55] jlmakes commented on #36
@Alaamasoud you would have to use [`options.afterReset`](https://scrollrevealjs.org/api/after-reset.html)

[2019-02-25 22:20] MariuzM opened #490 "SR not working sometimes"
So i have this code, and sometime on Chrome it works sometimes all images are just displayed. On firefox i'm having more issues more times if not all the time that it does not work. Am i missing something?

[code]

[2019-02-26 19:05] jlmakes commented on #490
You have to be careful when revealing images. Images typically change dimensions while the page is loading, from a small empty square to the final image. If you use ScrollReveal without waiting for your images to finish loading, ScrollReveal will operate on the small empty squares.

[2019-02-26 19:09] jlmakes commented on #490
You have to be careful when revealing images.

Images typically change dimensions while the page is loading (from a "small empty square" to the final image). If you use ScrollReveal without waiting for your images to finish loading, ScrollReveal will operate on these "small empty squares".

This has negative consequences, because the dimensions and visibility properties will be incorrect. I recomm

[2019-02-26 19:10] MariuzM commented on #490
I see i will try something and will report back tomorrow

[2019-02-26 20:30] MariuzM commented on #490
I think it worked for now, i will close this case tomorrow just want to do some more testing but this is what i used:

[code]

[2019-02-28 06:24] #490 closed

[2019-03-04 20:42] #416 closed

[2019-03-06 10:37] deodat opened #491 "Not working on page load when in view (using BarbaJS)"
### Environment

* Operating System: Mac
* Browser Version: Chrome and Firefox
* ScrollReveal Version: 4.0.5

Hello,

I’ve a problem with ScrollReveal on this page (preprod : invite / snnik8CFKXLB ) :
~https://preprod-liner.the-stash-house.fr/cas-pratique/saint-jean-de-monts/~ (broken)

the ScrollReveals animations work well except when “in view” on the page load... if I deactivate Barba, it works

[2019-03-13 10:49] romainpoirier commented on #196
Probably a related issue, but after testing the [demo website](https://scrollrevealjs.org) using [BrowserStack](https://www.browserstack.com/), I can confirm it doesn't work under Safari 10.1 (included, and older versions). This Safari version is still widely used on some older Macs.

[2019-03-13 10:51] romainpoirier commented on #451
Probably a related issue, but after testing the [demo website](https://scrollrevealjs.org) using [BrowserStack](https://www.browserstack.com/), I can confirm it doesn't work under Safari 10.1 (included, and older versions). This Safari version is still widely used on some older Macs.

[2019-03-18 23:18] elgandoz commented on #455
Hi @jlmakes,
I am doing exactly what you described above, but I'm having the same issue.
I'm using ScrollReveal **v4.0.5**.

[code]
[code]
[Here's a pen in action](https://codepen.io/elgandoz/full/vPaXdX).
When viewed with mobile UA the elements do not appear:

<img width="849" alt="Screen Shot 2019-03-19 at 10 04 48 am" src="https://user-images.githubusercontent.com/5859926/54569747-17d17780-4a30

[2019-03-19 01:54] jlmakes commented on #455
@elgandoz You are explicitly disabling ScrollReveal on mobile by using `options.mobile = false`

[code]

[2019-03-19 01:56] jlmakes commented on #455
@elgandoz You are explicitly disabling ScrollReveal on mobile using [`options.mobile`](https://scrollrevealjs.org/api/mobile.html) as `false`

[code]

[2019-03-19 04:26] elgandoz commented on #455
Hey @jlmakes, maybe I am misunderstanding, but isn't this the issue?

I would like to disable the animation on mobile AND using the anti-flicker technique, just like you explained in the [comment before mine](https://github.com/scrollreveal/scrollreveal/issues/455#issuecomment-420044096).

Trying the example you provided, I still run into the same problem.
I sorted it using a userAgent condition,

[2019-03-19 07:23] jlmakes commented on #455
@elgandoz Ah you're right, I misunderstood.

It does sound like a bug somewhere, because the class `sr` should not be present on `html` when ScrollReveal is non-operational:

https://github.com/scrollreveal/scrollreveal/blob/c98fad79f4750dfd80797414e7d94f1cddd2109c/src/instance/mount.js#L2

I’ll take a closer look.

[2019-03-27 11:17] habeebmaraikar opened #492 "Bought a Developer License"
Hi,

We have bought the developer license.

Where i need to add my license code in the scrollreveal js version 4 .

[2019-03-28 00:37] jlmakes commented on #492
There is nothing special you need to do. Presently, the license is just for your records.

[2019-03-28 00:37] #492 closed

[2019-04-01 13:18] precious-adeyinka commented on #338
Hello, @pepo972 did you finally figure it out, I am having this same issue, everything u were typing would have been me typing, but the only sad thing is I can't see anything like, 'yaay' it's working now... :disappointed:

[2019-04-01 23:30] jlmakes commented on #338
@precious-adeyinka The problem outlined in this issue was about source order — making sure that your script (and the DOM) has loaded before you try to use it (and manipulate the DOM).

[2019-04-03 14:58] MariuzM opened #493 "Reveal from Left or Right?"
Does scroll reveal have an option to reveal from Left or Right? Currently i'm only able to do this either from Bottom or Top

[code]

[2019-04-03 15:40] MariuzM commented on #493
Sorted using `origin: 'right',` worked :)

[2019-04-03 15:40] #493 closed

[2019-04-03 17:01] MariuzM opened #494 "Stagger animations?"
I have multiple `h1` does ScrollReveal have stagger mode similar to how AnimeJS does it? Reading doc and google nothing really comes up :(

[code]

For AnimeJS i would use this `delay: anime.stagger(300)` but i cant use AnimeJS because i want the animation to start when on scroll hence why using ScrollReveal. Maybe way to combine ScrollReveal with AnimeJS?

[2019-04-05 16:08] jlmakes commented on #494
Hey @MariuzM, try `options.interval`!

[code]

[2019-04-05 16:08] #494 closed

[2019-04-11 12:25] sirbene opened #495 "Sequential Animation not working"
Hi there!
I've tested many reveal plugins and this is by far the best one, nice work!

This is my setup:

[code]

The sequential animation of my grid-items is working here but I need a different reveal-animation so I've tried this:

[code]

Now my grid-items won't appear in a sequence, they are all shown at once. What did I wrong?
Thanks in advance! :)

edit: The sequence is working for the grid-i

[2019-04-12 06:28] jlmakes commented on #495
@sirbene The [`reveal()`](https://scrollrevealjs.org/api/reveal.html) method only accepts two arguments, but you've passed three in your example snippet:

[code]

So the 3rd argument (the `{ delay: 600, interval: 300 }` object) is being ignored. I understand why you separated the options, but you'll need to combine them into one object, e.g. using [Object.assign()](https://developer.mozilla.org/en

[2019-04-12 06:28] #495 closed

[2019-04-12 06:35] jlmakes commented on #495
A modern solution would use the [Object spread operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax) (ES2018):

[code]

This looks cleaner, but you'll need Babel (or some other transpilation step) to use it. Otherwise [`Object.assign()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign) accomplishes the sa

[2019-04-12 06:35] jlmakes commented on #495
Also just thought I'd mention...

A modern solution would use the [Object spread operator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax) (ES2018):

[code]

This looks cleaner, but you'll need Babel (or some other transpilation step) to use it. Otherwise [`Object.assign()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/

[2019-04-19 00:01] rh-erivera commented on #384
Hey guys, Ive been able to achieve this affect with the following code:
[code]
I am using this on a SPA with multiple references to `.med-img` that are dynamically generated. So the problem right now is that the origin alternates as I scroll past each `.med-img`. Only solution I can think of is giving each piece content a unique ID. Any ideas for a more elegant solution?

[2019-04-21 17:18] molvqingtai opened #496 "https://scrollrevealjs.org is not working"
**browser**
The response time of scrollrevealjs.org is too long.

**Ping**
ping: unknown host https://scrollrevealjs.org/

[2019-05-21 05:17] andyduo opened #497 "Interval (sequential) animation is not working correctly, first item is skipped"
Having an issue where an interval animation is not working correctly. The annoying thing is it was working fine all day then suddenly the first image in the sequence started appearing without the reveal so it's visible immediately (all objects are within the browser window on load). Here is my sequence:

[code]

So the first item no longer slides up 50px or is delayed by 1500. I thought maybe it w

[2019-05-23 19:27] jlmakes commented on #497
@andyduo If it _was_ working and spontaneously stopped, I'm not sure how to help. In the past, caching and script execution order has contributed to hard-to-pin-down issues like this... but nothing comes to mind.

If you reproduce the unwanted behavior (JSBin, Codepen, etc.), I will take a closer look.

[2019-05-23 19:28] jlmakes commented on #497
@andyduo If it _was_ working and spontaneously stopped, I'm not sure how to help. In the past, caching and script execution order has contributed to hard-to-pin-down issues like this... but nothing comes to mind. If you reproduce the unwanted behavior (JSBin, Codepen, etc.), I will take a closer look.

[2019-05-30 18:18] lostnotstranded opened #498 "Add class on scroll animation"
It would be really cool if we could add a class to an element when it scrolls into viewport. That way really customized animations can be done with ScrollReveal.

[2019-06-01 10:04] jlmakes commented on #498
This can be monkey patched (see: #394) but you're right—it would be nice if that was supported out of the box. And one day (soon?) it will! 🙂

[2019-06-01 10:04] #498 closed

[2019-07-04 21:03] jlmakes commented on #451
Can confirm the library _does_ work in these browsers, it's just the CSS I’ve used for the site's color bar demo that does not play nicely in Safari 10.

Specifically, it's the `.demo__bar__wrapper` that renders with `height: 0` for yet undetermined reasons.

[2019-07-10 11:13] evoactivity opened #500 "Centered elements using transform"
https://jsbin.com/yalacogiyu/edit?html,js,output

The blue box should show the moment it's first pixel is in the viewport but because of the `top: 50%` it seems scroll reveal is thinking it's not in the viewport until half of it is. Seems the negative transform is not accounted for in viewport calculations?

### Environment

* Operating System: osx mojave
* Browser Version: latest
* ScrollReveal V

[2019-07-11 01:10] jlmakes commented on #500
You're right, the element's true position is used instead of its transformed position.

This is actually by design, because otherwise element reveal animations themselves throw off geometry calculations. For example, if we _did_ honor transformed positions, and we were to write code like this:

[code]

Each call to `reveal` takes the current/transformed position and transforms it again. Our `el` t

[2019-07-11 01:10] #500 closed

[2019-07-11 01:27] #429 closed

[2019-07-16 09:41] Umair45 opened #501 "Can I start scroll animation when the specific portion of div is in viewport"
Hi,

First of all thanks for this library. I've one thing to ask.

I need to start animation only once a specific link is in the viewport in my banner, I've added my banner here. please open the following link and scroll down to see the banner area and animation:

http://kitndkaboodle.com/banner/

I've applied animations on the statistics and bottom link and its works fine as required. But I want

[2019-07-17 00:41] jlmakes commented on #501
There isn’t first-class support separating visibility checks from animation triggers. You’ll have to devise a workaround to achieve this behavior with the current version of ScrollReveal (4.x).

Here’s an idea you can try. If you manually hide the statistics elements, you can reveal them in the `afterReveal` callback of a `reveal()` call on the link element. For example:

[code]

Something like th

[2019-07-17 00:45] jlmakes commented on #501
There isn’t first-class support separating visibility checks from animation triggers. You’ll have to devise a workaround to achieve this behavior with the current version of ScrollReveal (4.x).

Here’s an idea you can try. If you manually hide the statistics elements, you can reveal them in the `afterReveal` callback of a `reveal()` call on the link element. For example:

[code]

Something like th

[2019-07-17 06:18] Umair45 commented on #501
Thanks a million for getting into my issue and reply.
But my query was that this reveal animation should only happen when anchor above the red line is in the viewport. Right now, it starts animation once the starting point of my banner is in the viewport and its not taking any notice that wheather elements in the banner are in the viewport or not. Its just get started the animation.
but I found so

[2019-07-17 08:17] PubliAlex opened #502 "Simple way to add class to visible elements"
Hi there,

I saw many feature requests about the possibility to simply add a class to a visible element in order to make CSS animation when the features provided by scrollReveal are too much limited (or you just prefer managing animations using CSS).

All that requests are closed whereas the idea is not rejected, we only have a non official monkey patch for that. Just wonder if it will become a tr

[2019-07-17 11:00] #501 closed

[2019-07-17 23:08] jlmakes commented on #502
Thanks for this @PubliAlex. The short answer is yes, first-class support for this is coming.

Since launch ScrollReveal has boasted declarative reveal animations with as little as one line of code. I believe this _"do one thing and do it well"_ approach has been essential to its adoption and growth. In the past I’ve aggressively declined feature requests so that:

* It’s stays easy to learn.
* The

[2019-07-18 00:56] #491 closed

[2019-07-18 01:48] #489 closed

[2019-07-18 01:48] #497 closed

[2019-07-23 13:03] sirbene commented on #495
I forgot to thank you, it's working nicely now!

I know this is a closed post, but I have a question: Is it possible to achieve a image-scrolling-effect like [this](https://www.woodagency.de/) with scrollreveal? If you scroll the page down, the image will receive a dynamic translate3d on the y-axis between 0% and max. +25% (based on the scroll location). If you scroll the page up, it will be reser

[2019-07-24 07:43] jlmakes commented on #495
Good to hear @sirbene

For that effect, I believe you would need some sort of "scroll progress" value. ScrollReveal does not presently have such a feature, but will in the future.

[2019-08-31 22:03] probablykasper opened #503 "Sometimes not working"
It seems that when scrolling is not smooth, all content on the page will already be visible when you scroll down to it. If I scroll down a page, it might work fine initially, but then the bug is triggered, and all the remaining elements become visible.

Usually this is only triggered when I scroll very fast. When my CPU is fired up, it happens much more frequently due to scrolling being a bit lagg

[2019-10-02 14:06] InTheScript opened #506 "Only triggers one the top edge of the element is in the viewport"
When scrolling **up from the bottom** of the page elements are not revealed until the top edge is within the viewport, when scrolling up the bottom edge of the element coming into view should trigger the reveal - especially where viewFactor is set to 0.0.

### Environment

* Operating System: Mac OS
* Browser Version: Chrome Version 77.0.3865.90
* ScrollReveal Version: v4.0.5

[2019-10-07 20:29] caseyzman opened #507 "Scroll reveal targets not triggered in accordian when opened"
https://jsfiddle.net/oqhjayck/

Reveal targets are not triggered when they are inside of accordians, tabs, etc when their respective accordion is opened. See fiddle example above.

**Note**: if the specific accordion is clicked/opened, and then the window is resized, those targets will now animate.

### Environment

* Operating System: OSX
* Browser Version: Firefox
* ScrollReveal Version: 4.0.5

[2019-10-16 18:34] night-fear commented on #506
[ScrollRevel.pptx](https://github.com/scrollreveal/scrollreveal/files/3735837/ScrollRevel.pptx)

I Attach Demo for the same problem

**The Change Option I Change**

`  ScrollReveal().reveal('.anim', {
              delay: 0,
              reset: true,
              scale: 0.5,
              desktop: true,
              mobile: true,
              viewFactor: .5,
              opacity: 1,

[2019-10-17 01:56] bmgdev commented on #471
Any updates on this issue? You're right, ScrollReveal works great in FF - but in Chrome this onload issue has rendered SR useless as the animations are inconsistent. Curious if there will be a fix?

[2019-10-21 11:26] GaddMaster opened #508 "Where Do I Read if This Package Lazy Loads Components"
Does it actually load everything but simple hides?

I wondering as trying to lazy load components for faster page load speeds?

Daniel

[2019-10-21 17:39] jlmakes commented on #508
Using ScrollReveal to animate elements (as their visibility changes) does not alter how those elements load. If you'd like to lazy load images you're revealing, it's up to you to implement that — and either [`reveal`](https://scrollrevealjs.org/api/reveal.html) or [`sync`](https://scrollrevealjs.org/api/sync.html) in a callback for ScrollReveal.

[2019-10-21 17:39] #508 closed

[2019-10-26 13:55] VidyChan commented on #299
Sorry for reopening this old issue but none of the methods mentioned works. I ended up going through the code at https://scrollrevealjs.org/ and found out that you need to add `interval: 220`
(or your value) to the options

[code]

[2019-11-04 10:44] TomDeSmet commented on #471
Having the same issues. Not a word on a fix yet?

[2019-11-29 20:02] jorgeemherrera commented on #437
Hi jlmakes, I have the same issue, the first time the opacity element of list is showed, but if you go to other link and come back, the las section put the opacity:0  and the error:

    at ScrollReveal.isElementVisible (scrollreveal.js:1363)
    at scrollreveal.js:1421
    at scrollreveal.js:199
    at Array.forEach (<anonymous>)
    at each (scrollreveal.js:199)
    at scrollreveal.js:1417
    a

[2019-12-03 09:05] frankyphilip commented on #335
Can you tell me why does this violation come?

[2020-01-15 08:55] liganggang commented on #20
is there a requirement for the angularjs version?
according to documentation, failed!

[2020-01-27 20:11] HoehensteigerGames opened #509 "scrollreveal / vue-scroll-reveal Typescript"
HI,

i am trying to use  scrollreveal for vue. I saw in another Issue that there is a vue-scroll-reveal project. I imported the vue-scroll-reveal. My problem is that i am working with Typescript. Is there a Version of scrollreveal or vue-scroll-reveal where i can use @types/vue-scroll-reveal or someting like that. Or is there an d.ts file available? I Hope anyone can help me to use scroll reveal i

[2020-02-08 22:59] rascii commented on #59
This should be added as an option.

[2020-02-13 12:52] mikehoh commented on #437
The same problem in vuejs app (SPA mode).
- Open page, block appears with sr.
- For example we have a link inside this block
- Click on it and it opens another page
- Go back to previous page
- Get this error in console:
[code]

[2020-02-14 01:25] jlmakes commented on #437
Hmm, perhaps the stateful nature of ScrollReveal is causing problems: it sounds like internal store has a reference to an element without geometry data (i.e. bounds and position).

Hey @mikehoh, just out of curiosity, do you mind making a quick change to your local copy of ScrollReveal to test a possible solution?

https://github.com/scrollreveal/scrollreveal/blob/c98fad79f4750dfd80797414e7d94f1cd

[2020-02-14 01:28] jlmakes commented on #437
Hmm, perhaps the stateful nature of ScrollReveal is causing problems: It sounds like internal store has a reference to an element without geometry data (i.e. bounds and position).

Hey @mikehoh, just out of curiosity, do you mind making a quick change to your local copy of ScrollReveal to test a possible solution?

https://github.com/scrollreveal/scrollreveal/blob/c98fad79f4750dfd80797414e7d94f1cd

[2020-02-28 12:09] AysunSachir commented on #345
Hello,

A question just to clarify some aspects for the commercial license.
Me, as a developer, I'm working as an employee at an agency that has website. If I use the plugin when creating the website, do I need to buy a license?

[2020-02-28 18:28] jlmakes commented on #345
@AysunSachir Thanks for reaching out! If your employer is comfortable open sourcing their website under the GPLv3 license, they don't need to purchase anything. Otherwise, they should buy a license according to the size of their developer team.

[2020-02-28 19:45] AysunSachir commented on #345
@jlmakes Thanks! The website is actually a static version of html/css with a few jquery plugins. Not sure how an organisation would make this open source?

[2020-02-28 20:08] jlmakes commented on #345
I understand why you say that, as it's not a product or tool — but it really just means they would make those static files available for download explicitly under the GPLv3 license. This helps others learn, and grants them freedom to use any helpful code snippets employed on the site.

[2020-02-28 20:10] AysunSachir commented on #345
Ah ok, now it makes sense. I will talk with them about this.
Thank you for taking the time to reply!

[2020-03-04 05:00] #503 closed

[2020-03-11 01:57] allaire commented on #231
@jlmakes Sorry for bringing this up from the death, but I just experienced this weird issue. My `vendor.js` file is just before the closing `</body>`.

When I have:

[code]
I get the following:

`<div class="features__image-wrapper js-sr js-features__image-wrapper-left" data-sr-id="0" style="visibility: visible; opacity: 1; transition: none 0s ease 0s, opacity 0.6s ease-in 5s;">` with `transition:

[2020-03-11 13:28] allaire opened #510 "Outdated clean doc"
There is a warning that clean is called in the callback, but with cleanup set to false by default this is not the case anymore: https://scrollrevealjs.org/api/clean.html

[2020-03-11 13:49] allaire opened #511 "reveal() reset when using afterReveal and scrolling fast"
How to duplicate: https://jsfiddle.net/fv26x9db/1/

Scroll up and down, you'll see that the header text and the footer text keeps animating.

It works as expected when you comment out the `afterReveal` callbacks: https://jsfiddle.net/frxqmoh4/1/

[2020-03-13 19:45] #510 closed

[2020-03-14 00:36] jlmakes commented on #511
I'm comparing changes in element state, and focusing on `{ revealed: false }` being set _after_ the element has revealed. `revealed = false` occurs three times in the source, and only one looks guilty:

https://github.com/jlmakes/scrollreveal/blob/66f44ab08c3cd0a3df7ced9b2e01e4ffcf809cb2/src/instance/functions/initialize.js#L7-L21

`Line 10` seems an insufficient condition, and the following `else